/* 
    Document   : default.css
    Created on : 15-oct-2015, 18:38:06
    Author     : carlosguaman65
    Description:
        Purpose of the stylesheet follows.
*/

.ui-widget, .ui-widget .ui-widget {
    font-size: 80%;
}





/*.ui-widget {
    font-size: 90%;
 }
.ui-widget .ui-widget {
    font-size: 100%;
 }*/