/* 
    Document   : template
    Created on : 16/12/2012, 04:05:34 PM
    Author     : Paul
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.vinculoMenuAdministracion a:link{
    color:#000 !important;
    text-decoration: none !important;
    font-size: 11px !important;
}

.vinculoMenuAdministracion a:visited {
    color:#000 !important;
    text-decoration: none !important;
}

a:link {
    color:#003300 !important;
    text-decoration: none !important;
    font-size: 11px !important;
}

a:visited {
    color:#003300 !important;
    text-decoration: none !important;
}

a:hover {
    color:#900 !important;
    text-decoration: none !important;
}

a:active {
    color:blue !important;
    text-decoration: none !important;
}

body {
    font-family:Arial, Helvetica, sans-serif !important; 
    font-size: 10px;
    margin-left: 100px;
    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 0px;
    background-image: url(/CentroSurCM/faces/imagenes/fondo.png) !important; 
    background-repeat: repeat-x;
}

.salir{
    color: #000;
}

.blanco {
    color: #FFF;
}

.arial {
    font-family: Arial, Helvetica, sans-serif !important;
    color: #FFF;
}

.activo
{
    background:url(/CentroSurCM/faces/imagenes/fondoVerde.png) !important;
    color:#FFF !important;
}

.inactivo
{
    background:url(/CentroSurCM/faces/imagenes/fondoVerde2.png) !important;
    color:#FFF !important;
}

.bordeIzquierdo{
    border-left:#CCC !important;
    border-left-style:ridge !important;
}

.bordeDerecho{
    border-right:#CCC !important;
    border-right-style:ridge !important;
}

.peqGris{
    font-size: 11px;
    color: darkslategrey;
    text-align: right; 
}

.formulario{
    font-size: 11px;
    color:darkslategray;
}

.labelItem{
    font-size: 12px;
}

.inputTextArea{
    font-size: 12px;
}

.bot_next{
    background: transparent; 
    color: #FFFF66; 
    border: 0px;
}
.cont_next{
    z-index: 3;
    position: absolute;
    right: 110px;
    height: 40px;
}

.botonPreparado{
    width:100px;
    height:30px;
    background-image: url(/CentroSurCM/faces/imagenes/imgverde.png) !important;
    font-weight: bold; 
}

.botonNopreparado{
    width:150px;
    height:30px; 
    margin-left:20px;
    background-image: url(/CentroSurCM/faces/imagenes/imgrojo.png) !important;
    font-weight: bold;
}

.botonDerecho{
    position: absolute;
    right: 120px;
    width:120px;
    height:40px;
    font-size: small;
    font-weight: bold;    
}

.botonDerechoG{
    position: absolute;
    right: 140px;
    width:140px;
    height:40px;
    font-size: small;
    font-weight: bold;    
}

.selectOne{
    font-size: 12px;
}

.botonNuevo{
    background-image: url(../../imagenes/nuevo.png) !important;
    width: 18px;
    background-repeat: no-repeat;
}
.botonBuscar{
    background-image: url(../../imagenes/buscador.png) !important;
    background-repeat: no-repeat;
}

.botonEliminar{
    background-image: url(../../imagenes/eliminar.png) !important;
    width: 18px;
    background-repeat: no-repeat;
}

.botonImprimir{
    background-image: url(../../imagenes/imprimir.png) !important;
    width: 20px;
    background-repeat: no-repeat;
}

.botonModificar{
    background-image: url(../../imagenes/modificar.png) !important;
    width: 18px;
    background-repeat: no-repeat;
}
.botonRefrescar{
    background-image: url(../../imagenes/refrescar.png) !important;
    width: 18px;
    background-repeat: no-repeat;
}

.botonSeparador{
    width: 85%;
}

.botonModulo{
    height: 20px;
    color: #FFFF66;
    background-color: #003300;
}

.labelError{
    font-size: 14px;
    color: #0000FF;
}

.labelErrorr{
    font-size: 14px;
    color: #FF0000;
}

.labelBlack{
    font-size: 12px;
    color: #000000;
    font-weight:bold;
}

.labelInfor{
    font-size: 12px;
    color: #0000FF;
}

.verMas{
    background: none;
    border: none;
    font-size: 13px;
    color: #0000FF;
}

.labelInfo{
    font-size: 11px;
    color: #000000;
}

.linkStyle{
    border: 1px solid #999;
    padding:1px 4px 1px 4px;
    color: #900;
    background-color: #EEEEEE;
    margin-right: 10px;
    display: inline;
    cursor:pointer;
}

.columna1{
    width: 100px;
}

.table td tr{
    height: 30px;
}

#scrolltable{
    width: 920px; height: 300px;
    overflow-y: scroll;
    overflow-x: auto;
}
.extdt-content{
    height: 100% !important;
}

.extdt-innerdiv{
    top: 0px;
    left: 0px;
    position: absolute;
    overflow-x:auto !important;
    overflow-y:auto !important;
}

.preformatted {
    white-space: pre;
}

h3 { 
    display: block;
/*    font-size: 2em;*/
    color: blue;    
}