<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:rich="http://richfaces.org/rich"
             xmlns:a4j="http://richfaces.org/a4j"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:cj="http://java.sun.com/jsf/composite/components"
             >
    <ui:define name="content">      
            <h:form id='agregarZona'>
             <div  style=" width: 150px;
                      position: absolute;
	              right: 80px;
	              top:   80px;
		      bottom: 250px; ">
                    <a4j:commandButton value="Crear Zona"
                                       action="#{ctrAdministracionZonas.guardarNuevaZona}" 
                                       disabled="#{ctrAdministracionZonas.controlGuardar}"
                                        style="position: absolute ; right: 20px;  width:100px ;height:30px ;font-size: medium ; font-weight: bold;" >
                        <f:ajax  event="click"  render="out @this descripcion codigo" execute="agregarZona"/>
                    </a4j:commandButton>
              </div>
                     <br/>
                

                    <h:outputLabel value="Descripción:" style="labelItem"/> <br/>
                    <h:inputText id="descripcion" value="#{ctrAdministracionZonas.descripcion}"    
                                 style=" font-size: small; width:430px; resize:  none " 
                                 maxlength="100" styleClass="inputText" />
                    <br/><br/>
                     <h:outputLabel value="Codigo de Zona:"  style="labelItem"/> <br/>
                    <h:inputText  id="codigo" value="#{ctrAdministracionZonas.codigo}" maxlength="100" styleClass="inputText"/>
                    <br/><br/>
                    <h:outputLabel  id="out" value="#{ctrAdministracionZonas.mensaje}" />
       

              

             </h:form>
        
          <h:form >
                   <h:panelGrid columns="3">

                                    <h:panelGrid columns="1"  style="width:200px; height: 400px; position: static; font-size: small" >
                                                <rich:panel>
                                                    <f:facet name="header">
                                                         <h:outputLabel value="Subestacion"   style="font-weight: bold; text-align: center ;font-size: medium"  />
                                                    </f:facet>

                                                    <h:selectOneListbox id="subestaciones" value="#{ctrAdministracionZonas.subestacion}" converter="subestacionConverter"
                                                                    valueChangeListener="#{ctrAdministracionZonas.onSelectSubestacionItem}"
                                                                    
                                                                    style="width:200px; height: 300px; position: static">
                                                        <f:ajax event="change"  render="@this alimentadores " />
                                                                      <f:selectItems value="#{ctrAdministracionZonas.listaSubestaciones}"
                                                                                     var="t" itemLabel="#{t.descripcion}" itemValue="#{t}" />

                                                 </h:selectOneListbox>

                                                </rich:panel>
                                    </h:panelGrid>


            `                        <h:panelGrid columns="1"  style="width:470px; height: 300px; position: static; font-size: small" >
                                     <rich:panel >
                                                <f:facet name="header">
                                                    Alimentadores
                                                    </f:facet>

                                                    <rich:pickList  id="alimentadores"  converter="alimentadorConverter"
                                                                    switchByClick="true"
                                                                    
                                                                    value="#{ctrAdministracionZonas.listaAlimentadoresSeleccionados}"
                                                                    sourceCaption="Alimentadores Disponibles" targetCaption="Alimentadores Seleccionados"
                                                                     listWidth="165px" listHeight="100px" orderable="false" 
                                                                   valueChangeListener="#{ctrAdministracionZonas.onSelectAlimentadorItem}"
                                                                   >
                                                         <f:ajax  event="click"  render="@this "  />
                                                        <f:selectItems value="#{ctrAdministracionZonas.listaAlimentadores}" 
                                                                        var="alimentador" itemValue="#{alimentador}"
                                                                        itemLabel="#{alimentador.codigo}"/>

                                                    </rich:pickList>
                                   </rich:panel>
                                   </h:panelGrid>

                 </h:panelGrid>
          </h:form >                       
          
    </ui:define>
</ui:composition>
