<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    >
    <h:head>
        <title>Lista de Usuarios</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form>
                    <div><b>ADMINISTRACION</b></div><br />
                    <center>
                        <div style="width: 70%; table-layout:fixed;">
                            <h:panelGrid columns="3" width="100%">
                                <c:forEach items="#{ctrModulos.listaSubModulos}" var="submodulos">
                                    <c:if test="#{!submodulos.url.equals('frmAdministracion.xhtml')}">
                                        <h:panelGrid columns="1">
                                            <h:outputLink value="#{submodulos.url}">
                                                <h:graphicImage url="../imagenes/#{submodulos.icono}" />
                                            </h:outputLink>
                                            <h:outputLabel value="#{submodulos.nombre}" />
                                            
                                            
                                        </h:panelGrid>
                                    </c:if>
                                </c:forEach>
                            </h:panelGrid>
                        </div>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
