<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        <title>Lista de Campañas</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form>
                    <div><b>ADMINISTRACION / CREAR NUEVA CAMPAÑA</b></div><br />
                        <h:form>
                            <cj:toolbar ctrGeneral="#{ctrCampanias}"  titulo="" listadoAccion="" verBtn1="false" verBtn10="false"  verAuditoria="false" verImprimir="false" paginaRedireccionEliminar="frmAdministracionCampanias.xhtml"/>
                            <cj:dataTable  controlador="#{ctrCampanias}"  numeroFilas="15" anchoGrilla="100%" /> 
                        </h:form>
                        <cj:popAuditoria controlador="#{ctrCampanias}" titulopop="Auditoria"/>
                        <cj:popMessage /> 
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
