<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        
        <title>Mantenimiento de Servidores Asterisk</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroTeams">
                        <div><b>Mantenimiento de Servidores Asterisk</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel value="Host" styleClass="labelItem"/>
                                    <h:inputText   id="parHost" value="#{ctrAsteriskServer.selAsteriskServer.host}" maxlength="100"  styleClass="inputText" readonly="#{ctrAsteriskServer.atriEditable}" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parHost" />
                                    
                                    <h:outputLabel value="Puerto" styleClass="labelItem"/>
                                    <h:inputText id="parPuerto" value="#{ctrAsteriskServer.selAsteriskServer.puerto}" maxlength="200" styleClass="inputText" required="true" requiredMessage="Campo obligatorio" rendered="true"/>
                                    <rich:message for="parPuerto" />
                                    
                                    <h:outputLabel value="Usuario" styleClass="labelItem"/>
                                    <h:inputText id="parUsuario" value="#{ctrAsteriskServer.selAsteriskServer.usuario}" maxlength="200" styleClass="inputText" required="true" requiredMessage="Campo obligatorio" rendered="true"/>
                                    <rich:message for="parUsuario" />
                                    
                                    <h:outputLabel value="Clave" styleClass="labelItem"/>
                                    <h:inputText id="parClave" value="#{ctrAsteriskServer.selAsteriskServer.clave}" maxlength="200" styleClass="inputText" required="true" requiredMessage="Campo obligatorio" rendered="true"/>
                                    <rich:message for="parClave" />
                                    
                                    <h:outputLabel value="Base de datos" styleClass="labelItem"/>
                                    <h:inputText id="parDatos" value="#{ctrAsteriskServer.selAsteriskServer.basedatos}" maxlength="200" styleClass="inputText" required="true" requiredMessage="Campo obligatorio" rendered="true"/>
                                    <rich:message for="parDatos" />
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrAsteriskServer.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrAsteriskServer.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrAsteriskServer.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrAsteriskServer}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionServerAst" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>