<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    
        <style>
        .everyThirdDay{ 
            background-color:gray;
            
        }
        .weekendBold{
            font-weight:bold;
            font-style: italic;
        }
        
    </style>
    <script type="text/javascript">
        var curDt = new Date();
        function disablementFunction(day){
            if (day.isWeekend) return false;
            if (curDt==undefined){
                curDt = day.date.getDate;
            }
            if (curDt.getTime() - day.date.getTime()) 
                return true; 
            else 
                return false;  
        }
        function disabledClassesProv(day){
            if (curDt.getTime() - day.date.getTime()) 
                return 'rich-calendar-boundary-dates';
            var res = '';
            if (day.isWeekend) res+='weekendBold ';
            if (day.day%3==0) res+='everyThirdDay';
            return res;
        }
    </script>
    <ui:define name="content">  
        <h:form>
            <div><b>AGENDAR UNA LLAMADA</b></div><br />
            <h:outputLabel value="#{ctrAgendamiento.msjError}" styleClass="labelError"/>
            <h:panelGrid columns="2" styleClass="formulario">

                <h:form>
                    <h:panelGrid columns="3" styleClass="formulario">
                        
                        <h:outputLabel value="Agente que registra: " styleClass="labelItem"/>
                        <h:inputText  value="#{ctrAgendamiento.nomAgente}" id="agenteRegistra"  maxlength="100" styleClass="inputText" readonly="true"/> <br />
                        
                        <h:outputLabel value="Número de crédito: " styleClass="labelItem"/>
                        <h:inputText  value="#{ctrAgendamiento.numeroCredito}" id="agenteAgendado"  maxlength="100" styleClass="inputText" readonly="true"/> <br />
                        
                        <h:outputLabel value="Asignar a un agente de cobranza: " styleClass="labelItem"/>
                        <h:selectBooleanCheckbox id="camp" value="#{ctrAgendamiento.asignacionAgente}" disabled="#{ctrAgendamiento.habilitarcheck}">
                            <a4j:ajax render="refrescarAsignacion" />
                        </h:selectBooleanCheckbox>
                        <br />
                        
                        <h:panelGrid id="refrescarAsignacion">
                            <h:outputLabel value="Agente de Cobranza: " styleClass="labelItem" rendered="#{ctrAgendamiento.asignacionAgente}"/>
                            <h:inputText  value="#{ctrAgendamiento.agenteCobranza}" id="agenteAgendadofd"  maxlength="100" styleClass="inputText" readonly="true" rendered="#{ctrAgendamiento.asignacionAgente}"/>
                        </h:panelGrid>
                        
                        </h:panelGrid>
                        <h:panelGrid columns="5" styleClass="formulario">

                        <table style="text-align: left; border-width: 1; width:200px; border-spacing: 0; border: 1;">
                                <tr>
                                    <td>
                                        <h:outputLabel value="Hora de Agendamiento: " />
                                    </td>
                                    <td style="width:90%">
                                        <rich:inputNumberSpinner value="#{ctrAgendamiento.horas}" maxValue="23" inputSize="1"/>
                                        <rich:inputNumberSpinner value="#{ctrAgendamiento.minutos}" maxValue="59"  inputSize="1"/>
                                    </td>
                                </tr>
                            </table>
                        </h:panelGrid>
                    <h:commandButton value="Agendar" action="#{ctrAgendamiento.agendarLlamada()}" /><br /><br /><br />
                   
                </h:form>

            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>