<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:rich="http://richfaces.org/rich"
             xmlns:a4j="http://richfaces.org/a4j"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:cj="http://java.sun.com/jsf/composite/components"
             >
 <ui:define name="content">      
     <h:form >
 
  <h:panelGrid columns="2">

     
            `             <h:panelGrid columns="1"  style="width:300px; height: 400px; position: static; font-size: small" >
                                     <rich:panel >
                                                <f:facet name="header">
                                                    Zonas
                                                    </f:facet>

                                                    <rich:pickList  id="agentes"  converter="asignacionAgentesConverter"
                                                                    switchByClick="true"
                                                                    
                                                                    value="#{ctrAsignacionAgentes.agentesAsignados}"
                                                                    sourceCaption="Agentes" targetCaption="Agentes Disponibles"
                                                                     listWidth="165px" listHeight="100px" orderable="false" 
                                                                   valueChangeListener="#{ctrAsignacionAgentes.onSelectAgenteItem}"
                                                                   >
                                                         <f:ajax  event="click"  render=" "  />
                                                         <f:selectItems value="#{ctrAsignacionAgentes.agentes}" 
                                                                        var="agente" itemValue="#{agente}"
                                                                        itemLabel="#{agente.nombre}"/>

                                                    </rich:pickList>
                                   </rich:panel>
                                   </h:panelGrid>
                         
               <a4j:commandButton value="Guardar"
                                  action="#{ctrAsignacionAgentes.actualizarAgentesAsignados()}" >
                        <f:ajax  event="click"  render="agentes" />
               </a4j:commandButton>
                
   </h:panelGrid>

 </h:form>
    </ui:define>
</ui:composition>
