<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    >
    <h:head>
        <title>Lista de Usuarios</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form>
                    <div><b>BUSCAR CLIENTE</b></div><br />
                    <h:panelGrid columns="2" styleClass="formulario">

                        <h:form>
                            <h:panelGrid columns="2" styleClass="formulario">
                                <h:outputLabel value="Buscar por: " styleClass="labelItem" />
                                <h:selectOneRadio id="busca" value="#{ctrCobranzaSaliente.tipoBusqueda}" immediate="true" styleClass="selectOne">
                                    <f:selectItem itemLabel="Cédula del Cliente" itemValue="1" />
                                    <f:selectItem itemLabel="Número de Crédito" itemValue="2" />
                                    <a4j:ajax render="refrescar3" />
                                </h:selectOneRadio>  
                            </h:panelGrid>
                            <h:panelGrid columns="2" styleClass="formulario" id="refrescar3">
                                <h:outputLabel value="Cédula: " styleClass="labelItem" rendered="#{ctrCobranzaSaliente.verCedula}"/>
                                <h:inputText  value="#{ctrCobranzaSaliente.busCedula}" id="agenteRegistra"  maxlength="100" styleClass="inputText" rendered="#{ctrCobranzaSaliente.verCedula}"/> 
                                
                                <h:outputLabel value="Número de Crédito: " styleClass="labelItem" rendered="#{ctrCobranzaSaliente.verNumCredito}"/>
                                <h:inputText  value="#{ctrCobranzaSaliente.busNumCredito}"   maxlength="100" styleClass="inputText" rendered="#{ctrCobranzaSaliente.verNumCredito}"/> 
                                <h:commandButton value="Buscar" onclick="#{ctrCobranzaSaliente.buscarCliente()}"/>
                            </h:panelGrid>
                            <br />
                            <rich:extendedDataTable value="#{ctrCobranzaSaliente.listaBusqueda}"
                                                    var="busqueda" id="table" frozenColumns="2"
                                                    style="height:300px; width:100%" selectionMode="single"
                                                    >

                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Número de Crédito" />
                                    </f:facet>
                                    <h:outputText value="#{busqueda['numCredito']}" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Cédula" />
                                    </f:facet>
                                    <h:outputText value="#{busqueda['idCliente']}" />
                                </rich:column>
                                <rich:column width="250px">
                                    <f:facet name="header">
                                        <h:outputText value="Oficial de Cobranza" />
                                    </f:facet>
                                    <h:outputText value="#{busqueda['usuarioOficialCuenta']}" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Días de Mora" />
                                    </f:facet>
                                    <h:outputText value="#{busqueda['ndiasVencimiento']}" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Saldo" />
                                    </f:facet>
                                    <h:outputText value="#{busqueda['saldoCapital']}" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Seleccione" />
                                    </f:facet>
                                <a4j:commandLink styleClass="no-decor" immediate="true"  oncomplete="abrir();" value="Seleccionar">
                                    <a4j:param name="data11" value="#{busqueda['numCredito']}" assignTo="#{ctrCobranzaSaliente.numero}"/>
                                </a4j:commandLink>
                                <a4j:jsFunction name="abrir" action="#{ctrCobranzaSaliente.abrirPagina()}" />
                                </rich:column>

                            </rich:extendedDataTable>
                        </h:form>

                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
