<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components">
    <h:head>
        <title>Mantenimiento de Campañas</title>        
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form id="allForm">
                    
                    <h:panelGrid columns="1">
                        <rich:fileUpload addLabel="Seleccionar archivo" clearAllLabel="Quitar todos"
                            style="width: 350px; height: 100px; border: 0; text-align: left;"
                            clearLabel="Quitar" deleteLabel="Quitar"
                            doneLabel="Completado" uploadLabel="Subir registros"
                            fileUploadListener="#{ctrCampaniasMensajeDefinido.processFileUpload}" id="upload" acceptedTypes="xls"
                            ontyperejected="alert('Solo formatos XLS son aceptados');" maxFilesQuantity="1">
                            <a4j:ajax event="uploadcomplete" execute="@none" render="panelLista" />
                        </rich:fileUpload>                        
                    </h:panelGrid>
                    <h:panelGrid id="panelLista" columns="1" styleClass="formulario" style="width:400px">
                    <!--<h:form id="frmCampaniaCuerpo">-->
                        <rich:extendedDataTable id="tablaCuotas" value="#{ctrCampaniasMensajeDefinido.objColumna}"
                                                var="objListColumna" rows="20"
                                                style="height:250px; width:650px ; overflow-y:auto ; overflow-x:auto" selectionMode="none"
                                                >
                                <rich:column>  
                                    <f:facet name="header">  
                                        <h:outputText value="NÚMERO" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[0]}" />  
                                </rich:column>  
                                <rich:column width="500px">  
                                    <f:facet name="header">  
                                        <h:outputText value="MENSAJE" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[1]}" />  
                                </rich:column>  
                                <f:facet name="footer">
                                    <rich:dataScroller page="1" />
                                </f:facet>
                        </rich:extendedDataTable>
                        
                    </h:panelGrid>
                    </h:form>
                <h:form>
                    
                    <br /><br />
                    <div class="divBotones">
                        <a4j:commandButton value="Enviar Mensajes" styleClass="separacionDerecha icon-floopy icon-button" 
                                           action="#{ctrCampaniasMensajeDefinido.confPop()}"
                                           oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                            <a4j:ajax status="guardar" event="begin"/>
                        </a4j:commandButton>
                        
                        <h:commandButton action="#{ctrCampaniasMensajeDefinido.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                    </div>
                    <h:panelGrid columns="2">
                        <cj:statusProgress nameProgress="guardar" />
                        <cj:popMsgConfirmation  controlador="#{ctrCampaniasMensajeDefinido}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmMensajeria" />
                   </h:panelGrid>                    
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>