<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"        
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:cj="http://java.sun.com/jsf/composite/components">
    <h:head>
        <title>Mantenimiento de Campañas</title>        
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form id="allForm">
                    
                    <h:panelGrid columns="1">
                        <rich:fileUpload addLabel="Seleccionar archivo" clearAllLabel="Quitar todos"
                            style="width: 350px; height: 100px; border: 0; text-align: left;"
                            clearLabel="Quitar" deleteLabel="Quitar"
                            doneLabel="Completado" uploadLabel="Subir registros"
                            fileUploadListener="#{ctrCampaniasMensajeMultiple.processFileUpload}" id="upload" acceptedTypes="xls"
                            ontyperejected="alert('Solo formatos XLS son aceptados');" maxFilesQuantity="1">
                            <a4j:ajax event="uploadcomplete" execute="@none" render="panelLista" />
                        </rich:fileUpload>                        
                    </h:panelGrid>
                    <h:panelGrid id="panelLista" columns="1" styleClass="formulario" style="width:400px">
                    <!--<h:form id="frmCampaniaCuerpo">-->
                        <rich:extendedDataTable id="tablaCuotas" value="#{ctrCampaniasMensajeMultiple.objColumna}"
                                                var="objListColumna" frozenColumns="2"  rows="20"
                                                style="height:250px; width:100% ; overflow-y:auto ; overflow-x:auto" selectionMode="none"
                                                >
                            <c:forEach items="#{ctrCampaniasMensajeMultiple.objListColumna}" var="columna">  
                                <rich:column>  
                                    <f:facet name="header">  
                                        <h:outputText value="#{columna.nombre}" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[columna.orden - 1]}" />  
                                </rich:column>  
                            </c:forEach>  
                            <f:facet name="footer">
                                <rich:dataScroller page="1" />
                            </f:facet>
                        </rich:extendedDataTable>
                        
                        <br />
                        <div><b>Formar Mensaje</b></div>
                        
                    </h:panelGrid>
                        <h:inputText value="#{ctrCampaniasMensajeMultiple.texto[0]}" maxlength="100"  styleClass="inputText">
                            <a4j:ajax event="change"/>
                        </h:inputText>
                        <a4j:repeat id="recordsRepeat" value="#{ctrCampaniasMensajeMultiple.objListColumna}" var="detail" >
                            <h:selectOneMenu  value="#{ctrCampaniasMensajeMultiple.idColumna}" styleClass="selectOne" >
                                <f:selectItems value="#{ctrCampaniasMensajeMultiple.selectItemColumna}" />
                                <a4j:ajax event="change" oncomplete="#{ctrCampaniasMensajeMultiple.prueba(detail.orden)}" />
                            </h:selectOneMenu>
                            <h:inputText value="#{ctrCampaniasMensajeMultiple.texto[detail.orden]}" maxlength="100"  styleClass="inputText">
                                <a4j:ajax event="change"/>
                            </h:inputText>
                        </a4j:repeat>
                    </h:form>
                <h:form>
                    
                    <h:panelGrid columns="2">
                        <a4j:commandButton value="Prueba de mensaje formado" oncomplete="#{ctrCampaniasMensajeMultiple.seleccionarColumna()}" render="mensajes, msjadv, msjinf"/>
                    </h:panelGrid>
                        
                    <h:inputTextarea id="mensajes" value="#{ctrCampaniasMensajeMultiple.mensaje}" styleClass="inputTextAreas" style="width:400px;">
                    </h:inputTextarea>
                    <h:outputLabel id="msjinf" value="#{ctrCampaniasMensajeMultiple.msjinf}" styleClass="labelInfor"/>
                    <h:outputLabel id="msjadv" value="#{ctrCampaniasMensajeMultiple.msjadv}" styleClass="labelError"/>
                    
                    <h:panelGrid id="panelSeleccion" columns="2" styleClass="formulario">
                        <h:outputLabel value="Seleccione la columna que contiene el número: " styleClass="labelItem"/>
                        <h:selectOneMenu id="seleccion" value="#{ctrCampaniasMensajeMultiple.idColumnaNumero}" styleClass="selectOne" >
                            <f:selectItems value="#{ctrCampaniasMensajeMultiple.selectItemColumna}" />
                            <a4j:ajax event="change"/>
                        </h:selectOneMenu>
                    </h:panelGrid>
                    
                    
                    <br /><br />
                    <div class="divBotones">
                        <a4j:commandButton value="Enviar Mensajes" styleClass="separacionDerecha icon-floopy icon-button" 
                                           action="#{ctrCampaniasMensajeMultiple.confPop()}"
                                           oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                            <a4j:ajax status="guardar" event="begin"/>
                        </a4j:commandButton>
                        
                        <h:commandButton action="#{ctrCampaniasMensajeMultiple.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                    </div>
                    <h:panelGrid columns="2">
                        <cj:statusProgress nameProgress="guardar" />
                        <cj:popMsgConfirmation  controlador="#{ctrCampaniasMensajeMultiple}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmMensajeria" />
                   </h:panelGrid>                    
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>