<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        <title>Mantenimiento de Campañas</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                <h:form id="frmRegistroCampanias">
                    <div><b>Mantenimiento de Campañas</b></div><br />
                    <h:panelGrid columns="3" styleClass="formulario"> 
                        <h:outputLabel value="Nombre" styleClass="labelItem"/>
                        <h:inputText   id="camNombre" value="#{ctrColas.selCola.nombre}" maxlength="100"  styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>
                        <rich:message for="camNombre" />

                        <h:outputLabel value="Descripción" styleClass="labelItem"/>
                        <h:inputText   id="camDescripcion" value="#{ctrColas.selCola.descripcion}" maxlength="100"  styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>
                        <rich:message for="camDescripcion" />

                        <h:outputLabel value="Producto" styleClass="labelItem"/>
                        <h:selectOneMenu id="camTipo" value="#{ctrColas.selCola.producto}">
                            <f:selectItems  value="#{ctrColas.selectItemProductos}"/>
                        </h:selectOneMenu>  
                        <h:inputHidden />

                    </h:panelGrid>

                    <h:panelGrid columns="3">
                        <h:selectBooleanCheckbox id="tipo1" value="#{ctrColas.tipo1}" disabled="#{ctrColas.activo1}">
                            <a4j:ajax immediate="true" render="diasvencidos" />
                        </h:selectBooleanCheckbox>
                        <h:outputLabel value="# Días Vencidos" for="tipo1"/>
                        <h:inputHidden />
                    </h:panelGrid>
                    <h:panelGrid id="diasvencidos" columns="3">
                        <h:outputLabel value="Desde" styleClass="labelItem" rendered="#{ctrColas.verTipo1}"/>
                        <h:inputText   id="camDesde1" value="#{ctrColas.selCola.desdeTipo1}"  maxlength="100"  styleClass="inputText" rendered="#{ctrColas.verTipo1}"/>
                        <h:inputHidden />
                        <h:outputLabel value="Hasta" styleClass="labelItem" rendered="#{ctrColas.verTipo1}"/>
                        <h:inputText   id="camHasta1" value="#{ctrColas.selCola.hastaTipo1}"  maxlength="100"  styleClass="inputText" rendered="#{ctrColas.verTipo1}"/>
                        <h:inputHidden />
                    </h:panelGrid>

                    <h:panelGrid columns="3" id="contenedorCheck2">
                        <h:selectBooleanCheckbox id="tipo2" value="#{ctrColas.tipo2}"  disabled="#{ctrColas.activo2}">
                            <a4j:ajax immediate="true" render="montoprestamo contenedorCheck3" />
                        </h:selectBooleanCheckbox>
                        <h:outputLabel value="Monto del Préstamo" for="tipo2"/>
                        <h:inputHidden />
                    </h:panelGrid>
                    <h:panelGrid id="montoprestamo" columns="3">
                        <h:outputLabel value="Desde" styleClass="labelItem" rendered="#{ctrColas.verTipo2}"/>
                        <h:inputText   id="camDesde2" value="#{ctrColas.selCola.desdeTipo2}"  maxlength="100"  styleClass="inputText" rendered="#{ctrColas.verTipo2}"/>
                        <h:inputHidden />
                        <h:outputLabel value="Hasta" styleClass="labelItem" rendered="#{ctrColas.verTipo2}"/>
                        <h:inputText   id="camHasta2" value="#{ctrColas.selCola.hastaTipo2}"  maxlength="100"  styleClass="inputText" rendered="#{ctrColas.verTipo2}"/>
                        <h:inputHidden />
                    </h:panelGrid>
                    
                    <h:panelGrid columns="3" id="contenedorCheck3">
                        <h:selectBooleanCheckbox id="tipo3" value="#{ctrColas.tipo3}"  disabled="#{ctrColas.activo3}">
                            <a4j:ajax immediate="true" render="saldos contenedorCheck2" />
                        </h:selectBooleanCheckbox>
                        <h:outputLabel value="Saldos" for="tipo3"/>
                        <h:inputHidden />
                    </h:panelGrid>
                    <h:panelGrid columns="3">
                        <h:outputLabel value="Prioridad" styleClass="labelItem"/>
                        <h:selectOneMenu id="camPrioridad" value="#{ctrColas.selCola.prioridad}">
                            <f:selectItems  value="#{ctrColas.selectItemPrioridades}"  />
                        </h:selectOneMenu>  
                        <h:inputHidden />

                        <h:selectBooleanCheckbox id="automatico" value="#{ctrColas.automatico}" />
                        <h:outputLabel value="Automatico" for="automatico"/>
                        <h:inputHidden />

                        <h:outputLabel value="Skills" styleClass="labelItem"/>
                        <rich:panel style="width:560px;">
                            <f:facet name="header">
                                <h:outputText value="Por favor seleccione los Skills de la Campaña"></h:outputText>
                            </f:facet>
                            <rich:pickList value="#{ctrColas.objSkill2}" sourceCaption="Skills disponibles" targetCaption="Skills asignados" listWidth="165px" listHeight="100px" orderable="true">
                                <f:selectItems value="#{ctrColas.selectItemSkills}"/>
                            </rich:pickList>

                        </rich:panel>
                        <h:inputHidden />

                    </h:panelGrid> 
                    <br/>
                    <div class="divBotones">  
                        <a4j:commandButton value="#{ctrColas.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                           action="#{ctrColas.confPop()}"
                                           oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                            <a4j:ajax status="guardar" event="begin"/>
                        </a4j:commandButton>  
                        <h:commandButton action="#{ctrColas.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                    </div>
                    <h:panelGrid columns="2">
                        <cj:statusProgress nameProgress="guardar" />
                        <cj:popMsgConfirmation  controlador="#{ctrColas}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionCampanas" />
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


