<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    xmlns:f="http://java.sun.com/jsf/core"
    >
    <h:head>
        <title>Mantenimiento de Campañas</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroCampanias">
                        <div><b>Mantenimiento de Campañas</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel value="Nombre" styleClass="labelItem"/>
                                    <h:inputText   id="razNombre" value="#{ctrCampanias.selCampania.nombre}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="razNombre" />
                                    <h:outputLabel value="Guion" styleClass="labelItem"/>
                                    <rich:editor id="razGuion" toolbar="custom" value="#{ctrCampanias.selCampania.guion}" required="true">
                                        <f:facet name="config">
                                                toolbar_custom:
                                                    [
                                                        { name: 'styles', items : [ 'Styles','Format' ] },
                                                        { name: 'basicstyles', items : [ 'Bold','Italic','Strike','-','RemoveFormat' ] },
                                                        { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock' ] }
                                                    ]
                                        </f:facet>
                                    </rich:editor>
<!--                                    <h:inputText   id="razDescripcion" value="{ctrCampanias.selRazon.descripcion}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  -->
                                    <br/>
                                    <h:outputLabel value="Ayuda" styleClass="labelItem"/>
                                    <rich:editor id="razAyuda" toolbar="custom" value="#{ctrCampanias.selCampania.ayuda}">
                                        <f:facet name="config">
                                                toolbar_custom:
                                                    [
                                                        { name: 'styles', items : [ 'Styles','Format' ] },
                                                        { name: 'basicstyles', items : [ 'Bold','Italic','Strike','-','RemoveFormat' ] },
                                                        { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock' ] }
                                                    ]
                                        </f:facet>
                                    </rich:editor>
<!--                                    <h:inputText   id="razDescripcion" value="{ctrCampanias.selRazon.descripcion}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  -->
                                    <rich:message for="razAyuda" />
                                    <br/>
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrCampanias.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrCampanias.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrCampanias.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrCampanias}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionCampanias" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


