<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        
        <title>Mantenimiento de Codigo de Llamada Entrante</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroTeams">
                        <div><b>Mantenimiento de Codigo de Llamada Entrante</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel value="Codigo" styleClass="labelItem"/>
                                    <h:inputText   id="parNombre" value="#{ctrCodigoEntrante.selCodigoIvr.codigo}" maxlength="100"  styleClass="inputText" readonly="#{ctrCodigoEntrante.atriEditable}" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parNombre" />
                                    
                                    <h:outputLabel value="Descripcion" styleClass="labelItem"/>
                                    <h:inputText id="parValor1" value="#{ctrCodigoEntrante.selCodigoIvr.descripcion}" maxlength="200" styleClass="inputText" required="true" requiredMessage="Campo obligatorio" rendered="true"/>
                                    <rich:message for="parValor1" />
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrCodigoEntrante.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrCodigoEntrante.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrCodigoEntrante.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrCodigoEntrante}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionCodigoIVR" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


