<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:rich="http://richfaces.org/rich"
             xmlns:a4j="http://richfaces.org/a4j"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:cj="http://java.sun.com/jsf/composite/components"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:fn="http://java.sun.com/jsp/jstl/functions"
             >
    <ui:define name="content">
        <script>
            function confirmar(formObj) { 
                if(!confirm("Usted ya marcó a este número, desea volver a llamar?")) { 
                    return false;
                }else{
                    submit();
                    return false;
                }
            }
        </script>
        <h:form id="formGeneral">
            <div><b>CAMPAÑAS SALIENTES / LLAMADA SALIENTE</b></div><br />
            <h:panelGrid id="msjErrorInicial" columns="1" styleClass="formulario" style="width:800px">
                <h:outputLabel value="#{ctrCampaniaSaliente.msjError}" styleClass="labelError"/>
            </h:panelGrid>
            <h:panelGrid id="msjTituloCampania" columns="1" styleClass="formulario" style="width:800px; text-align:center; font-weight:bold">
                <h:outputLabel value="#{ctrCampaniaSaliente.campania.nombre.toUpperCase()}" styleClass="labelError" escape="false"/>
            </h:panelGrid>
            <h:panelGrid id="msjGuion" columns="1" styleClass="formulario" style="width:800px;">
                <h:outputLabel value="#{ctrCampaniaSaliente.guion}" escape="false"/>
                <h:commandButton value="Ayuda" image="../imagenes/Information_icon.png" style="height:35px;">
                    <rich:componentControl target="popupu" operation="show" />
                </h:commandButton>
            </h:panelGrid>

<!--            <rich:popupPanel id="popupu" modal="false" autosized="false" resizeable="true" width="650" height="350" style="position:absolute; background-color: #FFFFFF; overflow-y: auto; overflow-x: scroll;" onmaskclick="{rich:component('popupu')}.hide()">-->
            <rich:popupPanel id="popupu" modal="false" autosized="false" resizeable="true" width="650" height="350" style="position:absolute; background-color: #FFFFFF;" onmaskclick="#{rich:component('popupu')}.hide()">
                <f:facet name="header">
                    <h:outputText value="Ayuda" />
                </f:facet>
                <f:facet name="controls">
                    <h:outputLink value="#" onclick="#{rich:component('popupu')}.hide(); return false;" style="color: inherit">
                        CERRAR AYUDA
                    </h:outputLink>
                </f:facet>
                <h:panelGrid styleClass="formulario">
                    <h:outputText value="#{ctrCampaniaSaliente.campania.ayuda}" escape="false"/>
                </h:panelGrid>
            </rich:popupPanel>
            
            <br />
            <table width="100%">
                <tr>
                    <td width="50%">
                        <div><b>Información del Cliente</b></div>
                <h:panelGrid columns="2" styleClass="formulario" id="idInformacionCredito">
                    <h:outputLabel value="Codigo Cliente: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCampaniaSaliente.selCliente.id.clicod}" styleClass="labelBlack"/>

                    <h:outputLabel value="Nombre Cliente: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCampaniaSaliente.selCliente.nombres}" styleClass="labelBlack"/>
                    
                    <h:outputLabel value="Direccion Cliente: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCampaniaSaliente.selCliente.apellidos}" styleClass="labelBlack"/>
                    
                    <h:outputLabel value="Numero 1: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCampaniaSaliente.selCliente.tlfCelular}" styleClass="labelBlack"/>
                    
                    <h:outputLabel value="Numero 2: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCampaniaSaliente.selCliente.tlfCasa}" styleClass="labelBlack"/>
                    
                    <h:outputLabel value="Adicional: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCampaniaSaliente.selCliente.adicional1}" styleClass="labelBlack"/>
                    
                    <h:outputLabel value="Adicional: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCampaniaSaliente.selCliente.adicional2}" styleClass="labelBlack"/>
                    
                    <h:outputLabel value="Adicional: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCampaniaSaliente.selCliente.adicional3}" styleClass="labelBlack"/>
                </h:panelGrid>
                </td>
                </tr>
            </table>

        </h:form>
        <h:form id="formGeneraldds">
            <div><b>Registrar Llamada</b></div>
            <h:panelGrid id="refrescarMsj" columns="1" styleClass="formulario" style="width:800px">
                <h:outputLabel value="#{ctrCampaniaSaliente.msjNoRegistro}" styleClass="labelError"/>
            </h:panelGrid>

            <h:panelGrid id="refrescar0" columns="4" styleClass="formulario" style="width:300px">
                <h:outputLabel value="Llamando al número:" styleClass="labelItem"/>

                <h:inputText id="numeroLlamada" value="#{ctrCampaniaSaliente.numero}" styleClass="inputText" style="width: 100px;">
                    <a4j:ajax event="change"/>
                </h:inputText>
    <!--            <a4j:commandLink styleClass="no-decor" immediate="true" render="msjLlamando holaqhace refrescarMsj registrar_btn" oncomplete="if ({ctrCampaniaSaliente.verificarGuardado()}) {if ({ctrCampaniaSaliente.verificarNoMarcado()}) {submit();} else {confirmar(this);} } else {alert('La llamada activa no se ha registrado aun!!')}">-->
                <a4j:commandLink styleClass="no-decor" immediate="true" render="msjLlamando holaqhace refrescarMsj registrar_btn" oncomplete="submit();">
                    <h:graphicImage value="../imagenes/call.png" alt="Click to call" height="30" />
                </a4j:commandLink>

                <h:outputLabel value="Hora de la Llamada: " styleClass="labelItem"/>
                <h:inputText   id="horaLlamada" value="#{ctrCampaniaSaliente.horallamada}" readonly="true" styleClass="inputText" style="width: 100px;"/>                         
            </h:panelGrid>
            
            <h:panelGrid id="refrescar4" columns="3" styleClass="formulario" style="width:400px">                                
                <h:outputLabel value="Resultado de la Llamada: " styleClass="labelItem"/>
                <h:selectOneRadio  id="resultado" value="#{ctrCampaniaSaliente.contestado}" styleClass="selectOne"> 
                    <f:selectItem itemValue="1" itemLabel="CONTESTADO" />
                    <f:selectItem itemValue="2" itemLabel="NO CONTESTADO" />
                    <a4j:ajax render="refrescar2 refrescar3" />
                </h:selectOneRadio>
            </h:panelGrid>
            
            <h:panelGrid id="refrescar3" columns="3" styleClass="formulario" style="width:300px">
                <h:outputLabel id="txtRazonllamada" value="Razón: " styleClass="labelItem"/>
                <h:selectOneMenu  id="razons" value="#{ctrCampaniaSaliente.idRazon}" styleClass="selectOne"> 
                    <f:selectItems value="#{ctrCampaniaSaliente.selectItemRazones}" />
                    <a4j:ajax event="change"/>
<!--                    <a4j:ajax render="refrescar3" />-->
<!--                    <a4j:ajax render="refrescar2 refrescar3" />-->
                </h:selectOneMenu>
            </h:panelGrid>
            
            <h:panelGrid columns="2" styleClass="formulario" id="refrescar2">
                <h:panelGrid columns="2" styleClass="formulario" id="refrescar22">
                <a4j:repeat value="#{ctrCampaniaSaliente.preguntastmp}" var="pregunta">  
                    <h:panelGroup rendered="#{pregunta.tipoPregunta==2 or fn:length(pregunta.selectItems)>1}">                        
                           <br />
                    </h:panelGroup>
                    <h:outputLabel value="#{pregunta.titulo}" styleClass="labelItem"/>
                    <h:inputText value="#{pregunta.respuesta}" maxlength="100"  styleClass="inputText" requiredMessage="Campo obligatorio" rendered="#{pregunta.tipoPregunta==2}"/>
<!--                    <h:outputLabel value="{pregunta.respuesta}" styleClass="labelBlack"/>-->
                    <h:selectOneRadio value="#{pregunta.respuesta}" styleClass="selectOne" rendered="#{pregunta.tipoPregunta==1}"> 
                        <f:selectItems value="#{pregunta.selectItems}" />
                    </h:selectOneRadio>
                    <h:panelGroup rendered="#{pregunta.tipoPregunta==2 or fn:length(pregunta.selectItems)>1}">
                           <br /><br />
                    </h:panelGroup>
                </a4j:repeat>  
                </h:panelGrid>
            </h:panelGrid>
            
            <h:panelGrid id="registrar_btn" columns="3" styleClass="formulario" style="width:400px">    
                <h:outputLabel value="Observaciones: " styleClass="labelItem"/>
                <h:inputTextarea id="observacion" value="#{ctrCampaniaSaliente.observacion}" styleClass="inputTextAreas" style="width:400px;"> 
                    <a4j:ajax event="change"/>
                </h:inputTextarea>
                <br/>
                
                <h:commandButton disabled="#{ctrCampaniaSaliente.bandera_registrada}" style="height:40px;" value="Registrar Llamada" action="#{ctrCampaniaSaliente.registrarLlamada(false)}"/>
                <h:commandButton disabled="#{ctrCampaniaSaliente.bandera_registrada}" styleClass="cont_next" value="Registrar y Pausar Llamadas" action="#{ctrCampaniaSaliente.registrarLlamada(true)}"/>
                <h:outputLabel id="msjLlamando" value="#{ctrCampaniaSaliente.msjLlamando}" styleClass="labelItem"/>
            </h:panelGrid>
            <a4j:jsFunction name="submit" action="#{ctrCampaniaSaliente.llamarNumero()}" render="msjLlamando refrescar0 msjErrorInicial"/>

        </h:form>
    </ui:define>
</ui:composition>
