<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        <title>Envío de Mensaje Único</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="Formulario">
                        <div><b>Envío de Mensaje Único</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel value="Número de Celular" styleClass="labelItem"/>
                                    <h:inputText id="Numero" value="#{ctrCampaniasMensajeUnico.numero}" maxlength="15" styleClass="inputText" required="true" requiredMessage="Campo obligatorio">  
                                        <f:validateLength maximum="10" minimum="10"/>
                                    </h:inputText>
                                    <rich:message for="Numero" />
                                    <h:outputLabel value="Mensaje: " styleClass="labelItem"/>
                                    <h:inputTextarea id="Mensaje" value="#{ctrCampaniasMensajeUnico.mensaje}" required="true"  requiredMessage="Campo obligatorio" styleClass="inputTextAreas" style="width:400px;">
                                        <f:validateLength maximum="160" minimum="1"/>
                                    </h:inputTextarea>
                                    <rich:message for="Mensaje" />
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrCampaniasMensajeUnico.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrCampaniasMensajeUnico.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrCampaniasMensajeUnico.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation controlador="#{ctrCampaniasMensajeUnico}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmMensajeria" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>