<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components">
    <h:head>
        <title>Mantenimiento de Campañas</title>        
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form id="allForm">
                    
                    <h:panelGrid columns="1">
                        <rich:fileUpload addLabel="Seleccionar archivo" clearAllLabel="Quitar todos"
                            style="width: 350px; height: 100px; border: 0; text-align: left;"
                            clearLabel="Quitar" deleteLabel="Quitar"
                            doneLabel="Completado" uploadLabel="Subir registros"
                            fileUploadListener="#{ctrCampaniasSalienteLista.processFileUpload}" id="upload" acceptedTypes="xls, xlsx"
                            ontyperejected="alert('Solo formatos XLS son aceptados');" maxFilesQuantity="1">
                            <a4j:ajax event="uploadcomplete" execute="@none" render="panelLista" />
                        </rich:fileUpload>
                    </h:panelGrid>
                    <h:panelGrid id="panelLista" columns="1" styleClass="formulario" style="width:500px">
                    <!--<h:form id="frmCampaniaCuerpo">-->
                        <rich:extendedDataTable id="tablaCuotas" value="#{ctrCampaniasSalienteLista.objColumna}"
                                                var="objListColumna" rows="20"
                                                style="height:250px; width:920px ; overflow-y:auto ; overflow-x:auto" selectionMode="none"
                                                >
                                <rich:column>  
                                    <f:facet name="header">  
                                        <h:outputText value="SECUENCIA" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[0]}" />  
                                </rich:column>
<!--                                <rich:column width="500px">-->
                                <rich:column>
                                    <f:facet name="header">  
                                        <h:outputText value="CLICOD" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[1]}" />  
                                </rich:column>
                                <rich:column>  
                                    <f:facet name="header">  
                                        <h:outputText value="NOMBRES" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[2]}" />
                                </rich:column>
                                <rich:column>  
                                    <f:facet name="header">  
                                        <h:outputText value="DIRECCION" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[3]}" />
                                </rich:column>
                                <rich:column>  
                                    <f:facet name="header">  
                                        <h:outputText value="TELEFONO 1" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[4]}" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">  
                                        <h:outputText value="TELEFONO 2" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[5]}" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">  
                                        <h:outputText value="ADIC. 1" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[6]}" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">  
                                        <h:outputText value="ADIC. 2" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[7]}" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">  
                                        <h:outputText value="ADIC. 3" />
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[8]}" />
                                </rich:column>
                                <f:facet name="footer">
                                    <rich:dataScroller page="1" />
                                </f:facet>
                        </rich:extendedDataTable>
                        
                    </h:panelGrid>
                    </h:form>
                <h:form>
                    <h:outputLabel id="txtCampania" value="Campaña Asignada: " styleClass="labelItem"/>
                        <h:selectOneMenu  id="campaniaLlamada" value="#{ctrCampaniasSalienteLista.idCampania}" styleClass="selectOne">
                            <f:selectItems value="#{ctrCampaniasSalienteLista.selectItemCampanias}" />
                            <a4j:ajax event="change"/>
                        </h:selectOneMenu>
                    <br /><br />
                    <div class="divBotones">
                        <a4j:commandButton value="Poner en Cola" styleClass="separacionDerecha icon-floopy icon-button" 
                                           action="#{ctrCampaniasSalienteLista.confPop()}"
                                           oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                            <a4j:ajax status="guardar" event="begin"/>
                        </a4j:commandButton>
                        
                        <h:commandButton action="#{ctrCampaniasSalienteLista.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                    </div>
                    <h:panelGrid columns="2">
                        <cj:statusProgress nameProgress="guardar" />
                        <cj:popMsgConfirmation  controlador="#{ctrCampaniasSalienteLista}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmPrincipal" />
                   </h:panelGrid>                    
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>