<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form id="formulario">
            <div><b>REPORTES</b></div><br />
            <h:panelGrid id="panelSeleccion" columns="2" styleClass="formularios">
                <h:outputLabel value="Desde: " styleClass="labelItem"/>
                <rich:calendar id="fDesde" datePattern="dd-MM-yyyy HH:mm" boundaryDatesMode="scroll" value="#{ctrDeleteListN.fechaA}">
                    <a4j:ajax event="change"/>
                </rich:calendar>
                <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                <rich:calendar id="fHasta" datePattern="dd-MM-yyyy HH:mm" boundaryDatesMode="scroll" value="#{ctrDeleteListN.fechaB}">
                    <a4j:ajax event="change"/>
                </rich:calendar>                
                 
                <h:commandButton style="height:40px;" value="Actualizar" action="#{ctrDeleteListN.actualizarFiltro()}"/>
            </h:panelGrid>
            
            <br/><br/>
            <rich:extendedDataTable id="tablaCuotas" value="#{ctrDeleteListN.objReporte}"
                                        var="reporte" rows="20"
                                        style="height:250px; width:650px ; overflow-y:auto ; overflow-x:auto" selectionMode="none">
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Número" />
                        </f:facet>
                        <h:outputText value="#{reporte.numero}" />
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Fecha" />
                        </f:facet>
                        <h:outputText value="#{reporte.fecha}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Mensaje" />
                        </f:facet>
                        <h:outputText value="#{reporte.mensaje}" />
                    </rich:column>
                <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Grupo" />
                        </f:facet>
                        <h:outputText value="#{reporte.grupo}" />
                    </rich:column>
                    <f:facet name="footer">
                                    <rich:dataScroller page="1" />
                                </f:facet>
                </rich:extendedDataTable>
            <br/>
            <div class="divBotones">
                <a4j:commandButton style="height:40px;" value="Borrar lista desplegada" oncomplete="#{rich:component('confirmPanel')}.show()"/>
            </div>            
            <rich:popupPanel id="confirmPanel" autosized="true" style="position:absolute; background-color: #5F9F9F;  width:500px;">
                Desea Borrar la lista seleccionada?
                <a4j:commandButton value="Borrar" onclick="detenerEnvio();" oncomplete="#{rich:component('confirmPanel')}.hide();" render="labelNumero" />
                <a4j:commandButton value="Cancelar" onclick="#{rich:component('confirmPanel')}.hide(); return false;" />
            </rich:popupPanel>            
            <a4j:jsFunction name="detenerEnvio" oncomplete="#{ctrDeleteListN.detenerEnvio()}; return true;" render="tablaCuotas"/>
        </h:form>
    </ui:define> 
</ui:composition>