<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Mantenimiento de Departamento</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                <h:form id="frmRegistroTeams">
                    <div><b>Mantenimiento de Departamento</b></div><br />
                    <h:panelGrid columns="2" styleClass="formulario">                        
                        <h:outputLabel id="txtCiudad" value="Ciudad: " styleClass="labelItem"/>
                        <h:selectOneMenu  id="campaniaCiudad" value="#{ctrDepartamento.idCiudad}" styleClass="selectOne">
                            <f:selectItems value="#{ctrDepartamento.selectItemCiudad}" />
                            <a4j:ajax event="change"/>
                        </h:selectOneMenu>

                        <h:outputLabel id="txtCentroCosto" value="Centro de Costo " styleClass="labelItem"/>
                        <h:selectOneMenu  id="campaniaCentCos" value="#{ctrDepartamento.idCentroCosto}" styleClass="selectOne">
                            <f:selectItems value="#{ctrDepartamento.selectItemCentroCosto}" />
                            <a4j:ajax event="change"/>
                        </h:selectOneMenu>

                        <h:outputLabel id="txtDepartamento" value="Departamento " styleClass="labelItem"/>
                        <h:selectOneMenu  id="campaniaDepartamento" value="#{ctrDepartamento.idDepartamento}" styleClass="selectOne">
                            <f:selectItems value="#{ctrDepartamento.selectItemDepartamento}" />
                            <a4j:ajax event="change"/>
                        </h:selectOneMenu>
                    </h:panelGrid>

                    <h:panelGrid columns="3" styleClass="formulario">
                        <h:outputLabel value="Codigo" styleClass="labelItem"/>
                        <h:inputText   id="parNombre" value="#{ctrDepartamento.selDepartamento.codigo}" maxlength="100"  styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                        <rich:message for="parNombre" />

                        <h:outputLabel value="Descripcion" styleClass="labelItem"/>
                        <h:inputText id="parValor1" value="#{ctrDepartamento.selDepartamento.nombre}" maxlength="200" styleClass="inputText" required="true" requiredMessage="Campo obligatorio" rendered="true"/>
                        <rich:message for="parValor1" />
                    </h:panelGrid>
                    <br/>
                    <div class="divBotones">  
                        <a4j:commandButton value="#{ctrDepartamento.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                           action="#{ctrDepartamento.confPop()}"
                                           oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                            <a4j:ajax status="guardar" event="begin"/>
                        </a4j:commandButton>  
                        <h:commandButton action="#{ctrDepartamento.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                    </div>
                    <h:panelGrid columns="2">
                        <cj:statusProgress nameProgress="guardar" />
                        <cj:popMsgConfirmation  controlador="#{ctrDepartamento}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionDepartamento" />
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


