<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        <title>Mantenimiento de Datos Correo</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmDatosCorreo">
                        <div><b>Mantenimiento de Datos Correo</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel value="Host" styleClass="labelItem"/>
                                    <h:inputText   id="parHost" value="#{ctrDatosCorreo.selDatosCorreo.hostmail}" maxlength="50"  styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parHost" />
                                    <h:outputLabel value="Puerto Recepción" styleClass="labelItem"/>
                                    <h:inputText   id="parPort" value="#{ctrDatosCorreo.selDatosCorreo.portmail}" maxlength="50" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parPort" />
                                    <h:outputLabel value="Puerto Envio" styleClass="labelItem"/>
                                    <h:inputText   id="parPortr" value="#{ctrDatosCorreo.selDatosCorreo.portrmail}" maxlength="50" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parPortr" />
                                    <h:outputLabel value="Usuario" styleClass="labelItem"/>
                                    <h:inputText   id="parUsuario" value="#{ctrDatosCorreo.selDatosCorreo.usermail}" maxlength="50" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parUsuario" />
                                    <h:outputLabel value="Password" styleClass="labelItem"/>
                                    <h:inputText   id="parPass" value="#{ctrDatosCorreo.selDatosCorreo.passmail}" maxlength="50" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parPass" />
                                    <h:outputLabel value="Proveedor" styleClass="labelItem"/>                                    
                                    <h:inputText   id="parProv" value="#{ctrDatosCorreo.selDatosCorreo.proveedor}" maxlength="10" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parProv" />
                                    <h:outputLabel value="Codigo IVR" styleClass="labelItem"/>
                                    <h:inputText   id="parIvr" value="#{ctrDatosCorreo.selDatosCorreo.codigoivr}" maxlength="10" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parIvr" />
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrDatosCorreo.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrDatosCorreo.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrDatosCorreo.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrDatosCorreo}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionDatosCorreo" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>