<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    xmlns:f="http://java.sun.com/jsf/core"
    >
    <h:head>
        <title>Mantenimiento de Eventos</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroEventos">
                        <div><b>Mantenimiento de Eventos</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel id="txtCodigoIvr" value="Registro Llamada" styleClass="labelItem"/>
                                    <h:selectOneMenu  id="Razonllamada" value="#{ctrEventos.codigoIvr}" styleClass="selectOne">
                                        <f:selectItems value="#{ctrEventos.selectIvr}" />
                                        <a4j:ajax event="change" render="tipoLlamada"/>
                                    </h:selectOneMenu>
                                    <br/>
                                    
                                    <h:outputLabel id="txtTipoLlamada" value="Tipo Llamada" styleClass="labelItem"/>
                                    <h:selectOneMenu  id="tipoLlamada" value="#{ctrEventos.tipoLlamadaId}" styleClass="selectOne">
                                        <f:selectItems value="#{ctrEventos.selectTipoLlamada}" />
                                        <a4j:ajax event="change"/>
                                    </h:selectOneMenu>
                                    <br/>
                                    
                                    <h:outputLabel value="Descripción" styleClass="labelItem"/>
                                    <h:inputText   id="razDescripcion" value="#{ctrEventos.selEvento.descripcion}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="razDescripcion" />
                                    
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrEventos.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrEventos.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrEventos.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrEventos}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionEventos" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>