<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    
    <h:head>
        <title>Mantenimiento de Equipos</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroModulos">
                        <div><b>Mantenimiento de Equipos</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">                                    
                                    <h:outputLabel value="Nombre" styleClass="labelItem"/>
                                    <h:inputText   id="modNombre" value="#{ctrEquipo.selEquipo.nombre}" maxlength="100" readonly="false" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="modNombre" />
                                    <h:outputLabel value="Descripcion" styleClass="labelItem"/>
                                    <h:inputText   id="modDescripcion" value="#{ctrEquipo.selEquipo.descripcion}" maxlength="100" styleClass="inputText" readonly="false" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="modClave" />
                                    <h:outputLabel value="Login" styleClass="labelItem"/>
                                    <h:inputText   id="modLogin" value="#{ctrEquipo.selEquipo.login}" maxlength="100" readonly="false" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="modNombre" />
                                    <h:outputLabel value="Clave" styleClass="labelItem"/>
                                    <h:inputText   id="modClave" value="#{ctrEquipo.selEquipo.clave}" maxlength="100" styleClass="inputText" readonly="false" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="modClave" />
                                    <h:outputLabel value="IP Acceso" styleClass="labelItem"/>
                                    <h:inputText   id="modIpacceso" value="#{ctrEquipo.selEquipo.ipacceso}" maxlength="100" styleClass="inputText" readonly="false" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="modIpacceso" />
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrEquipo.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrEquipo.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrEquipo.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrEquipo}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionEquipo" />
                       </h:panelGrid>
                    </h:form>
                    
                    <h:form>
                        <rich:panel id="tablaFechas">
                            <h:outputText value="TAREAS" />
                            <br/><br/>

                            <rich:tabPanel switchType="client">
                                <rich:tab header="Fechas Específicas">
                                    <rich:panel id="tablaDateapli">
                                    <rich:dataTable id="listD" value="#{ctrEquipo.listDateapli}" var="dateapli">
                                        
                                        
                                        
                                        
            <rich:column filterValue="#{ctrEquipo.vinFilter}"
                filterExpression="#{fn:containsIgnoreCase(dateapli.descripcionTarea, ctrEquipo.vinFilter)}">
                <f:facet name="header">
                    <h:panelGroup>
                        <h:outputText value="Tarea" />
                        <h:inputText value="#{ctrEquipo.vinFilter}">
                            <a4j:ajax event="blur" render="listD" execute="@this" />
                        </h:inputText>
                    </h:panelGroup>
                </f:facet>
                <h:outputText value="#{dateapli.descripcionTarea}" />
            </rich:column>
                                        
                                        
                                        
                                        
                                        <rich:column>
                                            <f:facet name="header">
                                                <h:outputText value="Fecha" />
                                            </f:facet>
                                            <h:outputLabel value="#{dateapli.fecha}" />
                                        </rich:column>
                                        <rich:column>
                                            <f:facet name="header">
                                                <h:outputText value="Descripción" />
                                            </f:facet>
                                            <h:outputLabel value="#{dateapli.descripcion}" />
                                        </rich:column>
                                        <rich:column>
                                            <a4j:commandLink styleClass="no-decor" execute="@this" render="@none"
                                                oncomplete="#{rich:component('confirmPaneD')}.show()">
                                                <h:graphicImage value="/imagenes/delete.png" alt="delete" />
                                                <a4j:param value="#{dateapli.id}" assignTo="#{ctrEquipo.idDateapliSeleccionado}"/>
                                            </a4j:commandLink>                                            
                                        </rich:column>
                                    </rich:dataTable>
                                </rich:panel>
                                    
                                    <a4j:jsFunction name="removeD" action="#{ctrEquipo.removeDateapli()}" render="tablaDateapli"/>

                                    <rich:popupPanel id="confirmPaneD" autosized="true">
                                        Esta seguro de que desea eliminar la fila?
                                        <a4j:commandButton value="Cancel" onclick="#{rich:component('confirmPaneD')}.hide(); return false;" />
                                        <a4j:commandButton value="Eliminar" onclick="#{rich:component('confirmPaneD')}.hide(); removeD(); return false;"/>
                                    </rich:popupPanel>
                                    
                                </rich:tab>
                                <rich:tab header="Fechas Agenda">
                                    
                                    <rich:panel id="tablaAgendaapli">
                                    <rich:dataTable id="listA" value="#{ctrEquipo.listAgendaapli}" var="agendaapli">
                                        <rich:column>
                                            <f:facet name="header">
                                                <h:outputText value="Tarea" />
                                            </f:facet>
                                            <h:outputLabel value="#{agendaapli.descripcionTarea}" />
                                        </rich:column>
                                        <rich:column>
                                            <f:facet name="header">
                                                <h:outputText value="Fecha" />
                                            </f:facet>
                                            <h:outputLabel value="#{agendaapli.fecha}" />
                                        </rich:column>
                                        <rich:column>
                                            <f:facet name="header">
                                                <h:outputText value="Descripción" />
                                            </f:facet>
                                            <h:outputLabel value="#{agendaapli.descripcion}" />
                                        </rich:column>
                                        <rich:column>
                                            <a4j:commandLink styleClass="no-decor" execute="@this" render="@none"
                                                oncomplete="#{rich:component('confirmPaneA')}.show()">
                                                <h:graphicImage value="../imagenes/delete.png" alt="delete" height="10" width="40"/>
                                                <a4j:param value="#{agendaapli.id}" assignTo="#{ctrEquipo.idAgendaapliSeleccionado}"/>
                                            </a4j:commandLink>                                            
                                        </rich:column>
                                    </rich:dataTable>
                                </rich:panel>
                                    
                                    <a4j:jsFunction name="removeA" action="#{ctrEquipo.removeAgendaapli()}" render="tablaAgendaapli"/>

                                    <rich:popupPanel id="confirmPaneA" autosized="true">
                                        Esta seguro de que desea eliminar la fila?
                                        <a4j:commandButton value="Cancel" onclick="#{rich:component('confirmPaneA')}.hide(); return false;" />
                                        <a4j:commandButton value="Eliminar" onclick="#{rich:component('confirmPaneA')}.hide(); removeA(); return false;"/>
                                    </rich:popupPanel>
                                </rich:tab>
                            </rich:tabPanel>

                        </rich:panel>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>