<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        
        <title>Lista de Usuarios</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form>
                    <div><b>EJECUTIVO DE COBRANZA / LLAMADA SALIENTE</b></div><br />

                                        <table width="100%">
                        <tr>
                            <td width="50%">
                                <div><b>Información del Crédito</b></div><br />
                                <h:panelGrid columns="2" styleClass="formulario">

                                    <h:outputLabel value="Código de Crédito: " styleClass="labelItem"/>
                                    <h:inputText   id="codigoCredito" value="" maxlength="100" readonly="true" styleClass="inputText"/>   

                                    <h:outputLabel value="Fecha Próxima de Pago: " styleClass="labelItem"/>
                                    <h:inputText   id="fechaPago" value="" maxlength="100" readonly="true" styleClass="inputText"/>   

                                    <h:outputLabel value="Linea de Credito: " styleClass="labelItem"/>
                                    <h:inputText   id="lineaCredito" value="" maxlength="100" readonly="true" styleClass="inputText"/> 

                                    <h:outputLabel value="Monto Original: " styleClass="labelItem"/>
                                    <h:inputText   id="montoOriginal" value="" maxlength="100" readonly="true" styleClass="inputText"/>

                                    <h:outputLabel value="Valor Vencido: " styleClass="labelItem"/>
                                    <h:inputText   id="valorVencido" value="" maxlength="100" readonly="true" styleClass="inputText"/>  
                                    
                                    <h:outputLabel value="Saldo Actual: " styleClass="labelItem"/>
                                    <h:inputText   id="saldoActual" value="" maxlength="100" readonly="true" styleClass="inputText"/>     

                                    <h:outputLabel value="Saldo Cuenta de Ahorros: " styleClass="labelItem"/>
                                    <h:inputText   id="saldoCuentaAhorros" value="" maxlength="100" readonly="true" styleClass="inputText"/>  
                                    
                                    <h:outputLabel value="Saldo Cheques: " styleClass="labelItem"/>
                                    <h:inputText   id="saldoCheques" value="" maxlength="100" readonly="true" styleClass="inputText"/>  
                                    
                                    <h:outputLabel value="Frecuencia de Pago: " styleClass="labelItem"/>
                                    <h:inputText   id="frecuenciaPago" value="" maxlength="100" readonly="true" styleClass="inputText"/>  
                                    
                                    

                                    <h:outputLabel value="Historial Crediticio: " styleClass="labelItem"/>
                                    <h:panelGrid columns="2">
                                        <h:inputText   id="historialCrediticio" value="" maxlength="100" readonly="true" styleClass="inputText"/>
                                        <h:commandButton value="VER MAS" >
                                            <rich:componentControl target="popupHistorialCrediticio" operation="show" />
                                        </h:commandButton>
                                    </h:panelGrid>

                               
                      
                                    <h:outputLabel value="Garantía: " styleClass="labelItem"/>
                                    <h:inputText   id="garantia" value="" maxlength="100" readonly="true" styleClass="inputText"/>  
                                    
                                    <h:outputLabel value="Descripción Garantía: " styleClass="labelItem"/>
                                    <h:panelGrid columns="2">
                                        <h:inputText   id="descripcionGarantia" value="" maxlength="100" readonly="true" styleClass="inputText"/>
                                        <h:commandButton value="DETALLE">
                                            <rich:componentControl target="popupGarantia" operation="show" />
                                        </h:commandButton>
                                    </h:panelGrid>
                                    
                                    <h:outputLabel value="Estado Institución: " styleClass="labelItem"/>
                                    <h:inputText   id="estadoInstitucion" value="" maxlength="100" readonly="true" styleClass="inputText"/>   
                                    
                                    <h:outputLabel value="Oficial de Cobranzas " styleClass="labelItem"/>
                                    <h:inputText   id="oficialCredito" value="" maxlength="100" readonly="true" styleClass="inputText"/> 
                                    
                                    <h:outputLabel value="Agencia: " styleClass="labelItem"/>
                                    <h:inputText   id="agencia" value="" maxlength="100" readonly="true" styleClass="inputText"/> 
                            </h:panelGrid>
                            </td>
                            <td width="50%" valign="top">
                                <div><b>Información del Cliente</b></div><br />
                                <h:panelGrid columns="2" styleClass="formulario">

                                    <h:outputLabel value="Nombre de Socio: " styleClass="labelItem"/>
                                    <h:inputText   id="nombreSocio" value="" maxlength="100" readonly="true" styleClass="inputText"/>   

                                    <h:outputLabel value="Nro. Cédula: " styleClass="labelItem"/>
                                    <h:inputText   id="numeroCedula" value="" maxlength="100" readonly="true" styleClass="inputText"/> 

                                    <h:outputLabel value="Profesión de Socio: " styleClass="labelItem"/>
                                    <h:inputText   id="profesionSocio" value="" maxlength="100" readonly="true" styleClass="inputText"/> 

                                    <h:outputLabel value="Teléfono Principal: " styleClass="labelItem"/>
                                    <h:inputText   id="telefonoPrincipal" value="" maxlength="100" readonly="true" styleClass="inputText"/> 

                                    <h:outputLabel value="Nombre de Cónyugue: " styleClass="labelItem"/>
                                    <h:inputText   id="nombreConyugue" value="" maxlength="100" readonly="true" styleClass="inputText"/> 

                                    <h:outputLabel value="Dirección de Referencia: " styleClass="labelItem"/>
                                    <h:inputText   id="direccionReferencia" value="" maxlength="100" readonly="true" styleClass="inputText"/> 

                                    <h:outputLabel value="Correo Electrónico: " styleClass="labelItem"/>
                                    <h:inputText   id="correoElectronico" value="" maxlength="100" readonly="true" styleClass="inputText"/> 

                                </h:panelGrid>
                                <br /><br /><br />
                                <div><b>Información de las Cuotas</b></div><br />
                                <h:panelGrid columns="2" styleClass="formulario">

                                    <h:outputLabel value="# Cuotas Vencidas: " styleClass="labelItem"/>
                                    <h:inputText   id="cuotasVencidas" value="" maxlength="100" readonly="true" styleClass="inputText"/>  
                                    
                                    <h:outputLabel value="# Cuotas Pendientes: " styleClass="labelItem"/>
                                    <h:inputText   id="cuotasPendientes" value="" maxlength="100" readonly="true" styleClass="inputText"/>  

                                    <h:outputLabel value="# Cuotas Totales: " styleClass="labelItem"/>
                                    <h:inputText   id="cuotasTotales" value="" maxlength="100" readonly="true" styleClass="inputText"/>  
                                    
                                    <h:outputLabel value="# Días de Mora: " styleClass="labelItem"/>
                                    <h:inputText   id="diasMora" value="" maxlength="100" readonly="true" styleClass="inputText"/> 
                                    
                                    <h:outputLabel value="# Cuotas Pagadas: " styleClass="labelItem"/>
                                    <h:panelGrid columns="2">
                                        <h:inputText   id="cuotasPagadas" value="" maxlength="100" readonly="true" styleClass="inputText"/>
                                        <h:commandButton value="DETALLE">
                                            <rich:componentControl target="popupCuotasPagadas" operation="show" />
                                        </h:commandButton>
                                    </h:panelGrid>
                                    
                                </h:panelGrid>
                            </td>
                        </tr>
                    </table>
                </h:form>
                <br /><br />
                <table style="width:100%">
                    <tr>
                        <td style="width:70%" valign="top">

                    <rich:tabPanel switchType="client">
                        <rich:tab header="Cuotas de Crédito" >
                            <h:form id="frmIndicadoresCuerpo">

                                <rich:extendedDataTable value=""
                                                        var="car" id="table" frozenColumns="2"
                                                        style="height:300px; width:100%" selectionMode="none"
                                                        >
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Número de Crédito" />
                                        </f:facet>
                                        <h:outputText value="1423" />
                                    </rich:column>

                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Número de Cuota" />
                                        </f:facet>
                                        <h:outputText value="2/12" />
                                    </rich:column>

                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Valor ($USD)" />
                                        </f:facet>
                                        <h:outputText value="23,56" />
                                    </rich:column>

                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Valor Cuota Pendiente" />
                                        </f:facet>
                                        <h:outputText value="10,00" />
                                    </rich:column>

                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Días de Mora" />
                                        </f:facet>
                                        <h:outputText value="6" />
                                    </rich:column>

                                </rich:extendedDataTable>
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>
                         <rich:tab header="Historial de Llamadas" >
                            <h:form id="frmIndicadoresHeader5">
                                <!--                                <div><b>Listado de Observaciones</b></div><br />-->
                                <!--                                <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" />-->
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo5">
                                <rich:extendedDataTable value=""
                                                        var="car" id="table" frozenColumns="2"
                                                        style="height:300px; width:100%" selectionMode="none"
                                                        >


                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Número" />
                                        </f:facet>
                                        <h:outputText value="28637448" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Fecha" />
                                        </f:facet>
                                        <h:outputText value="12/12/2012" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Hora" />
                                        </f:facet>
                                        <h:outputText value="11H00" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Tipo de Llamada" />
                                        </f:facet>
                                        <h:outputText value="SALIENTE" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Agente" />
                                        </f:facet>
                                        <h:outputText value="Agente 1.1" />
                                    </rich:column>               
                                    <rich:column>
                                        <f:facet name="header" >
                                            <h:outputText value="Razón" style="width: 100px;" />
                                        </f:facet>
                                        <h:outputText value="No se encontraba el cliente"  style="width: 100px;"/>
                                    </rich:column>         
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Gestión" />
                                        </f:facet>
                                        <h:outputText value="Ninguna observación" />
                                    </rich:column>   
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Campaña" />
                                        </f:facet>
                                        <h:outputText value="Nombre de Campaña" />
                                    </rich:column>    
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Fecha de Pago" />
                                        </f:facet>
                                            <h:outputText value="16-01-2013" />
                                    </rich:column>    
                                </rich:extendedDataTable>
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>
                        <rich:tab header="Garantes" >
                            <h:form id="frmIndicadoresHeader6">
                                <!--                                <div><b>Listado de Observaciones</b></div><br />-->
                                <!--                                <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" />-->
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo6">
                                <rich:extendedDataTable value=""
                                                        var="car" id="table" frozenColumns="2"
                                                        style="height:300px; width:100%" selectionMode="none"
                                                        >

                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Número de Crédito" />
                                        </f:facet>
                                        <h:outputText value="13454" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Nombre del Garante" />
                                        </f:facet>
                                        <h:outputText value="Juan Perez" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Dirección" />
                                        </f:facet>
                                        <h:outputText value="Cacique Chamba 2-85" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Nombre de Cónyugue" />
                                        </f:facet>
                                        <h:outputText value="Ana María" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Teléfonos" />
                                        </f:facet>
                                        <h:outputText value="2864889, 0998178462" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Relación con el Cliente" />
                                        </f:facet>
                                        <h:outputText value="Codeudor" />
                                    </rich:column>                                    
                                </rich:extendedDataTable>
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>
                        <rich:tab header="Tasa de Reajuste" >
                            <h:form id="frmIndicadoresHeader77">
                                <!--                                <div><b>Listado de Observaciones</b></div><br />-->
                                <!--                                <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" />-->
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo67">
                                <rich:extendedDataTable value=""
                                                        var="car" id="tablesd" frozenColumns="2"
                                                        style="height:300px; width:100%" selectionMode="none"
                                                        >

                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Número de Crédito" />
                                        </f:facet>
                                        <h:outputText value="13242" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Agente" />
                                        </f:facet>
                                        <h:outputText value="Agente Juan Perez" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Fecha" />
                                        </f:facet>
                                        <h:outputText value="12/12/2012" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Observaciones" />
                                        </f:facet>
                                        <h:outputText value="Alguna Observación" />
                                    </rich:column>
                                </rich:extendedDataTable>
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>                   
                    </rich:tabPanel>  
                    </td>
                    <td style="width:30%">
                    <h:commandButton value="Ingresar Nuevo">
                        <rich:componentControl target="popup" operation="show" />
                    </h:commandButton>
                    <rich:popupPanel id="popup" modal="false" autosized="true" resizeable="false">
                        <f:facet name="header">
                            <h:outputText value="Ingreso de un Nuevo Contacto Personal" />
                        </f:facet>
                        <h:form>
                            <h:panelGrid columns="2" styleClass="formulario">
                                <h:outputLabel value="Número de Teléfono: " styleClass="labelItem"/>
                                <h:inputText   id="nomSocio"  maxlength="100" styleClass="inputText" style="width: 120px;"/>   
                                
                                <h:outputLabel value="Número Válido: "  styleClass="labelItem"/>
                                <h:selectBooleanCheckbox value="true"/>
                                
                                <h:outputLabel rendered="true" value="Operador: " styleClass="labelItem"/>
                                <h:inputText rendered="true"  id="operador"  maxlength="50" styleClass="inputText" style="width: 120px;"/> 
                                
                                <h:outputLabel rendered="true" value="Descripción: " styleClass="labelItem"/>
                                <h:selectOneMenu  rendered="true" id="descrip" >
                                    <f:selectItem itemValue="1" itemLabel="Trabajo" />
                                </h:selectOneMenu>
                                
                                <h:outputLabel rendered="true" value="Parentesco: " styleClass="labelItem"/>
                                <h:selectOneMenu  rendered="true" id="relacion" >
                                    <f:selectItem itemValue="1" itemLabel="Vecino" />
                                    <f:selectItem itemValue="2" itemLabel="Hermano" />
                                    <f:selectItem itemValue="3" itemLabel="Cuñado" />
                                </h:selectOneMenu>
                                
                                <h:commandButton rendered="true" value="GRABAR" />
                                <h:commandButton value="CANCELAR" onclick="#{rich:component('popup')}.hide(); return false;"/>
                                
                            </h:panelGrid>
                        </h:form>
                    </rich:popupPanel> 
                    <rich:popupPanel id="popupCuotasPagadas" modal="false" autosized="true" resizeable="false">
                        <f:facet name="header">
                            <h:outputText value="Informe de Cuotas Pagadas" />
                        </f:facet>
                        <h:form>
                            <h:panelGrid columns="2" styleClass="formulario">
                                <rich:extendedDataTable value=""
                                                        var="car" id="tableCuotas" frozenColumns="2"
                                                        style="height:300px; width:100%" selectionMode="none"
                                                        >
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Número Cuota" />
                                        </f:facet>
                                        <h:outputText value="1/12" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Valor ($USD)" />
                                        </f:facet>
                                        <h:outputText value="23,30" />
                                    </rich:column>

                                </rich:extendedDataTable>
                                <h:commandButton value="CERRAR" onclick="#{rich:component('popupCuotasPagadas')}.hide(); return false;"/>
                            </h:panelGrid>
                        </h:form>
                    </rich:popupPanel>           
                    <rich:popupPanel id="popupHistorialCrediticio" modal="false" autosized="true" resizeable="false">
                        <f:facet name="header">
                            <h:outputText value="Detalle del Historial Crediticio" />
                        </f:facet>
                        <h:form>
                            <h:panelGrid columns="2" styleClass="formulario">
                                <h:outputLabel value="Detalle del Historial Crediticio: " styleClass="labelItem"/>
                                <h:inputTextarea   id="historialCrediticioDetalle" styleClass=".inputTextArea" style="width: 450px; height: 100px;"/>   
                                <h:commandButton value="CERRAR" onclick="#{rich:component('popupHistorialCrediticio')}.hide(); return false;"/>
                            </h:panelGrid>
                        </h:form>
                    </rich:popupPanel>           
                    <rich:popupPanel id="popupGarantia" modal="false" autosized="true" resizeable="false">
                        <f:facet name="header">
                            <h:outputText value="Garantía" />
                        </f:facet>
                        <h:form>
                            <h:panelGrid columns="2" styleClass="formulario">
                                <h:outputLabel value="Detalle de la Garantía: " styleClass="labelItem"/>
                                <h:inputTextarea   id="detalleGarantia" styleClass=".inputTextArea" style="width: 450px; height: 100px;"/>   
                                <h:commandButton value="CERRAR" onclick="#{rich:component('popupGarantia')}.hide(); return false;"/>
                            </h:panelGrid>
                        </h:form>
                    </rich:popupPanel>            
                    <rich:tabPanel switchType="client">
                        <rich:tab header="Contactos Personales" >
                            <h:form id="frmIndicadoresHeader4">
                                <!--                                <div><b>Listado de Personas</b></div><br />-->
                                <!--                               <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" />-->
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo4">
                                <rich:extendedDataTable value=""
                                                        var="car" id="table" frozenColumns="2"
                                                        style="height:300px; width:100%" selectionMode="none"
                                                        >
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Nombre" />
                                        </f:facet>
                                        <h:outputText value="Paúl Cabrera" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Número" />
                                        </f:facet>
                                        <h:outputText value="0998178462" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Descripción" />
                                        </f:facet>
                                        <h:outputText value="CELULAR" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Operador" />
                                        </f:facet>
                                        <h:outputText value="Movistar" />
                                    </rich:column>

                                </rich:extendedDataTable>
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>
                        <rich:tab header="Contactos de Referencia" >
                            <h:form id="frmIndicadoresHeader9">
                                <!--                                <div><b>Listado de Personas</b></div><br />-->
<!--                                <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" />-->
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo9">
                                <rich:extendedDataTable value=""
                                                        var="car" id="table" frozenColumns="2"
                                                        style="height:300px; width:100%" selectionMode="none"
                                                        >

                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Nombre" />
                                        </f:facet>
                                        <h:outputText value="Juan Perez" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Dirección" />
                                        </f:facet>
                                        <h:outputText value="Av. 12 de Abril" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Teléfono" />
                                        </f:facet>
                                        <h:outputText value="28637489" />
                                    </rich:column>
                                    <rich:column>
                                        <f:facet name="header">
                                            <h:outputText value="Relación" />
                                        </f:facet>
                                        <h:outputText value="Vecino" />
                                    </rich:column>
                                </rich:extendedDataTable>
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>
                    </rich:tabPanel> 
                    </td>
                    </tr>

                </table>
                <br /><br />
                <h:form>
                    <div><b>Registrar Llamada</b></div><br />
                    <h:panelGrid columns="3" styleClass="formulario" style="width:800px">
                        <h:outputLabel value="Hora de la Llamada: " styleClass="labelItem"/>
                        <h:inputText   id="horaLlamada" value="11H00" readonly="true" styleClass="inputText" style="width: 100px;"/> 
                        <br /><br />
                        <h:outputLabel value="Observaciones: " styleClass="labelItem"/>
                        <h:inputTextarea   id="observaciones" value="Alguna observacion" readonly="true" styleClass="inputTextAreas" style="width:400px;"/> 
                        <br /><br />
                        <h:outputLabel id="txtRazonllamada" value="Razón de llamada: " styleClass="labelItem"/>
                        <h:selectOneMenu  id="Razonllamada"  readonly="true" styleClass="selectOne">   
                            <f:selectItem itemLabel="Consulta" itemValue="1" />
                            <f:selectItem itemLabel="Razon 2" itemValue="2" />
                        </h:selectOneMenu>
                    </h:panelGrid>
                    <br />
                    
                    <div><b>Resultados de la Llamada</b></div><br />
                    <h:panelGrid columns="2" styleClass="formulario" style="width:800px">
                        
                        <h:outputLabel value="Resultado de la Llamada: " styleClass="labelItem"/>
                        <h:selectOneRadio  id="resultado" value="1"  readonly="true" styleClass="selectOne" valueChangeListener="#{ctrPersonas.mostrarResultado}"> 
                            <f:selectItem itemLabel="Contestado" itemValue="1" />
                            <f:selectItem itemLabel="No Contestado" itemValue="2" />
                            <a4j:ajax render="contesta RazonNoConexion txtRazonNoConexion txtContesta" immediate="true" event="change" />
                        </h:selectOneRadio>
                        
                        
                        
                        <h:outputLabel rendered="true" id="txtContesta" value="Persona que contesto: " styleClass="labelItem"/>
                        <h:selectOneRadio rendered="true" id="contesta" value="No Conectado"  readonly="true" styleClass="selectOne"> 
                            <f:selectItem itemLabel="Socio / Conyugue" itemValue="1" />
                            <f:selectItem itemLabel="Contestadora / Otra Persona" itemValue="2" />
                        </h:selectOneRadio>                        
                        
                        
                        
                        <h:outputLabel rendered="false" id="txtRazonNoConexion" value="Razón de no conexión: " styleClass="labelItem"/>
                        <h:selectOneMenu rendered="false" id="RazonNoConexion"  readonly="true" styleClass="selectOne">   
                            <f:selectItem itemLabel="Razon 1" itemValue="1" />
                            <f:selectItem itemLabel="Razon 2" itemValue="2" />
                        </h:selectOneMenu>
                        
                    </h:panelGrid>
                    <div><b>Registrar Fecha de Compromiso</b></div><br />
                    <h:panelGrid columns="3" styleClass="formulario" style="width:800px">
                        <h:outputLabel value="Fecha de Compromiso: " styleClass="labelItem"/>
                        <rich:calendar id="calendario" />
                        <br /><br />
                    </h:panelGrid>
                    <br />
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
