<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"  
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:rich="http://richfaces.org/rich" 
             xmlns:a4j="http://richfaces.org/a4j" 
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:cj="http://java.sun.com/jsf/composite/components"           
                     
             
             
             >
    <ui:define name="content">  
        <script>
            function confirmar(formObj) { 
                if(!confirm("Usted ya marcó a este número, desea volver a llamar?")) { 
                    return false;
                }else{
                    submit();
                    return false;
                }
            }
        </script>
        <h:form id="formGeneral">
            <div><b>GESTIÓN DE COBRANZAS / LLAMADA ENTRANTE</b></div><br />            
            <h:panelGrid id="msjErrorInicial" columns="1" styleClass="formulario" style="width:800px">
                <h:outputLabel value="#{ctrCobranzaEntrante.msjError}" styleClass="labelError"/>
            </h:panelGrid>
            
            
            <br /><br />
            <table width="100%">
                <tr>
                    <td width="50%">
                        <div><b>Información del Crédito</b></div><br />
                <h:panelGrid columns="2" styleClass="formulario" id="idInformacionCredito">

                    <h:outputLabel value="Código de Crédito: " styleClass="labelItem"/>
                    <h:inputText   id="codigoCredito" value="#{ctrCobranzaEntrante.selCredito.numCredito}" maxlength="100" readonly="true" styleClass="inputText"/>   

                    <h:outputLabel value="Línea de Crédito: " styleClass="labelItem"/> 
                    <h:inputText   id="lineaCredito" value="#{ctrCobranzaEntrante.selCredito.producto}" maxlength="100" readonly="true" styleClass="inputText"/> 

                    <h:outputLabel value="Fecha Próxima de Pago: " styleClass="labelItem"/>
                    <h:inputText   id="fechaPago" value="#{ctrCobranzaEntrante.selCredito.fproximoPago}" maxlength="100" readonly="true" styleClass="inputText"/>   

                    
                    
                    <h:outputLabel value="Frecuencia de Pago: " styleClass="labelItem"/>
                    <h:inputText   id="frecuenciaPago" value="#{ctrCobranzaEntrante.selCredito.frecuencia}" maxlength="100" readonly="true" styleClass="inputText"/>  

                    <h:outputLabel value="Estado Operación: " styleClass="labelItem"/>
                    <h:inputText   id="estadoInstitucion" value="#{ctrCobranzaEntrante.selCredito.estadoOperacion}" maxlength="100" readonly="true" styleClass="inputText"/>   

                    <h:outputLabel value="Saldo Actual: " styleClass="labelItem"/>
                    <h:inputText   id="saldoActual" value="#{ctrCobranzaEntrante.selCreditoSWeb.saldoActual}"  maxlength="100" readonly="true" styleClass="inputText"/>  

                    <h:outputLabel value="Monto Original: " styleClass="labelItem"/>
                    <h:inputText   id="montoOriginal" value="#{ctrCobranzaEntrante.selCredito.montoPrestamo}" maxlength="100" readonly="true" styleClass="inputText"/>

                    <h:outputLabel value="Saldo Cuenta de Ahorros: " styleClass="labelItem"/>
                    <h:inputText   id="saldoCuentaAhorros" value="#{ctrCobranzaEntrante.cuentaSocio.saldoDisponible}" maxlength="100" readonly="true" styleClass="inputText"/>  

                    <h:outputLabel value="Saldo Cheques: " styleClass="labelItem"/>
                    <h:inputText   id="saldoCheques" value="#{ctrCobranzaEntrante.cuentaSocio.saldoConfirmar}" maxlength="100" readonly="true" styleClass="inputText"/>  
                    
                    <h:outputLabel value="Fecha efectivización cheques: " styleClass="labelItem"/>
                    <h:inputText   id="fechaEfectivizacionCheques" value="#{ctrCobranzaEntrante.cuentaSocio.fefectivizacion}" maxlength="100" readonly="true" styleClass="inputText"/>
                    
                    <h:outputLabel value="Saldo Pignorado: " styleClass="labelItem"/>
                    <h:inputText   id="saldoPingnorado" value="#{ctrCobranzaEntrante.cuentaSocio.saldoPignorado}" maxlength="100" readonly="true" styleClass="inputText"/>  

                    <h:outputLabel value="Análisis Crediticio: " styleClass="labelItem"/>
                    <h:panelGrid columns="2">
                        <h:inputText   id="historialCrediticio" value="#{ctrCobranzaEntrante.selCredito.analisisCrediticio}" maxlength="100" readonly="true" styleClass="inputText"/>
                        <h:commandButton value="VER MAS">
                            <rich:componentControl target="popupHistorialCrediticio" operation="show" />
                        </h:commandButton>
                    </h:panelGrid>

                    <h:outputLabel value="Garantía: " styleClass="labelItem"/>
                    <h:panelGrid columns="2">
                        <h:inputText   id="garantia" value="#{ctrCobranzaEntrante.garantiasCredito.tipoGarantia}" maxlength="100" readonly="true" styleClass="inputText"/> 
                        <h:commandButton value="DETALLE">
                            <rich:componentControl target="popupGarantia" operation="show" />
                        </h:commandButton>
                    </h:panelGrid>

                    <h:outputLabel value="Oficial de Cobranzas " styleClass="labelItem"/>
                    <h:panelGrid columns="2">
                        <h:inputText   id="oficialCredito" value="#{ctrCobranzaEntrante.selCredito.usuarioOficialCobranza}" maxlength="100" readonly="true" styleClass="inputText"/> 
                        <h:inputText   id="extension" value="#{ctrCobranzaEntrante.extension}" maxlength="100" readonly="true" styleClass="inputText" style='width:50px;'/> 
                    </h:panelGrid>
                    

                    <h:outputLabel value="Agencia: " styleClass="labelItem"/>
                    <h:inputText   id="agencia" value="#{ctrCobranzaEntrante.selCredito.sucursal}" maxlength="100" readonly="true" styleClass="inputText"/> 
                </h:panelGrid>
                </td>
                <td width="50%" valign="top">
                    <div><b>Información del Cliente</b></div><br />
                <h:panelGrid columns="2" styleClass="formulario" id="idInformacionCliente">

                    <h:outputLabel value="Nombre de Socio: " styleClass="labelItem"/>
                    <h:inputText   id="nombreSocio" value="#{ctrCobranzaEntrante.selSocio.nombrelegal}" maxlength="100" readonly="true" styleClass="inputText"/>   

                    <h:outputLabel value="Nro. Cédula: " styleClass="labelItem"/>
                    <h:inputText   id="numeroCedula" value="#{ctrCobranzaEntrante.selSocio.identificacion}" maxlength="100" readonly="true" styleClass="inputText"/> 

                    <h:outputLabel value="Profesión de Socio: " styleClass="labelItem"/>
                    <h:inputText   id="profesionSocio" value="#{ctrCobranzaEntrante.selSocio.profesion}" maxlength="100" readonly="true" styleClass="inputText"/> 

                    <h:outputLabel value="Nombre de Cónyugue: " styleClass="labelItem"/>
                    <h:inputText   id="nombreConyugue" value="#{ctrCobranzaEntrante.selSocio.nombresCompletosConyugue}" maxlength="100" readonly="true" styleClass="inputText"/> 

                    <h:outputLabel value="Dirección de Referencia: " styleClass="labelItem"/>
                    <h:panelGrid columns="2">
                        <h:inputText   id="direccionReferencia" value="#{ctrCobranzaEntrante.selSocio.direccionPrincipal}" maxlength="100" readonly="true" styleClass="inputText"/> 
                        <h:commandButton value="DETALLE">
                            <rich:componentControl target="popupDireccion" operation="show" />
                        </h:commandButton>
                    </h:panelGrid>
                    

                    <h:outputLabel value="Correo Electrónico: " styleClass="labelItem"/>
                    <h:inputText   id="correoElectronico" value="#{ctrCobranzaEntrante.selSocio.mail}" maxlength="100" readonly="true" styleClass="inputText"/> 

                </h:panelGrid>
                <br /><br /><br />
                <div><b>Información de las Cuotas</b></div><br />
                <h:panelGrid columns="2" styleClass="formulario" id="idInformacionCuotas">

                    <h:outputLabel value="# Cuotas Vencidas: " styleClass="labelItem"/>
                    <h:inputText   id="cuotasVencidas" value="#{ctrCobranzaEntrante.selCredito.ncuotasVencidas}" maxlength="100" readonly="true" styleClass="inputText"/>  

                   
                    <h:outputLabel value="# Cuotas Totales: " styleClass="labelItem"/>
                    <h:inputText   id="cuotasTotales" value="#{ctrCobranzaEntrante.selCredito.ntotalCuotas}" maxlength="100" readonly="true" styleClass="inputText"/>  

                    <h:outputLabel value="# Cuotas Pendientes: " styleClass="labelItem"/>
                    <h:inputText   id="cuotasPendientes" value="#{ctrCobranzaEntrante.selCredito.ncuotasPendientes}" maxlength="100" readonly="true" styleClass="inputText"/>  

                    <h:outputLabel value="# Cuotas Pagadas: " styleClass="labelItem"/>
                    <h:panelGrid columns="2">
                        <h:inputText   id="cuotasPagadas" value="#{ctrCobranzaEntrante.selCredito.ncuotasPagadas}" maxlength="100" readonly="true" styleClass="inputText"/>
                        <h:commandButton value="DETALLE">
                            <rich:componentControl target="popupDetalleCuotas" operation="show" />
                        </h:commandButton>
                    </h:panelGrid>
                    
                    <h:outputLabel value="Monto Vencido: " styleClass="labelItem"/>
                    <h:inputText   id="montovencido" value="#{ctrCobranzaEntrante.selCreditoSWeb.montoVencido}"  maxlength="100" readonly="true" styleClass="inputText"/>  
                </h:panelGrid>
                </td>
                </tr>
            </table>

        </h:form>
        <br /><br />
        <table style="width:100%">
            <tr>
                <td style="width:100%" valign="top" >

            <rich:tabPanel switchType="client">
                <rich:tab header="Cuotas de Crédito" >
                    <h:form id="frmIndicadoresCuerpo">

                        <rich:extendedDataTable value="#{ctrCobranzaEntrante.cuotas}"
                                                var="cuota" id="table" frozenColumns="2"
                                                style="height:150px; width:100% ; overflow-y:auto ; overflow-x:auto" selectionMode="none"
                                                >
                            <rich:column >
                                <f:facet name="header">
                                    <h:outputText value="Número de Crédito" />
                                </f:facet>
                                <a4j:commandLink value="#{cuota['ccuenta']}" styleClass="no-decor" immediate="true" render="idInformacionCredito idInformacionCliente idInformacionCuotas formGeneral" oncomplete="carga();">
                                    <a4j:param  value="#{cuota['ccuenta']}" assignTo="#{ctrCobranzaEntrante.creditoSeleccionado}"/>
                                </a4j:commandLink>
                                <a4j:jsFunction name="carga" action="#{ctrCobranzaEntrante.cargarCreditoByNum()}" render="idInformacionCredito idInformacionCliente idInformacionCuotas formGeneral"/>
                                
                            </rich:column>

                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Número de Cuota" />
                                </f:facet>
                                <h:outputText value="#{cuota['numerocuota']}" />
                            </rich:column>

                            
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Valor A Pagar($USD)" />
                                </f:facet>
                                <h:outputText value="#{cuota['montoTotalCuota']}" />
                            </rich:column>

                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Valor Cuota Pendiente" />
                                </f:facet>
                                <h:outputText value="#{cuota['montoAdeudaCuota']}" />
                            </rich:column>

                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Días de Mora" />
                                </f:facet>
                                <h:outputText value="#{cuota['diasVencimiento']}" />
                            </rich:column>

                        </rich:extendedDataTable>
                    </h:form>
                </rich:tab>
                <rich:tab header="Historial de Llamadas" >

                    <h:form id="frmIndicadoresCuerpo5">
                        <rich:extendedDataTable value="#{ctrCobranzaEntrante.historialLlamadas}"
                                                var="llamadaTmp" id="table" frozenColumns="2"
                                                style="height:150px; width:100% ; overflow-y:auto ; overflow-x:auto" selectionMode="none"
                                                >
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Número Llamado" />
                                </f:facet>
                                <h:outputText value="#{llamadaTmp['numeroLlamada']}" />
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Fecha" />
                                </f:facet>
                                <h:outputText value="#{llamadaTmp['fechaLlamada']}" />
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Hora" />
                                </f:facet>
                                <h:outputText value="#{llamadaTmp['hora']}" />
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Tiempo Duración" />
                                </f:facet>
                                <h:outputText value="#{llamadaTmp['tiempoDuracion']}" />
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Agente" />
                                </f:facet>
                                <h:outputText value="#{llamadaTmp['usuario']}" />
                            </rich:column>               
                            <rich:column>
                                <f:facet name="header" >
                                    <h:outputText value="Razón" style="width: 100px;" />
                                </f:facet>
                                <h:outputText value="#{llamadaTmp['razon']}"  style="width: 100px;"/>
                            </rich:column>         
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Observación" />
                                </f:facet>
                                <h:outputText value="#{llamadaTmp['observacion']}" />
                            </rich:column>                                    
                        </rich:extendedDataTable>
                    </h:form>
                </rich:tab>
                <rich:tab header="Observaciones FIT" >

                    <h:form id="frmIndicadoresCuerpo50">
                        <rich:extendedDataTable value="#{ctrCobranzaEntrante.observacionesFIT}"
                                                var="observacionesFIT" id="table" frozenColumns="2"
                                                style="height:150px; width:100% ; overflow-y:auto ; overflow-x:auto" selectionMode="none"
                                                >
                            <rich:column width="100px">
                                <f:facet name="header">
                                    <h:outputText value="Cuenta" />
                                </f:facet>
                                <h:outputText value="#{observacionesFIT['ccuenta']}" />
                            </rich:column>
                            <rich:column width="100px">
                                <f:facet name="header" >
                                    <h:outputText value="Usuario" />
                                </f:facet>
                                <h:outputText  value="#{observacionesFIT['cusuarioIngreso']}"/>
                            </rich:column>
                            <rich:column width="150px">
                                <f:facet name="header">
                                    <h:outputText value="Fecha Diligencia" />
                                </f:facet>
                                <h:outputText value="#{observacionesFIT['fdiligencia']}" />
                            </rich:column>
                            <rich:column headerClass="myWidth" width="300px">
                                <f:facet name="header">
                                    <h:outputText value="Observación" />
                                </f:facet>
                                <h:outputText value="#{observacionesFIT['observaciones']}" />
                            </rich:column>
                            
                            <rich:column width="150px">
                                <f:facet name="header">
                                    <h:outputText value="Fecha compromiso" />
                                </f:facet>
                                <h:outputText value="#{observacionesFIT['fcompromisopago']}" />
                            </rich:column>
                        </rich:extendedDataTable>                        
                        <h:commandButton value="Ingresar Nueva Observación" rendered="#{ctrCobranzaEntrante.mostrarGuardarVisita}">
                            <rich:componentControl target="popupIngresoFit" operation="show" />
                        </h:commandButton>
                        <rich:popupPanel id="popupIngresoFit" modal="false" autosized="true" resizeable="false" style="position:absolute; background-color: #5F9F9F; top:300px; width:300px;" domElementAttachment="form">
                            <f:facet name="header">
                                <h:outputText value="Ingreso una nueva observación" />
                            </f:facet>
                            <h:form>
                                <h:panelGrid columns="2" styleClass="formulario">
                                    <h:outputLabel value="Número Crédito" styleClass="labelItem"/>
                                    <h:inputText   id="nomCreditoObs"  maxlength="100" styleClass="inputText" style="width: 120px;" readonly="true" value="#{ctrCobranzaEntrante.selCredito.numCredito}" />   
                                    
                                    <h:outputLabel value="Usuario" styleClass="labelItem"/>
                                    <h:inputText   id="usuarioObs"  maxlength="100" styleClass="inputText" style="width: 120px;" readonly="true" value="#{ctrCobranzaEntrante.aliasUsuario}" />   
                                    
                                    <h:outputLabel value="Comentario" styleClass="labelItem"/>
                                    <h:selectOneMenu  rendered="true" id="relacions" value="#{ctrCobranzaEntrante.idComentario}" >
                                        <f:selectItem itemValue="1" itemLabel="SOCIO" />
                                        <f:selectItem itemValue="2" itemLabel="CONYUGUE SOCIO" />
                                        <f:selectItem itemValue="3" itemLabel="GARANTE" />
                                        <f:selectItem itemValue="4" itemLabel="CONYUGUE GARANTE" />
                                        <f:selectItem itemValue="5" itemLabel="MENSAJE FAMILIARES SOCIO" />
                                        <f:selectItem itemValue="6" itemLabel="MENSAJE FAMILIARES GARANTE" />
                                        <f:selectItem itemValue="7" itemLabel="MENSAJE CELULAR SOCIO" />
                                        <f:selectItem itemValue="8" itemLabel="MENSAJE CELULAR GARANTE" />
                                        <f:selectItem itemValue="9" itemLabel="MENSAJE CONTESTADORA CASA SOCIO" />
                                        <f:selectItem itemValue="10" itemLabel="VISITA SOCIOE" />
                                        <f:selectItem itemValue="11" itemLabel="VISITA GARANTES" />
                                        <f:selectItem itemValue="12" itemLabel="VISITA SOCIO Y GARANTES" />
                                        <f:selectItem itemValue="13" itemLabel="NOTIFICACION 1" />
                                        <f:selectItem itemValue="14" itemLabel="NOTIFICACION 2" />
                                        <f:selectItem itemValue="15" itemLabel="NOTIFICACION 3" />
                                        <f:selectItem itemValue="16" itemLabel="STICKER VISITA" />
                                        <f:selectItem itemValue="17" itemLabel="CITACION SOCIO" />
                                        <f:selectItem itemValue="18" itemLabel="CITACION GARANTES" />
                                        <f:selectItem itemValue="19" itemLabel="CITACION SOCIO Y GARANTES" />
                                        <f:selectItem itemValue="20" itemLabel="NOTIFICACIÓN CAMPO" />
                                        <f:selectItem itemValue="21" itemLabel="REFERENCIAS" />
                                        <f:selectItem itemValue="22" itemLabel="SOCIO NO UBICABLE" />
                                        <f:selectItem itemValue="23" itemLabel="GARANTE NO UBICABLE" />
                                        <f:selectItem itemValue="24" itemLabel="OTROS" />
                                        <f:selectItem itemValue="25" itemLabel="PREJUDICIAL" />
                                        <f:selectItem itemValue="26" itemLabel="CREDITO EN DEMANDA" />
                                        <f:selectItem itemValue="27" itemLabel="SOLICITUD DE JUNTA DE CONCILIACION" />
                                        <f:selectItem itemValue="28" itemLabel="CELEBRACIÓN JUNTA DE CONCILIACIÓN" />
                                        <f:selectItem itemValue="29" itemLabel="SOLICITUD  TERMINO DE PRUEBA" />
                                        <f:selectItem itemValue="30" itemLabel="APERTURA DE TERMINO DE PRUEBA" />
                                        <f:selectItem itemValue="31" itemLabel="SOLICITUD DECLARACIÓN DE CONCLUCIÓN DE TERMINO DE PRUEBA" />
                                        <f:selectItem itemValue="32" itemLabel="CIERRE TERMINO DE PRUEBA" />
                                        <f:selectItem itemValue="33" itemLabel="PRESENTACIÓN ALEGATOS" />
                                        <f:selectItem itemValue="34" itemLabel="SOLICITUD DICTAR  SENTENCIA" />
                                        <f:selectItem itemValue="35" itemLabel="FECHA DE SENTENCIA" />
                                        <f:selectItem itemValue="36" itemLabel="RAZÓN DE EJECUTORÍA  DE LA SENTENCIA" />
                                        <f:selectItem itemValue="37" itemLabel="PRESENTACIÓN DE RECURSO DE APELACIÓN" />
                                        <f:selectItem itemValue="38" itemLabel="CALIFICACIÓN DE RECURSO DE APELACIÓN" />
                                        <f:selectItem itemValue="39" itemLabel="SOLICITUD LIQUIDACIÓN VALORES ADEUDADOS" />
                                        <f:selectItem itemValue="40" itemLabel="SOLICITUD  AUTO DE PAGO" />
                                        <f:selectItem itemValue="41" itemLabel="RAZON DE PAGO" />
                                        <f:selectItem itemValue="42" itemLabel="SOLICITUD DE EMBARGO" />
                                        <f:selectItem itemValue="43" itemLabel="EJECUCIÓN DE EMBARGO" />
                                        <f:selectItem itemValue="44" itemLabel="AVALUO" />
                                        <f:selectItem itemValue="45" itemLabel="FECHA DE REMATE" />
                                        <f:selectItem itemValue="46" itemLabel="ADJUDICACIÓN DEL BIEN" />
                                        <f:selectItem itemValue="47" itemLabel="FECHA DE PAGO" />
                                        <f:selectItem itemValue="48" itemLabel="PROCESO DE JUICIO DE INSOLVENCIA" />
                                        <f:selectItem itemValue="49" itemLabel="PRESUNCIÓN DE INSOLVENCIA" />
                                        <f:selectItem itemValue="50" itemLabel="FECHA  DE INSOLVENCIA" />
                                        
                                        <a4j:ajax event="change"/>
                                    </h:selectOneMenu>
                                    
                                    <h:outputLabel value="Fecha Compromiso" styleClass="labelItem"/>
                                    <rich:calendar id="fCompromisoObs" datePattern="dd-MM-yyyy" value="#{ctrCobranzaEntrante.fechaCompromiso}">
                                        <a4j:ajax event="change"/>
                                    </rich:calendar>
                                    
                                    <h:outputLabel value="Observación" styleClass="labelItem"/>
                                    <h:inputTextarea id="observacionObs" styleClass="inputTextAreas" style="width:200px;" value="#{ctrCobranzaEntrante.observacionObs}"> 
                                        <a4j:ajax event="change"/>
                                    </h:inputTextarea>

                                    <a4j:commandButton rendered="true" value="GRABAR" oncomplete="if (#{ctrCobranzaEntrante.verificarFecha()}) {#{ctrCobranzaEntrante.registrarObservacion()}; #{rich:component('popupIngresoFit')}.hide(); return false;}" render="errorMsjObs"/>
                                    <a4j:commandButton value="CANCELAR" onclick="#{rich:component('popupIngresoFit')}.hide(); return false;"/>
                                    
                                    <h:outputLabel id="errorMsjObs" styleClass="labelItem" value="#{ctrCobranzaEntrante.errorMsjObservacion}" />

                                </h:panelGrid>
                            </h:form>
                        </rich:popupPanel> 
                        
                    </h:form>
                </rich:tab>
                <rich:tab header="Garantes" >

                    <h:form id="frmIndicadoresCuerpo6">
                        <rich:extendedDataTable value="#{ctrCobranzaEntrante.informacionGarantes}"
                                                var="garante" id="table" frozenColumns="2"
                                                style="height:150px; width:100% ; overflow-y:auto ; overflow-x:auto " selectionMode="none"
                                                >

                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Número de Crédito" />
                                </f:facet>
                                <h:outputText value="#{ctrCobranzaEntrante.selCredito.numCredito}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Identificación" />
                                </f:facet>
                                <h:outputText value="#{garante['identificacion']}" /> 
                            </rich:column>
                            <rich:column width="250px">
                                <f:facet name="header">
                                    <h:outputText value="Nombre" />
                                </f:facet>
                                <h:outputText value="#{garante['nombreLegal']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Profesión" />
                                </f:facet>
                                <h:outputText value="#{garante['profesion']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Relación" />
                                </f:facet>
                                <h:outputText value="#{garante['relacion']}" /> 
                            </rich:column>
                            <rich:column width="350px" style="overflow-x:auto">
                                <f:facet name="header">
                                    <h:outputText value="Dirección Principal" style="overflow-y:auto ; overflow-x:auto"/>
                                </f:facet>
                                <h:outputText value="#{garante['direccionPrincipal']}" /> 
                            </rich:column>
                            <rich:column width="250px">
                                <f:facet name="header">
                                    <h:outputText value="Conyugue" />
                                </f:facet>
                                <h:outputText value="#{garante['nombresCompletosConyugue']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Identificación Conyuque" />
                                </f:facet>
                                <h:outputText value="#{garante['identificacionConyugue']}" /> 
                            </rich:column>                            
                            <rich:column width="150px">
                                <f:facet name="header">
                                    <h:outputText value="Números Telefono" />
                                </f:facet>
                                <h:selectOneMenu  id="telefonosGarantes" value="#{ctrCobranzaEntrante.idTelefonoGarante}">
                                    <f:selectItems value="#{garante['selectItemTelefonos']}" />
                                    <a4j:ajax event="change"/>
                                </h:selectOneMenu>
                                <a4j:commandLink styleClass="no-decor" immediate="true" render="msjLlamando holaqhace refrescarMsj registrar_btn" oncomplete="if (#{ctrCobranzaEntrante.verificarGuardado()}) {if (#{ctrCobranzaEntrante.verificarNoMarcado()}) {submit();} else {confirmar(this);} } else {alert('La llamada activa no se ha registrado aun!!')}">
                                    <h:graphicImage value="../imagenes/call.png" alt="Click to call" width="25" height="13"/>
                                </a4j:commandLink>
                            </rich:column>                            
                        </rich:extendedDataTable>
                    </h:form>
                </rich:tab>         
            </rich:tabPanel>  
            </td>
        </tr>
        <tr>
            <td style="width:100%">
            <h:commandButton value="Ingresar Nuevo">
                <rich:componentControl target="popup" operation="show" />
            </h:commandButton>
            <rich:popupPanel id="popup" modal="false" autosized="true" resizeable="false" style="position:absolute; background-color: #5F9F9F; top:20px; width:300px;">
                <f:facet name="header">
                    <h:outputText value="Ingreso de un Nuevo Contacto Personal" />
                </f:facet>
                <h:form>
                    <h:panelGrid columns="2" styleClass="formulario">
                        <h:outputLabel value="Número de Teléfono: " styleClass="labelItem"/>
                        <h:inputText   id="nomSocio"  maxlength="100" styleClass="inputText" style="width: 120px;"/>   

                        <h:outputLabel value="Número Válido: "  styleClass="labelItem"/>
                        <h:selectBooleanCheckbox value="true"/>

                        <h:outputLabel rendered="true" value="Operador: " styleClass="labelItem"/>
                        <h:inputText rendered="true"  id="operador"  maxlength="50" styleClass="inputText" style="width: 120px;"/> 

                        <h:outputLabel rendered="true" value="Descripción: " styleClass="labelItem"/>
                        <h:selectOneMenu  rendered="true" id="descrip" >
                            <f:selectItem itemValue="1" itemLabel="Trabajo" />
                        </h:selectOneMenu>

                        <h:outputLabel rendered="true" value="Parentesco: " styleClass="labelItem"/>
                        <h:selectOneMenu  rendered="true" id="relacion" >
                            <f:selectItem itemValue="1" itemLabel="Vecino" />
                            <f:selectItem itemValue="2" itemLabel="Hermano" />
                            <f:selectItem itemValue="3" itemLabel="CuÃ±ado" />
                        </h:selectOneMenu>

                        <h:commandButton rendered="true" value="GRABAR" />
                        <h:commandButton value="CANCELAR" onclick="#{rich:component('popup')}.hide(); return false;"/>

                    </h:panelGrid>
                </h:form>
            </rich:popupPanel> 
            <rich:popupPanel id="popupCuotasPagadas" modal="false" autosized="true" resizeable="false" style="position:absolute; background-color: #5F9F9F; top:20px; width:250px;">
                <f:facet name="header">
                    <h:outputText value="Informe de Cuotas Pagadas" />
                </f:facet>
                <h:form>
                    <h:panelGrid columns="2" styleClass="formulario">
                        <rich:extendedDataTable value=""
                                                var="car" id="tableCuotas" frozenColumns="2"
                                                headerClass="extdt-innerdiv" selectionMode="none"
                                                >
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Número Cuota" />
                                </f:facet>
                                <h:outputText value="1/12" />
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Valor ($USD)" />
                                </f:facet>
                                <h:outputText value="23,30" />
                            </rich:column>

                        </rich:extendedDataTable>
                        <h:commandButton value="CERRAR" onclick="#{rich:component('popupCuotasPagadas')}.hide(); return false;"/>
                    </h:panelGrid>
                </h:form>
            </rich:popupPanel>           
            <rich:popupPanel id="popupHistorialCrediticio" modal="false" autosized="true" resizeable="false" style="position:absolute; background-color: #5F9F9F; top:20px; width:600px;">
                <f:facet name="header">
                    <h:outputText value="Detalle del Historial Crediticio" />
                </f:facet>
                <h:form>
                    <h:panelGrid columns="2" styleClass="formulario">
                        <h:outputLabel value="Detalle del Historial Crediticio: " styleClass="labelItem"/>
                        <h:inputTextarea   id="historialCrediticioDetalle" styleClass=".inputTextArea" readonly="true" style="width: 450px; height: 100px;" value="#{ctrCobranzaEntrante.selCredito.analisisCrediticio}"/>   
                        <h:commandButton value="CERRAR" onclick="#{rich:component('popupHistorialCrediticio')}.hide(); return false;"/>
                    </h:panelGrid>
                </h:form>
            </rich:popupPanel>           
            <rich:popupPanel id="popupDireccion" modal="false" autosized="true" resizeable="false" style="position:absolute; background-color: #5F9F9F; top:20px; width:600px;">
                <f:facet name="header">
                    <h:outputText value="Detalle de la Dirección" />
                </f:facet>
                <h:form>
                    <h:panelGrid columns="2" styleClass="formulario">
                        <h:outputLabel value="Dirección: " styleClass="labelItem"/>
                        <h:inputTextarea   id="direccionReferenciaDetalle" value="#{ctrCobranzaEntrante.selSocio.direccionPrincipal}" style="width: 450px; height: 100px;" readonly="true" styleClass="inputText"/> 
                        <h:commandButton value="CERRAR" onclick="#{rich:component('popupDireccion')}.hide(); return false;"/>
                    </h:panelGrid>
                </h:form>
            </rich:popupPanel>           
            
            <rich:popupPanel id="popupGarantia" modal="false" autosized="true" resizeable="false" style="position:absolute; background-color: #5F9F9F; top:20px; width:600px;">
                <f:facet name="header">
                    <h:outputText value="Garantía" />
                </f:facet>
                <h:form>
                    <h:panelGrid columns="2" styleClass="formulario">
                        <h:outputLabel value="Detalle de la Garantía: " styleClass="labelItem"/>
                        <h:inputTextarea   id="detalleGarantia" styleClass=".inputTextArea" readonly="true" style="width: 450px; height: 100px;" value="#{ctrCobranzaEntrante.garantiasCredito.descripcion}"/>   
                        <h:commandButton value="CERRAR" onclick="#{rich:component('popupGarantia')}.hide(); return false;"/>
                    </h:panelGrid>
                </h:form>
            </rich:popupPanel>           
        
            <rich:popupPanel id="popupDetalleCuotas" modal="false" autosized="true" resizeable="false" style="position:absolute; background-color: #5F9F9F; top:20px; width:98%;">
                <f:facet name="header">
                    <h:outputText value="Detalle de las Cuotas"/>
                </f:facet>
                <h:form id="frmIndicadoresCuerpo69" >
                    
                    <rich:extendedDataTable value="#{ctrCobranzaEntrante.informacionDetalleCuotas}"
                                                var="detallecuotaspagadas" frozenColumns="2" 
                                                style="height:300px; width:100%; overflow-y:auto" selectionMode="none"  
                            >                         
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Cuenta" />
                                </f:facet>
                               <h:outputText value="#{detallecuotaspagadas['ccuenta']}" /> 
                            </rich:column>
                            <rich:column >
                                <f:facet name="header">
                                    <h:outputText value="Numero Cuota" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['numerocuota']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Dias" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['dias']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="fvencimiento" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['fvencimiento']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Capital" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['capital']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Interes" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['interes']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Acciones" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['acciones']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Seguro" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['seguro']}" /> 
                            </rich:column>  
                            
                            <rich:column >
                                <f:facet name="header">
                                    <h:outputText value="Impuestos" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['impuestos']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Recargo" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['recargo']}" /> 
                            </rich:column>    
                            <rich:column >
                                <f:facet name="header">
                                    <h:outputText value="InteresRest" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['interesReestructurado']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Total" />
                                </f:facet>
                                <h:outputText value="#{detallecuotaspagadas['total']}" /> 
                            </rich:column>    
                            
                        </rich:extendedDataTable>
                               <h:commandButton value="CERRAR" onclick="#{rich:component('popupDetalleCuotas')}.hide(); return false;"/>
                    
                    </h:form>
            </rich:popupPanel>           

            <rich:tabPanel switchType="client">
                <rich:tab header="Contactos Personales" >
                    <h:form id="frmIndicadoresCuerpo4">
                        <rich:extendedDataTable value="#{ctrCobranzaEntrante.contactosPersonales}" var="telefono" id="table" frozenColumns="2"
                                                style="height:200px; width:100%; overflow-y:auto ; overflow-x:auto" selectionMode="none"
                                                >
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombre" />
                                </f:facet>
                                <h:outputText value="#{telefono['descripcion']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Número" />
                                </f:facet>
                                <a4j:commandLink  value="#{telefono['numeroTelefono']}" immediate="true" render="msjLlamando holaqhace refrescarMsj registrar_btn" oncomplete="if (#{ctrCobranzaEntrante.verificarGuardado()}) {if (#{ctrCobranzaEntrante.verificarNoMarcado()}) {submit();} else {confirmar(this);} } else {alert('La llamada activa no se ha registrado aun!!')}">
                                    <a4j:param name="data21" value="#{telefono['numeroTelefono']}" assignTo="#{ctrCobranzaEntrante.numero}"/>
                                    <a4j:param name="data22" value="#{telefono['tipoTelefono']}" assignTo="#{ctrCobranzaEntrante.tipoTelefono}"/>
                                </a4j:commandLink>
                               
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Descripción" />
                                </f:facet>
                                <h:outputText value="#{telefono['descripcion']}" /> 
                            </rich:column>
                            <rich:column width="200px">
                                <f:facet name="header">
                                    <h:outputText value="Operador" />
                                </f:facet>
                                <h:outputText value="#{telefono['empresaOperadora']}" /> 
                            </rich:column>

                            <rich:column>                                        
                                <a4j:commandLink styleClass="no-decor" immediate="true" render="msjLlamando holaqhace refrescarMsj registrar_btn" oncomplete="if (#{ctrCobranzaEntrante.verificarGuardado()}) {if (#{ctrCobranzaEntrante.verificarNoMarcado()}) {submit();} else {confirmar(this);} } else {alert('La llamada activa no se ha registrado aun!!')}">
                                    <h:graphicImage value="../imagenes/call.png" alt="Click to call" />
                                    <a4j:param name="data11" value="#{telefono['numeroTelefono']}" assignTo="#{ctrCobranzaEntrante.numero}"/>
                                    <a4j:param name="data12" value="#{telefono['tipoTelefono']}" assignTo="#{ctrCobranzaEntrante.tipoTelefono}"/>
                                </a4j:commandLink>
                                <a4j:jsFunction name="submit" action="#{ctrCobranzaEntrante.llamarNumero()}" render="msjLlamando refrescar0 msjErrorInicial registrar_btn "/>
                            </rich:column>
                        </rich:extendedDataTable>

                        <rich:popupPanel id="confirmPane" autosized="true"  style="position:absolute; background-color: #5F9F9F; top:400px; width:500px;">                                    
                            Usted va a llamar al número 
                            <h:outputText id="holaqhace" value=" #{ctrCobranzaEntrante.numero}"/>
                            <a4j:commandButton value="Cancel" onclick="#{rich:component('confirmPane')}.hide(); return false;" />
                            <a4j:commandButton value="Llamar" onclick="#{rich:component('confirmPane')}.hide(); submit(); return false;" render="msjErrorInicial" />
                        </rich:popupPanel>

                    </h:form>
                </rich:tab>
                <rich:tab header="Contactos de Referencia" >
                    <h:form id="frmIndicadoresHeader9">
                        <!--                                <div><b>Listado de Personas</b></div><br />-->
<!--                                <cj:toolbar ctrGeneral="#{ctrCobranzaEntrante}"  titulo="" listadoAccion="" />-->
                    </h:form>
                    <h:form id="frmIndicadoresCuerpo9">
                        <rich:extendedDataTable value="#{ctrCobranzaEntrante.contactosReferencia}"
                                                style="height:150px; width:100% ; overflow-y:auto ; overflow-x:auto"
                                                var="referenciaPersonal" id="table" >
                            <rich:column width="250px">
                                <f:facet name="header">
                                    <h:outputText value="Nombre" />
                                </f:facet>
                                <h:outputText value="#{referenciaPersonal['nombrepersona']}" /> 
                            </rich:column>
                            <rich:column width="350px">
                                <f:facet name="header">
                                    <h:outputText value="Dirección" />
                                </f:facet>
                                <h:outputText value="#{referenciaPersonal['direccion']}" /> 
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">
                                    <h:outputText value="Teléfono" />
                                </f:facet>
                              
                                <a4j:commandLink  value="#{referenciaPersonal['telefono']}" render="msjLlamando holaqhace refrescarMsj" oncomplete="if (#{ctrCobranzaEntrante.verificarGuardado()}) {if (#{ctrCobranzaEntrante.verificarNoMarcado()}) {submit();} else {confirmar(this);} } else {alert('La llamada activa no se ha registrado aun!!')}">

                                    <a4j:param  value="#{referenciaPersonal['telefono']}" assignTo="#{ctrCobranzaEntrante.numero}"/>
                                   
                                </a4j:commandLink>
                            </rich:column>
                            <rich:column width="200px">
                                <f:facet name="header">
                                    <h:outputText value="Relación" />
                                </f:facet>
                                <h:outputText value="#{referenciaPersonal['parentesco']}" /> 
                            </rich:column>
                            <rich:column>                                        
                                <a4j:commandLink styleClass="no-decor" render="msjLlamando holaqhace refrescarMsj" oncomplete="if (#{ctrCobranzaEntrante.verificarGuardado()}) {if (#{ctrCobranzaEntrante.verificarNoMarcado()}) {submit();} else {confirmar(this);} } else {alert('La llamada activa no se ha registrado aun!!')}">
                                    <h:graphicImage value="../imagenes/call.png" alt="Click to call" />
                                    <a4j:param name="data11" value="#{referenciaPersonal['telefono']}" assignTo="#{ctrCobranzaEntrante.numero}"/>
                                </a4j:commandLink>
                                <a4j:jsFunction name="submit" action="#{ctrCobranzaEntrante.llamarNumero()}" render="msjLlamando refrescar0 msjErrorInicial"/>
                            </rich:column>
                        </rich:extendedDataTable>
                    </h:form>
                </rich:tab>
            </rich:tabPanel> 
            </td>
            </tr>

        </table>
        <br />
        <h:form>
            <div><b>Registrar Llamada</b></div><br />

            <h:panelGrid id="refrescarMsj" columns="1" styleClass="formulario" style="width:800px">
                <h:outputLabel value="#{ctrCobranzaEntrante.msjNoRegistro}" styleClass="labelError"/>
            </h:panelGrid>

            <h:panelGrid id="refrescar0" columns="3" styleClass="formulario" style="width:300px">
                <h:outputLabel value="Llamando al número:" styleClass="labelItem"/>
                
                <h:inputText   id="numeroLlamada" value="#{ctrCobranzaEntrante.numero}" styleClass="inputText" style="width: 100px;">
                    <a4j:ajax event="change"/>
                </h:inputText>
                <a4j:commandLink styleClass="no-decor" immediate="true" render="msjLlamando holaqhace refrescarMsj registrar_btn" oncomplete="if (#{ctrCobranzaEntrante.verificarGuardado()}) {if (#{ctrCobranzaEntrante.verificarNoMarcado()}) {submit();} else {confirmar(this);} } else {alert('La llamada activa no se ha registrado aun!!')}">
                    <h:graphicImage value="../imagenes/call.png" alt="Click to call" />
                </a4j:commandLink>
                    
                <br /><br />
                <h:outputLabel value="Hora de la Llamada: " styleClass="labelItem"/>
                <h:inputText   id="horaLlamada" value="#{ctrCobranzaEntrante.horallamada}" readonly="true" styleClass="inputText" style="width: 100px;"/>                         
            </h:panelGrid>

            <h:panelGrid id="refrescar4" columns="3" styleClass="formulario" style="width:400px">
                <h:outputLabel value="Resultado de la Llamada: " styleClass="labelItem"/>
                <h:selectOneRadio  id="resultado" value="#{ctrCobranzaEntrante.contestado}" immediate="true" styleClass="selectOne"> 
                    <f:selectItem itemLabel="Contestado" itemValue="1" />
                    <f:selectItem itemLabel="No Contestado" itemValue="2" />
                    <a4j:ajax render="refrescar2 refrescar3" />
                </h:selectOneRadio>
            </h:panelGrid>

            <h:panelGrid id="refrescar2" columns="3" styleClass="formulario" style="width:400px">
                <h:outputLabel value="Persona que contesto: " styleClass="labelItem" rendered="#{ctrCobranzaEntrante.muestraQContesta}"/>
                <h:selectOneRadio id="contesta" value="#{ctrCobranzaEntrante.quiencontesta}" immediate="true" styleClass="selectOne" rendered="#{ctrCobranzaEntrante.muestraQContesta}">
                    <f:selectItem itemLabel="Socio/Conyugue" itemValue="1" />
                    <f:selectItem itemLabel="Otro" itemValue="2" />
                    <a4j:ajax render="refrescar3" />
                </h:selectOneRadio>                        
            </h:panelGrid>

            <h:panelGrid id="refrescar3" columns="3" styleClass="formulario" style="width:300px">
                <h:outputLabel id="txtRazonllamada" value="Razón: " styleClass="labelItem" rendered="#{ctrCobranzaEntrante.muestraRazon}"/>
                <h:selectOneMenu  id="Razonllamada" value="#{ctrCobranzaEntrante.idRazon}" immediate="true" styleClass="selectOne" rendered="#{ctrCobranzaEntrante.muestraRazon}" required="true" requiredMessage="Seleccione" >
                    <f:selectItems value="#{ctrCobranzaEntrante.selectItemRazones}" />
                    <a4j:ajax event="change"/>
                </h:selectOneMenu>
            </h:panelGrid>
            <br /><br />
            <h:panelGrid id="registrar_btn" columns="3" styleClass="formulario" style="width:400px">    
                <h:outputLabel value="Observación: " styleClass="labelItem"/>
                <h:inputTextarea id="observacion" value="#{ctrCobranzaEntrante.observacion}" styleClass="inputTextAreas" style="width:400px;"> 
                    <a4j:ajax event="change"/>
                </h:inputTextarea>
                <br/>
                <a4j:commandButton style="height:40px;" value="Registrar Llamadas" immediate="true" disabled="#{ctrCobranzaEntrante.bandera_registrada}" oncomplete="#{ctrCobranzaEntrante.registrarLlamada()}" render="msjLlamando refrescarMsj msjErrorInicial refrescar0 refrescar4 refrescar2 refrescar3 checkVisita registrar_btn" />

                <h:outputLabel id="msjLlamando" value="#{ctrCobranzaEntrante.msjLlamando}" styleClass="labelItem"/>
                <h:commandButton value="Siguiente Llamada" action="#{ctrCobranzaEntrante.getNextCredit()}" styleClass="cont_next"/>
            </h:panelGrid>

            <br /><br />
            <h:panelGrid id="checkVisita" columns="2" styleClass="formulario" style="width:150px" rendered="#{ctrCobranzaEntrante.mostrarGuardarVisita}">
                <div><b>Programar Visita</b></div><br /><br />
                <h:selectBooleanCheckbox id="camp" value="#{ctrCobranzaEntrante.programarVisita}">
                    <a4j:ajax render="refrescar1" />
                </h:selectBooleanCheckbox>
            </h:panelGrid>

            <br /><br />
            <h:panelGrid id="refrescar1" columns="2">
                <a4j:commandButton  style="height:40px;" value="Programar Visita" oncomplete="#{rich:component('confirmPanelVisita')}.show()" rendered="#{ctrCobranzaEntrante.muestraVisita}"/>
            </h:panelGrid>

            <rich:popupPanel id="confirmPanelVisita" autosized="true" style="position:absolute; background-color: #5F9F9F; width:500px;">
                Desea Guardar la Visita?
                <a4j:commandButton value="Confirmar Visita" onclick="ejecutarVisita();" oncomplete="#{rich:component('confirmPanelVisita')}.hide();"/>
                <a4j:commandButton value="Cancelar" onclick="#{rich:component('confirmPanelVisita')}.hide(); return false;" />
            </rich:popupPanel>

            <rich:popupPanel id="confirmPanel" autosized="true" style="position:absolute; background-color: #5F9F9F;  width:500px;">
                Desea Guardar el registro?
                <a4j:commandButton value="Registrar Llamada" onclick="ejecutarRegistro();" oncomplete="#{rich:component('confirmPanel')}.hide();" render="refrescarMsj msjErrorInicial" />
                <a4j:commandButton value="Cancelar" onclick="#{rich:component('confirmPanel')}.hide(); return false;" />
            </rich:popupPanel>

            <a4j:jsFunction name="ejecutarRegistro" oncomplete="#{ctrCobranzaEntrante.registrarLlamada()}; return true;" render="refrescar0 refrescar4 refrescar2 refrescar3"/>
            <a4j:jsFunction name="ejecutarVisita" oncomplete="#{ctrCobranzaEntrante.programarVisitas()}; return true;"/>

        </h:form>
    </ui:define>
</ui:composition>
