
<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:rich="http://richfaces.org/rich"
             xmlns:a4j="http://richfaces.org/a4j"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:cj="http://java.sun.com/jsf/composite/components"
             >
    <ui:define name="content">      
        <h:form id="formGeneral">
                        <div><b>Administración de Zonas</b></div><br />
         
           <h:panelGrid columns="1" styleClass="formulario">
               <h:form id='agregarZona'>
                    <h:outputLabel value="Codigo de área:"  style="labelItem"/> <br/>
                    <h:inputText  value="#{ctrAdministracionZonas.codigo}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>
                    <br/><br/>
                    <h:outputLabel value="Descripción:" style="labelItem"/> <br/>
                    <h:inputText value="#{ctrAdministracionZonas.descripcion}"  maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>
                    <br/><br/>
                    <a4j:commandButton value="Crear Zona" 
                                       action="#{ctrAdministracionZonas.agregarZona()}" 
                                       render="listadoZonas"/>
                </h:form>
              
                <rich:panel id='listadoZonas' style="width:560px;">
                            <f:facet name="header">
                               <h:outputText value="Seleccione la/s Zona/s afectada/s"></h:outputText>
                             </f:facet>
                    <rich:pickList value="#{ctrAdministracionZonas.objZonas}"
                                            sourceCaption="Zonas Registradas" 
                                            targetCaption="Zonas Afectadas" 
                                            listWidth="165px" listHeight="100px" 
                                            orderable="true">
                        <f:selectItems value="#{ctrAdministracionZonas.itemListZonasAfectadas}"/>
                    </rich:pickList>
<!--<rich:orderingList  value="{ctrAdministracionZonas.itemListZonas}" 
                                var="item"
                                itemValue="#{item}"
                                itemLabel="#{item.label}">-->
                        
            </rich:orderingList>
               </rich:panel>
           </h:panelGrid>
        </h:form>
   
    </ui:define>
</ui:composition>