<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:rich="http://richfaces.org/rich"
             xmlns:a4j="http://richfaces.org/a4j"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:cj="http://java.sun.com/jsf/composite/components"
             >
    <ui:define name="content">  
        <script>
            function confirmar(formObj) { 
                if(!confirm("Usted ya marcó a este número, desea volver a llamar?")) { 
                    return false;
                }else{
                    submit();
                    return false;
                }
            }
        </script>
        <h:form id="formGeneral">
            <div><b>CAMPAÑAS SALIENTES / LLAMADA SALIENTE</b></div><br />
            <h:panelGrid id="msjErrorInicial" columns="1" styleClass="formulario" style="width:800px">
                <h:outputLabel value="#{ctrCobranzaSaliente.msjError}" styleClass="labelError"/>
            </h:panelGrid>
            <h:panelGrid id="msjErrorInicials" columns="1" styleClass="formulario" style="width:800px; text-align:center; font-weight:bold">                
                <h:outputLabel value="#{ctrCobranzaSaliente.guion}" styleClass="labelError" escape="false"/>
            </h:panelGrid>
            
            <br />
            <table width="100%">
                <tr>
                    <td width="50%">
                        <div><b>Información del Cliente</b></div>
                <h:panelGrid columns="2" styleClass="formulario" id="idInformacionCredito">
                    <h:outputLabel value="Codigo Cliente: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCobranzaSaliente.selCliente.clicod}" styleClass="labelBlack"/>

                    <h:outputLabel value="Nombre Cliente: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCobranzaSaliente.selCliente.apellidos}" styleClass="labelBlack"/>
                    
                    <h:outputLabel value="Numero Celular: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCobranzaSaliente.selCliente.tlfCelular}" styleClass="labelBlack"/>
                    
                    <h:outputLabel value="Numero Casa: " styleClass="labelItem"/>
                    <h:outputLabel value="#{ctrCobranzaSaliente.selCliente.tlfCasa}" styleClass="labelBlack"/>
                </h:panelGrid>
                </td>
                </tr>
            </table>

        </h:form>
<!--        <table style="width:100%">
            <tr>
                <td style="width:100%" valign="top" >

            </td>
        </tr>
        <tr>
            <td style="width:100%">
                            
            </td>
            </tr>

        </table>-->
        <h:form>
            <div><b>Registrar Llamada</b></div>

            <h:panelGrid id="refrescarMsj" columns="1" styleClass="formulario" style="width:800px">
                <h:outputLabel value="#{ctrCobranzaSaliente.msjNoRegistro}" styleClass="labelError"/>
            </h:panelGrid>

            <h:panelGrid id="refrescar0" columns="3" styleClass="formulario" style="width:300px">
                <h:outputLabel value="Llamando al número:" styleClass="labelItem"/>
                
                <h:inputText id="numeroLlamada" value="#{ctrCobranzaSaliente.numero}" styleClass="inputText" style="width: 100px;">
                    <a4j:ajax event="change"/>
                </h:inputText>
                <a4j:commandLink styleClass="no-decor" immediate="true" render="msjLlamando holaqhace refrescarMsj registrar_btn" oncomplete="if (#{ctrCobranzaSaliente.verificarGuardado()}) {if (#{ctrCobranzaSaliente.verificarNoMarcado()}) {submit();} else {confirmar(this);} } else {alert('La llamada activa no se ha registrado aun!!')}">
                    <h:graphicImage value="../imagenes/call.png" alt="Click to call" />
                </a4j:commandLink>
                    
                <h:outputLabel value="Hora de la Llamada: " styleClass="labelItem"/>
                <h:inputText   id="horaLlamada" value="#{ctrCobranzaSaliente.horallamada}" readonly="true" styleClass="inputText" style="width: 100px;"/>                         
            </h:panelGrid>

            <h:panelGrid id="refrescar4" columns="3" styleClass="formulario" style="width:400px">                                
                <h:outputLabel value="Resultado de la Llamada: " styleClass="labelItem"/>
                <h:selectOneRadio  id="resultado" value="#{ctrCobranzaSaliente.contestado}" styleClass="selectOne"> 
                    <f:selectItems value="#{ctrCobranzaSaliente.selectItems1}" />
                    <a4j:ajax render="refrescar3" />
<!--                    <a4j:ajax render="refrescar2 refrescar3" />-->
                </h:selectOneRadio>
            </h:panelGrid>

            <h:panelGrid id="refrescar3" columns="3" styleClass="formulario" style="width:300px">
                <h:outputLabel id="txtRazonllamada" value="Razón: " styleClass="labelItem"/>
                <h:selectOneMenu  id="razons" value="#{ctrCobranzaSaliente.idRazon}" styleClass="selectOne"> 
                    <f:selectItems value="#{ctrCobranzaSaliente.selectItemRazones}" />
                    <a4j:ajax event="change"/>
<!--                    <a4j:ajax render="refrescar3" />-->
<!--                    <a4j:ajax render="refrescar2 refrescar3" />-->
                </h:selectOneMenu>
            </h:panelGrid>
            
            <h:panelGrid id="registro" columns="3" styleClass="formulario" style="width:400px">
                <h:outputLabel value="Cliente: " styleClass="labelItem" rendered="#{ctrCobranzaSaliente.muestraRazon}"/>
                <h:selectOneRadio id="aceptaRegistro" value="#{ctrCobranzaSaliente.esRegistrado}" styleClass="selectOne" rendered="#{ctrCobranzaSaliente.muestraRazon}">
                    <f:selectItems value="#{ctrCobranzaSaliente.selectItems2}" />
                    <a4j:ajax event="change"/>
                </h:selectOneRadio>                        
            </h:panelGrid>
            
            <h:panelGrid id="tipollamada" columns="3" styleClass="formulario" style="width:400px">
                <h:outputLabel value="Tipo Llamada: " styleClass="labelItem" rendered="#{ctrCobranzaSaliente.muestraRazon}"/>
                <h:selectOneRadio id="tipollamadaRegistro" value="#{ctrCobranzaSaliente.numTipoT}" styleClass="selectOne" rendered="#{ctrCobranzaSaliente.muestraRazon}">
                    <f:selectItems value="#{ctrCobranzaSaliente.selectItems3}" />
                    <a4j:ajax event="change"/>
<!--                    <a4j:ajax render="refrescar3" />-->
                </h:selectOneRadio>                        
            </h:panelGrid>
            
            <h:panelGrid id="registrar_btn" columns="3" styleClass="formulario" style="width:400px">    
                <h:outputLabel value="Necesidades Identificadas en los usuarios: " styleClass="labelItem"/>
                <h:inputTextarea id="observacion" value="#{ctrCobranzaSaliente.observacion}" styleClass="inputTextAreas" style="width:400px;"> 
                    <a4j:ajax event="change"/>
                </h:inputTextarea>
                <br/>
                
                <h:commandButton disabled="#{ctrCobranzaSaliente.bandera_registrada}" style="height:40px;" value="Registrar Llamada" action="#{ctrCobranzaSaliente.registrarLlamada(false)}"/>
                <h:commandButton disabled="#{ctrCobranzaSaliente.bandera_registrada}" styleClass="cont_next" value="Registrar y Pausar Llamadas" action="#{ctrCobranzaSaliente.registrarLlamada(true)}"/>
                <h:outputLabel id="msjLlamando" value="#{ctrCobranzaSaliente.msjLlamando}" styleClass="labelItem"/>
            </h:panelGrid>

            <br /><br />
            <h:panelGrid id="refrescar1" columns="2">
                <a4j:commandButton  style="height:40px;" value="Programar Visita" oncomplete="#{rich:component('confirmPanelVisita')}.show()" rendered="#{ctrCobranzaSaliente.muestraVisita}"/>
            </h:panelGrid>

            <rich:popupPanel id="confirmPanelVisita" autosized="true" style="position:absolute; background-color: #5F9F9F; top:300px; width:800px;">
                Desea Guardar la Visita?
                <a4j:commandButton value="Confirmar Visita" onclick="ejecutarVisita();" oncomplete="#{rich:component('confirmPanelVisita')}.hide();"/>
                <a4j:commandButton value="Cancelar" onclick="#{rich:component('confirmPanelVisita')}.hide(); return false;" />
            </rich:popupPanel>

            <rich:popupPanel id="confirmPanel" autosized="true" style="position:absolute; background-color: #5F9F9F;  width:500px;">
                Desea Guardar el registro?
                <a4j:commandButton value="Registrar Llamada" onclick="ejecutarRegistro();" oncomplete="#{rich:component('confirmPanel')}.hide();" render="refrescarMsj msjErrorInicial" />
                <a4j:commandButton value="Cancelar" onclick="#{rich:component('confirmPanel')}.hide(); return false;" />
            </rich:popupPanel>
                    
            <a4j:jsFunction name="ejecutarRegistro" oncomplete="#{ctrCobranzaSaliente.registrarLlamada()}; return true;" render="refrescar0 refrescar4 refrescar2 refrescar3"/>
            <a4j:jsFunction name="ejecutarVisita" oncomplete="#{ctrCobranzaSaliente.programarVisitas()}; return true;"/>
            <a4j:jsFunction name="submit" action="#{ctrCobranzaSaliente.llamarNumero()}" render="msjLlamando refrescar0 msjErrorInicial"/>

        </h:form>
    </ui:define>
</ui:composition>
