<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        <title>Lista de Usuarios</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form>
                    <div><b>Información del Cliente</b></div><br />
                    <h:panelGrid columns="4" styleClass="formulario">
                        <h:outputLabel value="Nombre de Socio: " styleClass="labelItem"/>
                        <h:inputText   id="nomSocio" value="Paúl Cabrera Encalada" maxlength="100" readonly="true" styleClass="inputText"/>   
                        <h:outputLabel value="Número de Crédito: " styleClass="labelItem"/>
                        <h:inputText   id="numCredito" value="234234234" maxlength="100" readonly="true" styleClass="inputText"/> 
                        <h:outputLabel value="Nombre de Cónyugue: " styleClass="labelItem"/>
                        <h:inputText   id="nomConyugue" value="Conyugue" maxlength="100" readonly="true" styleClass="inputText"/> 
                        <h:outputLabel value="Fecha de Pago: " styleClass="labelItem"/>
                        <h:inputText   id="fechaPago" value="12/12/2012" maxlength="100" readonly="true" styleClass="inputText"/>   
                        <h:outputLabel value="Linea de Credito: " styleClass="labelItem"/>
                        <h:inputText   id="lineaCredito" value="Prestamo hipotecario" maxlength="100" readonly="true" styleClass="inputText"/> 
                        <h:outputLabel value="Monto Original: " styleClass="labelItem"/>
                        <h:inputText   id="montoOriginal" value="1000.00" maxlength="100" readonly="true" styleClass="inputText"/>
                        <h:outputLabel value="Saldo Actual: " styleClass="labelItem"/>
                        <h:inputText   id="saldoActual" value="1040.00" maxlength="100" readonly="true" styleClass="inputText"/>   
                        <h:outputLabel value="# Cuotas Pendientes: " styleClass="labelItem"/>
                        <h:inputText   id="cuotasPendientes" value="10" maxlength="100" readonly="true" styleClass="inputText"/>  
                        <h:outputLabel value="# Cuotas Totales: " styleClass="labelItem"/>
                        <h:inputText   id="cuotasTotales" value="12" maxlength="100" readonly="true" styleClass="inputText"/>  
                        <h:outputLabel value="# Cuotas Pagadas: " styleClass="labelItem"/>
                        <h:inputText   id="cuotasPagadas" value="10" maxlength="100" readonly="true" styleClass="inputText"/> 
                    </h:panelGrid>
                </h:form>
                <br /><br />
                <table style="width:100%">
                    <tr>
                        <td style="width:70%" valign="top">

                    <rich:tabPanel switchType="client">
                        <rich:tab header="Cuotas de Crédito" >
                            <h:form id="frmIndicadoresCuerpo">
                                <cj:dataTable  controlador="#{ctrPersonas.cuotas}"  /> 
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>
                        <rich:tab header="Historial de Llamadas" >
                            <h:form id="frmIndicadoresHeader5">
<!--                                <div><b>Listado de Observaciones</b></div><br />-->
<!--                                <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" />-->
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo5">
                                <cj:dataTable  controlador="#{ctrPersonas}"  /> 
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>
                        <rich:tab header="Garantías / Garantes" >
                            <h:form id="frmIndicadoresHeader6">
<!--                                <div><b>Listado de Observaciones</b></div><br />-->
<!--                                <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" />-->
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo6">
                                <cj:dataTable  controlador="#{ctrPersonas}"  /> 
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>   
                       <rich:tab header="Creditos del Cliente" >
                            <h:form id="frmIndicadoresHeader7">
<!--                                <div><b>Listado de Observaciones</b></div><br />-->
<!--                                <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" />-->
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo7">
                                <cj:dataTable  controlador="#{ctrPersonas}"  /> 
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>                         
                    </rich:tabPanel>  
                    </td>
                    <td style="width:30%">

                    <rich:tabPanel switchType="client">
                        <rich:tab header="Contactos Personales" >
                            <h:form id="frmIndicadoresHeader4">
<!--                                <div><b>Listado de Personas</b></div><br />-->
<!--                               <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" />-->
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo4">
                                <cj:dataTable  controlador="#{ctrPersonas}"  /> 
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>
                        <rich:tab header="Contactos de Referencia" >
                            <h:form id="frmIndicadoresHeader9">
<!--                                <div><b>Listado de Personas</b></div><br />-->
                                <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="" listadoAccion="" verImprimir="false" verAuditoria="false" verBtn1="false"/>
                            </h:form>
                            <h:form id="frmIndicadoresCuerpo9">
                                <cj:dataTable  controlador="#{ctrPersonas}"  /> 
                            </h:form>
                            <cj:popAuditoria controlador="#{ctrPersonas}" titulopop="Auditoria"/>
                            <cj:popMessage />             
                        </rich:tab>
                    </rich:tabPanel> 
                    </td>
                    </tr>

                </table>
                <br /><br />
                 <h:form>
                    <div><b>Resultados de la Llamada</b></div><br />
                    <h:panelGrid columns="3" styleClass="formulario">
                        <h:outputLabel value="Fecha de Compromiso: " styleClass="labelItem"/>
                        <rich:calendar id="calendario" />
                        <br /><br />
                        <h:outputLabel value="Observaciones: " styleClass="labelItem"/>
                        <h:inputTextarea   id="observaciones" value="Alguna observacion" readonly="true" styleClass="inputTextAreas"/> 
                        <br /><br />
                        <h:outputLabel value="Resultado: " styleClass="labelItem"/>
                        <h:selectOneRadio  id="resultado" value="No Conectado"  readonly="true" styleClass="selectOne"> 
                            <f:selectItem itemLabel="Conectado" itemValue="1" />
                            <f:selectItem itemLabel="No Conectado" itemValue="1" />
                            
                        </h:selectOneRadio>
                        <br /><br />
                        <h:outputLabel value="Razón de no conexión: " styleClass="labelItem"/>
                        <h:selectOneMenu  id="RazonNoConexion"  readonly="true" styleClass="selectOne">   
                            <f:selectItem itemLabel="Razon 1" itemValue="1" />
                            <f:selectItem itemLabel="Razon 2" itemValue="2" />
                        </h:selectOneMenu>
                        <br /><br />
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
