<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form id="formulario">
            
            <div><b>REPORTES</b></div><br />
            
            <table style="width: 100%;">
                
                <tr>
                    <td>
                        <br /><br />
                        <div><b>REPORTES DEL CONTACT CENTER</b></div><br />
                    <div><b>Llamadas Realizadas General</b></div><br />
                    <h:panelGrid columns="4">
                        <h:outputLabel value="Desde: " styleClass="labelItem"/>
                        <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario11" value="#{ctrReportes.fecha11}">
                            <a4j:ajax event="change"/>
                        </rich:calendar>
                        <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                        <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario12" value="#{ctrReportes.fecha12}">
                         <a4j:ajax event="change"/>                         
                        </rich:calendar>
                    </h:panelGrid>                    
                    <h:commandButton style="height:30px; width: 60px;" value="Exportar" action="#{ctrReportes.cargarReporte_1('2')}" />
                
                    <div><b>Tiempos de llamadas</b></div><br />
                    <h:panelGrid columns="4">
                        <h:outputLabel value="Desde: " styleClass="labelItem"/>
                        <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario21" value="#{ctrReportes.fecha41}">
                            <a4j:ajax event="change"/>
                        </rich:calendar>
                        <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                        <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario22" value="#{ctrReportes.fecha42}">
                         <a4j:ajax event="change"/>
                        </rich:calendar>
                    </h:panelGrid>
                    <h:commandButton style="height:30px; width: 60px;" value="Exportar" action="#{ctrReportes.cargarReporte_4('2')}" />
             
                    <div><b>Reporte de Observaciones</b></div><br />
                    <h:panelGrid columns="4">
                        <h:outputLabel value="Desde: " styleClass="labelItem"/>
                        <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario31" value="#{ctrReportes.fecha21}">
                            <a4j:ajax event="change"/>
                        </rich:calendar>
                        <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                        <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario32" value="#{ctrReportes.fecha22}">
                         <a4j:ajax event="change"/>
                        </rich:calendar>
                    </h:panelGrid>
                    <h:commandButton style="height:30px; width: 60px;" value="Exportar" action="#{ctrReportes.cargarReporte_2('2')}" />

                    <div><b>Números Inválidos</b></div><br />
                    <h:panelGrid columns="4">
                        <h:outputLabel value="Desde: " styleClass="labelItem"/>
                        <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario41" value="#{ctrReportes.fecha31}">
                            <a4j:ajax event="change"/>
                        </rich:calendar>
                        <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                        <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario42" value="#{ctrReportes.fecha32}">
                         <a4j:ajax event="change"/>
                        </rich:calendar>
                    </h:panelGrid>
                    <h:commandButton style="height:30px; width: 60px;" value="Exportar" action="#{ctrReportes.cargarReporte_3('2')}" />

                </td>
                </tr>
            </table>
        </h:form>
    </ui:define>
</ui:composition>