<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components"
                xmlns:wicket="http://wicket.apache.org"
                >
    <ui:define name="content">  
 
        
        <h:form id="formulario">

            <div><b>REPORTES</b></div><br />
            <table style="width: 100%;">

                <tr>
                    <td>
                        <br /><br />
                        <div><b>REPORTE LLAMADAS ENTRANTES</b></div><br />
                        <h:form>

                            <h:panelGrid columns="4">
                                <h:outputLabel value="Desde: " styleClass="labelItem"/>
                                <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario3" value="#{ctrReportes.fechaSumDesde}"/>
                                <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                                <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario4" value="#{ctrReportes.fechaSumHasta}"/>
                                <h:outputLabel value="Team: " styleClass="labelItem"/>
                                <h:selectOneMenu   value="#{ctrReportes.idTeamSum}" styleClass="selectOne" >
                                    <f:selectItems value="#{ctrReportes.selectItemTeams}" />
                                    <a4j:ajax event="change"/>
                                </h:selectOneMenu>


                            </h:panelGrid>
                            <a4j:commandButton style="height:40px;" value="Actualizar" oncomplete="#{ctrReportes.consultaLlamadasEntrantes()}" render="reporte3 reporte4" />
                              <a4j:commandButton style="height:30px; width: 60px;" value="Excel" oncomplete="window.open('#{ctrReportes.cargarReporteEfectividad('2')}','_blank')" />
                              <a4j:commandButton style="height:30px; width: 60px;" value="Excel" oncomplete="window.open('#{ctrReportes.cargarReporteEfectividad('2')}','_blank')" />
                            <a4j:commandButton style="height:30px; width: 60px;" value="PDF" oncomplete="window.open('#{ctrReportes.cargarReporteEfectividad('1')}','_blank')"/>


                        </h:form>
                        <h:panelGrid id="reporte3">
                            <rich:extendedDataTable value="#{ctrReportes.reporteLlamadasEntrantes}"
                                                    var="reporteS" id="table3" frozenColumns="2" rows="10"
                                                    style="height:300px; width:100% ;overflow-y:auto ; overflow-x:auto"  selectionMode="none">
                                <rich:column width="200px">
                                    <f:facet name="header">
                                        <h:outputText value="Agente" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.agente}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="# Llamadas Entrantes" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.numLlamadas}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tiempo Total" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.tiempoTotal}" /> 
                                </rich:column>
                              
                                <f:facet name="footer" >
                                    <rich:dataScroller  for="table3" render=":table"  > 

                                    </rich:dataScroller>
                                </f:facet>
                            </rich:extendedDataTable>
                        </h:panelGrid>
                    </td>
                </tr>
            </table>
                        <table style="width: 100%;" >

                <tr>
                    <td>
                        <br /><br />
                        <div><b>REPORTE DETALLADO DE LAS LLAMADAS ENTRANTES</b></div><br />
                        <h:panelGrid id="reporte4">
                            <rich:extendedDataTable value="#{ctrReportes.llamadasEntrantes}"
                                                    var="reporteS" id="table4" frozenColumns="2" rows="10"
                                                    style="height:300px; width:100% ;overflow-y:auto ; overflow-x:auto"  selectionMode="none">
                                <rich:column width="200px">
                                    <f:facet name="header">
                                        <h:outputText value="Agente" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.agente}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="# TelÃ©fono" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.numTelefono}" /> 
                                </rich:column>
                                <rich:column >
                                    <f:facet name="header">
                                        <h:outputText value="DuraciÃ³n Llamada (sg.)" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.tiempo}" /> 
                                </rich:column>
                                <rich:column width="200px">
                                    <f:facet name="header" >
                                        <h:outputText value="Inicio de Llamada" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.fechaDesde}" /> 
                                </rich:column>
                                <rich:column width="200px">
                                    <f:facet name="header" >
                                        <h:outputText value="Fin de Llamada" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.fechaHasta}" /> 
                                </rich:column>
                                <f:facet name="footer" >
                                    <rich:dataScroller  for="table4" render=":table"  > 

                                    </rich:dataScroller>
                                </f:facet>
                            </rich:extendedDataTable>
                        </h:panelGrid>
                    </td>
                </tr>
            </table>
        </h:form>
    </ui:define>
</ui:composition>