<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form>
            
            <div><b>VER LLAMADAS AGENDADAS</b></div><br /> 
            <h:panelGrid columns="2" styleClass="formulario">

                <h:form>
                    <rich:extendedDataTable value="#{ctrAgendamiento.llamadasAgendadas}"
                                                var="agendada" id="table" frozenColumns="2"
                                                style="height:150px; width:100%" selectionMode="none"
                                                >
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Fecha" />
                            </f:facet>
                             <h:outputText value="#{agendada[0]}" />
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Hora" />
                            </f:facet>
                            <h:outputText value="#{agendada[1]}" />
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Número de Crédito" />
                            </f:facet>
                            <h:outputText value="#{agendada[2]}" />
                        </rich:column>
                        <rich:column width="200px">
                            <f:facet name="header">
                                <h:outputText value="Agente" />
                            </f:facet>
                            <h:outputText value="#{agendada[3]}" />
                        </rich:column>

                    </rich:extendedDataTable>
                </h:form>

            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>