<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components"
                xmlns:wicket="http://wicket.apache.org"
                >
    <ui:define name="content">
        <h:form id="formulario">
            <div><b>REPORTES</b></div><br />
            <table style="width: 100%;">
                <tr>
                    <td>
                        <br /><br />
                        <div><b>REPORTE DE TIEMPOS DE LLAMADA POR AGENTE</b></div><br />                       
                        <h:form>                    
                            <h:panelGrid columns="4">
                                <h:outputLabel value="Desde: " styleClass="labelItem"/>
                                <rich:calendar datePattern="dd/MM/yyyy" boundaryDatesMode="scroll" id="calendario" value="#{ctrReportes.desde}">
                                    <a4j:ajax event="change"/>
                                </rich:calendar>
                                <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                                <rich:calendar datePattern="dd/MM/yyyy" boundaryDatesMode="scroll" id="calendario2" value="#{ctrReportes.hasta}">
                                    <a4j:ajax event="change"/>
                                </rich:calendar>
                            </h:panelGrid>
                            <a4j:commandButton style="height:40px;" value="Actualizar" oncomplete="#{ctrReportes.actualizarReporte1()}" render="reporte2" />
                        </h:form>
                        <h:panelGrid id="reporte2">                            
                            <rich:extendedDataTable id="tablaAgentes" value="#{ctrReportes.objReporteAgentes}"
                                                    var="objListColumna" frozenColumns="2"  rows="20"
                                                    style="height:250px; width:100% ; overflow-y:auto ; overflow-x:auto" selectionMode="none"
                                                    >
                                <c:forEach items="#{ctrReportes.objListColumna}" var="columna">  
                                    <rich:column>  
                                        <f:facet name="header">  
                                            <h:outputText value="#{columna.nombre}" />  
                                        </f:facet>  
                                        <h:outputText value="#{objListColumna[columna.orden]}" />  
                                    </rich:column>  
                                </c:forEach>  
                                <f:facet name="footer">
                                    <rich:dataScroller page="1" />
                                </f:facet>
                            </rich:extendedDataTable>                            
                        </h:panelGrid>
                        <h:commandButton style="height:30px; width: 60px;" value="Exportar" action="#{ctrReportes.cargarReporteEfe('2')}" />                        
                    </td>
                </tr>
            </table>
        </h:form>
    </ui:define>
</ui:composition>