<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    >
    <h:head>
        <title>Mantenimiento de Campañas</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">
                <h:form id="allForm">
                    <a4j:outputPanel id="panelGeneral" ajaxRendered="true">
                    
                    <h:panelGrid id="panelLista" columns="2" styleClass="formulario" style="width:400px">
                    <h:form id="frmCampaniaCuerpo">
                        
                        <br /><br />
                        <div><b>Enviar Mensaje</b></div><br />
                        
                        <h:panelGrid id="panelLista" columns="2" styleClass="formulario" style="width:400px">
                            <h:outputLabel value="Número: " styleClass="labelItem"/>
                            <h:inputText id="camNumero" value="" maxlength="100"  styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>
                            
                            <h:outputLabel value="Nombre: " styleClass="labelItem"/>
                            <h:inputText id="camNombre" value="" maxlength="100"  styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>

                            <h:outputLabel value="Mensaje: " styleClass="labelItem"/>
                            <h:inputTextarea id="mensaje" value="" styleClass="inputTextAreas" style="width:400px;">
                            </h:inputTextarea>
                            
                        </h:panelGrid>
                        
                    </h:form>

                    </h:panelGrid>
                    
                     </a4j:outputPanel>
                    
                    <div class="divBotones">
                        <h:commandButton action="#{ctrCampaniasNuance.registarPersonasLlamar()}" value="Enviar Mensaje" styleClass="separacionDerecha icon-floopy icon-button" immediate="true"/>
                        <h:commandButton action="#{ctrCampaniasNuance.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                    </div>                    
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>