<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        <title>Mantenimiento de Modulos</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroModulos">
                        <div><b>Mantenimiento de Módulos</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel value="Módulo Padre" styleClass="labelItem"/>
                                    <h:selectOneMenu value="#{ctrModulosAsignados.selModulo.id.idPadre}" id="modPadre" styleClass="selectOne">
                                         <f:selectItems value="#{ctrModulosAsignados.selectItemPadres}" />
                                    </h:selectOneMenu>
                                    <h:inputHidden />
                                    <h:outputLabel value="Nombre" styleClass="labelItem"/>
                                    <h:inputText   id="modNombre" value="#{ctrModulosAsignados.selModulo.nombre}" maxlength="100" readonly="#{ctrModulosAsignados.nomEditable}" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="modNombre" />
                                    <h:outputLabel value="Url" styleClass="labelItem"/>
                                    <h:inputText   id="modUrl" value="#{ctrModulosAsignados.selModulo.url}" maxlength="100" styleClass="inputText" readonly="#{ctrModulosAsignados.urlEditable}" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="modUrl" />
                                    <h:outputLabel value="Descripción" styleClass="labelItem"/>
                                    <h:inputText   id="modDescripcion" value="#{ctrModulosAsignados.selModulo.descripcion}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="modDescripcion" />
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrModulosAsignados.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrModulosAsignados.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrModulosAsignados.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrModulosAsignados}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionModulos" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


