<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  

        <h:form id="formulario">


            <script type="text/javascript">
                //    <![CDATA[
             
                var categorias = [];
                var data2 = [];
                var i = 0;

                var indice = 0;
                var indice2 = 2;
                
                $(function() {
                    var chart;
                
                    //cargarCategorias1();
                    $(document).ready(function() {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'bar'
                            },
                            title: {
            text: 'Stacked column chart'
        },
        xAxis: {
            categories: ['Luis', 'Pedro', 'Andres', 'Maria', 'Bananas']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total fruit consumption'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            reversed: true
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black, 0 0 3px black'
                    }
                }
            }
        },
        series: [{
            name: 'Contestadas',
            data: [5, 3, 4, 7, 2],
            stack: 'llamadas'
        }, {
            name: 'No Contestadas',
            data: [2, 2, 3, 2, 1],
            stack: 'llamadas'
        }, {
            name: 'Razon 1',
            data: [2, 2, 3, 2, 1],
            stack: 'razones'
        }, {
            name: 'Razon 2',
            data: [2, 2, 3, 2, 1],
            stack: 'razones'
        }, {
            name: 'Razon 3',
            data: [2, 2, 3, 2, 1],
            stack: 'razones'
        }, {
            name: 'Razon 4',
            data: [2, 2, 3, 2, 1],
            stack: 'razones'
        }, {
            name: 'Registro',
            data: [2, 2, 3, 2, 1],
            stack: 'registro'
        }, {
            name: 'No Registro',
            data: [2, 2, 3, 2, 1],
            stack: 'registro'
        }, {
            name: 'Positiva',
            data: [2, 2, 3, 2, 1],
            stack: 'tipo'
        }, {
            name: 'Negativa',
            data: [2, 2, 3, 2, 1],
            stack: 'tipo'
        }, {
            name: 'Neutra',
            data: [3, 4, 4, 2, 5],
            stack: 'tipo'
        }]
    });

                    });

                });

                // barras 1 


                //  ]]>

            </script>



            
            <h:panelGroup>
              <table>
                
             <tr>
                 <td>
                     <div id="grafico1" ></div>
                 </td>
             </tr>
             
            </table>
             </h:panelGroup>
            <h:panelGroup>
            <table>
                
                <tr>
                 
                   
                   
                      
                
             </tr>
            </table>    
            </h:panelGroup>
            
                
            
           
           
           





        </h:form>
    </ui:define> 
</ui:composition>