<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    
    <h:head>
        <title>Lista de Usuarios</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroPersonas">
                        <cj:toolbar ctrGeneral="#{ctrPersonas}"  titulo="Titulo" 
                                    verBtnRegresar="false" 
                                    mostrarBotones="false"
                                    listadoAccion="#{ctrSession.tituloSeccion}"/>
                        <cj:inputText valor="#{ctrPersonas.selPersona.id}" etiqueta="Identificacion" requerido="true" mensajerequerido=" la identificacion" maxcaracteres="20" ancholabels="140px" anchoimputs="200px" estiloclasstxt="txtCampoRequerido" />
                        <cj:inputText valor="#{ctrPersonas.selPersona.nombresCompletosSocio}" etiqueta="Nombre:" requerido="true" mensajerequerido=" el nombre" maxcaracteres="20" ancholabels="140px" anchoimputs="200px" estiloclasstxt="txtCampoRequerido" />
                        <cj:inputText valor="#{ctrPersonas.selPersona.direccionPrincipal}" etiqueta="Direccion" requerido="true" mensajerequerido=" el apellido" maxcaracteres="500" ancholabels="140px" anchoimputs="300px" estiloclasstxt="txtCampoRequerido" />
                        <cj:inputText valor="#{ctrPersonas.selPersona.mail}" etiqueta="Extension" requerido="false"  maxcaracteres="20" ancholabels="140px" anchoimputs="200px" estiloclasstxt="txtCampo" />                        
                        
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrPersonas.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrPersonas.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrPersonas.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>


                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrPersonas}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmLstPersonas" />
                       </h:panelGrid>



                    </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>


