<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      >

    <h:head>
        <h:outputStylesheet name="./../resources/Estilos/Toolbar.css" />        
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form>
                    <div><b>PANTALLA PRINCIPAL</b></div><br />
                    <center>
                        <table style="width: 70%;">
                            <tr>
                                <td style="height: 350px; text-align: center;">
                                    <h1>BIENVENIDO</h1>
                                    <img src="/CentroSurCM/faces/imagenes/logo.png" /><br /><br />
                                </td>
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
