<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        
        <title>Mantenimiento de Parámetros</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroTeams">
                        <div><b>Mantenimiento de Parámetros</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel value="Nombre de Atributo" styleClass="labelItem"/>
                                    <h:inputText   id="parNombre" value="#{ctrParametros.selParametros.atributo}" maxlength="100"  styleClass="inputText" readonly="#{ctrParametros.atriEditable}" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parNombre" />
                                    
                                    <h:outputLabel value="Grupo" styleClass="labelItem"/>
                                    <h:inputText   id="parGrupo" value="#{ctrParametros.selParametros.grupo}" maxlength="50" styleClass="inputText" readonly="#{ctrParametros.atriEditable}" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parGrupo" />
                                    
                                    <h:outputLabel value="Valor" styleClass="labelItem"/>
                                    <rich:editor id="parValor" toolbar="basic" value="#{ctrParametros.selParametros.valor}" rendered="#{ctrParametros.esGuion}" />
                                    <h:inputText id="parValor1" value="#{ctrParametros.selParametros.valor}" maxlength="50" styleClass="inputText" required="true" requiredMessage="Campo obligatorio" rendered="#{!ctrParametros.esGuion}"/>
                                </h:panelGrid>
                        <h:outputLabel value="Para agregar valores dinámicos se usarán las siguientes nomeclaturas:  idSaludo=Buenos días, tardes,noches.  idAgente=Nombre del Agente.  idCliente=Nombre del Cliente" styleClass="labelItem" rendered="#{ctrParametros.esGuion}"/>
                        <br/>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrParametros.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrParametros.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrParametros.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrParametros}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionParametros" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


