<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    xmlns:f="http://java.sun.com/jsf/core"
    >
    <h:head>
        <title>Mantenimiento de Preguntas</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroPreguntas">
                        <div><b>Mantenimiento de Preguntas</b></div><br />
                                <h:panelGrid columns="1" styleClass="formulario">
                                    <h:panelGrid columns="3">
                                    <h:outputLabel id="txtCampania" value="Campaña Asignada: " styleClass="labelItem"/>
                                    <h:selectOneMenu  id="campaniaLlamada" value="#{ctrPreguntas.idCampania}" styleClass="selectOne">
                                        <f:selectItems value="#{ctrPreguntas.selectItemCampanias}" />
                                        <a4j:ajax event="change"/>
                                    </h:selectOneMenu><br/>
                                    </h:panelGrid>
                                    <h:panelGrid columns="3">
                                    <h:outputLabel value="Numero Pregunta" styleClass="labelItem"/>
                                    <h:inputText id="razNumeroPregunta" value="#{ctrPreguntas.numPregunta}" maxlength="2" styleClass="inputText" required="true" requiredMessage="Campo obligatorio">
                                        <a4j:ajax render="refrescar1" />
                                    </h:inputText>
                                    <rich:message for="razNumeroPregunta" />
                                    </h:panelGrid>
                                    <h:panelGrid id="refrescar1" columns="3">
                                        <h:outputLabel value="Titulo Pregunta" styleClass="labelItem" rendered="#{ctrPreguntas.esPrimero}"/>
                                        <h:inputText id="razTituloPregunta" value="#{ctrPreguntas.selPregunta.titulo}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio" rendered="#{ctrPreguntas.esPrimero}"/>
                                        <rich:message for="razTituloPregunta" rendered="#{ctrPreguntas.esPrimero}"/>
                                    </h:panelGrid>
                                    <h:panelGrid columns="3">
                                    <h:outputLabel value="Tipo Pregunta" styleClass="labelItem"/>
                                    <h:selectOneMenu id="tipoPregunta" value="#{ctrPreguntas.selPregunta.tipoPregunta}" styleClass="selectOne">
                                        <f:selectItems value="#{ctrPreguntas.selectItemTipo}" />
                                        <a4j:ajax event="change"/>
                                    </h:selectOneMenu>
                                    </h:panelGrid>
                                    <h:panelGrid columns="3">
                                    <h:outputLabel value="Opción Pregunta" styleClass="labelItem"/>
                                    <h:inputText id="razOpcionPregunta" value="#{ctrPreguntas.selPregunta.tituloPregunta}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="razOpcionPregunta" />
                                    </h:panelGrid>
                                    <br/>
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrPreguntas.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrPreguntas.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrPreguntas.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrPreguntas}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionPreguntas" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


