<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    >
    <h:head>
        <title>Lista de Usuarios</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form>
                    <div><b>PROGRAMAR UNA VISITA</b></div><br />
                    <h:panelGrid columns="2" styleClass="formulario">

                        <h:form>
                            <h:panelGrid columns="2" styleClass="formulario">
                                <h:outputLabel value="Fecha de : " styleClass="labelItem"/>
                                <rich:calendar id="calendario" />

                            </h:panelGrid>
                            <h:panelGrid columns="5" styleClass="formulario">
                                <table style="text-align: left; border-width: 1; width: 370px; border-spacing: 0; border: 1;">
                                    <tr>
                                        <td>
                                    <h:outputLabel value="Hora: " />
                                    </td>
                                    <td style="width:90%">
                                    <rich:inputNumberSpinner value="00" maxValue="23" inputSize="1"/>
                                    <rich:inputNumberSpinner value="00" maxValue="59"  inputSize="1"/>
                                    </td>
                                    </tr>
                                </table>
                            </h:panelGrid>
                            <h:commandButton value="Agendar" />
                            <br /><br /><br />
                            <rich:extendedDataTable value=""
                                                    var="car" id="table" frozenColumns="2"
                                                    style="height:300px; width:100%" selectionMode="single"
                                                    >

                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Código" />
                                    </f:facet>
                                    <h:outputText value="1" />
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Nombre de Agente" />
                                    </f:facet>
                                    <h:outputText value="Agente Juan Perez" />
                                </rich:column>


                            </rich:extendedDataTable>
                        </h:form>

                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
