<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form id="formulario">
        <script type="text/javascript">
            //    <![CDATA[
            var categorias = [];
            var indice = 0;
            var indice2 = 0;
            var valor=0;
            var valor2=0;
            
            function cargarCategorias() {                
                var valor = #{ctrDashboard.objAgentes};
                if(valor!==null){
                    categorias = valor[0];
                };
            }
            
            $(function() {
                var chart;
                cargarCategorias();

                $(document).ready(function() {
                    //fin chart2
                    //inicio chart 3
                    barchart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'grafico3',
                            type: 'column'
                        },
                        title: {
                            text: 'Resultados de las llamadas de los Agentes'
                        },
                        subtitle: {
                            text: 'Fuente: Centro de Contacto'
                        },
                        xAxis: {
                            categories: categorias
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Llamadas Realizadas'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                }
                            }
                        },
                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.x + '</b><br/>' +
                                    this.series.name + ': ' + this.y + '<br/>' +
                                    'Total: ' + this.point.stackTotal;
                            }
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                    style: {
                                        textShadow: '0 0 3px black, 0 0 3px black'
                                    }
                                }
                            }
                        },
                        legend: {
                            reversed: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: []
                    });  //fin chart3   
                    
                     razon = #{ctrDashboard.objListColumna};
                     informacion = #{ctrDashboard.objReporteAgentes};
                     
                     var contx = 0;
                     var conta = 0;
                     if(razon!==null){
                         contx = razon.length - 1;
                     };
                     if(informacion!==null){
                         conta = informacion[0].length - 1;
                     };                     
                     
                     var i=0;
                     while (i < contx) {
                        var name = razon[i+1];
                        var serie = [];
                        var contxi = 0;
                        var infTemp = informacion[i];
                        var stack = "";
                        i++;
                        while (contxi <= conta) {  // saco los valores
                            serie.push(parseFloat(infTemp[contxi]));
                            contxi++;                            
                        }
                        if (i===1 || i===2){
                            stack="llamada";
                        }else if (i===3 || i===4 || i===5 || i===6){
                            stack="razones";
                        }else if (i===7 || i===8){
                            stack="registro";
                        }else if (i===9 || i===10 || i===11){
                            stack="tipo";
                        };
                        var variable = [{
                                name: name,
                                data: serie,
                                stack: stack
                            }];
                        //alert(variable[0]);
                        barchart.addSeries(variable[0]);
                       }
                       barchart.redraw(); // redraw only after add all series
                });
            });
            // barras 1 


            //  ]]>

        
        </script>
        
            <h:outputLabel value="Desde: " styleClass="labelItem"/>
            <rich:calendar id="fDesde" datePattern="dd-MM-yyyy" value="#{ctrDashboard.desdeR1}">
                <a4j:ajax event="change"/>
            </rich:calendar>
            <h:outputLabel value="Hasta: " styleClass="labelItem"/>
            <rich:calendar id="fHasta" datePattern="dd-MM-yyyy" value="#{ctrDashboard.hastaR1}">
                <a4j:ajax event="change"/>
            </rich:calendar>            
            <a4j:commandButton style="height:40px;" value="Actualizar" oncomplete="#{ctrDashboard.actualizarReporteTotal()}" render="formulario" />         
                   <div id="grafico3" style="min-width: 600px; height: 800px; margin: 0 auto"></div>             
        </h:form>
    </ui:define> 
</ui:composition>
