<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form id="formulario">
            <div><b>ESTADO</b></div><br />
            <h:panelGrid id="panelSeleccion" columns="2" styleClass="formularios">
                <h:outputLabel value="#{ctrReanudar.mensaje}" styleClass="labelError"/>
            </h:panelGrid>
            
            <br/><br/>
            <br/>
            <div class="divBotones">
                <h:panelGrid id="panelBoton" columns="2" styleClass="formularios">
                    <a4j:commandButton id="botonReanudar" style="height:40px;" value="Reanudar envio" oncomplete="#{rich:component('confirmPanel')}.show()" rendered="#{ctrReanudar.esReanudar}"/>
                </h:panelGrid>
            </div>            
            <rich:popupPanel id="confirmPanel" autosized="true" style="position:absolute; background-color: #5F9F9F;  width:500px;">
                Desea Borrar la lista seleccionada?
                <a4j:commandButton value="Reanudar" onclick="detenerEnvio();" oncomplete="#{rich:component('confirmPanel')}.hide();" render="labelNumero" />
                <a4j:commandButton value="Cancelar" onclick="#{rich:component('confirmPanel')}.hide(); return false;" />
            </rich:popupPanel>            
            <a4j:jsFunction name="detenerEnvio" oncomplete="#{ctrReanudar.reanudarEnvio()}; return true;" render="panelSeleccion panelBoton"/>
        </h:form>
    </ui:define> 
</ui:composition>