<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form id="formulario">
            <div><b>REPORTES</b></div><br />
        <script type="text/javascript">
        $(function () {        	
                // Build the chart
                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'grafico1'
                    },
                    title: {
                text: 'Historial',
                x: -20 //center
            },
            subtitle: {
                text: 'Call Center Centro Sur',
                x: -20
            },
            xAxis: {
                categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                    'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
            },
            
            
            yAxis: {
                title: {
                    text: 'Llamadas'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Contestadas',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: 'Realizadas',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }, {
                name: 'No Contestadas',
                data: [-0.9, 0.6, 1.5, 2.4, 3.5, 4.0, 4.6, 4.9, 3.3, 3.0, 1.9, 1.0]
            }]
                });
        });
        
        
        
        
        
        $(function () {        	
                // Build the chart
                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'grafico2'
                    },
                    title: {
                text: 'Razon de llamadas',
                x: -20 //center
            },
            subtitle: {
                text: 'Call Center Centro Sur',
                x: -20
            },
            xAxis: {
                categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                    'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
            },
            yAxis: {
                title: {
                    text: 'Llamadas'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Consulta Planillas',
                data: [7.0, 6.9, 7.5, 8.5, 10.2, 12.5, 15.2, 16.5, 13.3, 8.3, 10.9, 9.6]
            }, {
                name: 'Reclamos',
                data: [10.2, 10.8, 11.7, 11.3, 11.0, 12.0, 12.8, 11.1, 12.1, 11.1, 12.6, 12.5]
            }, {
                name: 'Plan renova',
                data: [-0.9, 0.6, 1.5, 2.4, 3.5, 4.0, 4.6, 4.9, 3.3, 3.0, 1.9, 1.0]
            }]
                });
        });
        </script>
            <br/>
                   <div id="grafico1" style="min-width: 300px; height: 400px; margin: 0 auto"></div>             
                   <div id="grafico2" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        </h:form>
    </ui:define> 
</ui:composition>