<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components"
                >
    <ui:define name="content">   



        <h:form >
            <h:outputLabel  value="Tiempo de reposición: "/>
            <h:selectOneMenu value="#{ctrlRegistroZonas.horaActual}" valueChangeListener="#{ctrlRegistroZonas.onSelectHoraReposicion}">
                <f:selectItems value="#{ctrlRegistroZonas.listaHoras}"   />
                <a4j:ajax event="valueChange" execute="@this" />
            </h:selectOneMenu>

            <h:panelGrid columns="3">

                <h:panelGrid   columns="1"  style="width:200px; height: 400px; position: static; font-size: small" >
                    <rich:panel>
                        <f:facet name="header">
                            <h:outputLabel value="Alimentadores"   style="font-weight: bold; text-align: center ;font-size: medium"  />
                        </f:facet>

                        <h:selectOneListbox id="alimentadores" value="#{ctrlRegistroZonas.alimentadorSeleccionado}" converter="alimentadorConverter"
                                            valueChangeListener="#{ctrlRegistroZonas.onSelectAlimentadorItem}"

                                            style="width:200px; height: 300px; position: static">
                            <f:ajax event="change"  render="@this zonasDisponibles cancelar" />
                            <f:selectItems value="#{ctrlRegistroZonas.listaAlimentadores}"
                                           var="t" itemLabel="#{t.codigo}" itemValue="#{t}" />

                        </h:selectOneListbox>

                    </rich:panel>
                </h:panelGrid>


                <h:panelGrid columns="1"  style="width:200px; height: 400px; position: static; font-size: small" >
                    <rich:panel>
                        <f:facet name="header">
                            <h:outputLabel value="Zonas Disponibles"   style="font-weight: bold; text-align: center ;font-size: medium"  />
                        </f:facet>

                        <h:selectOneListbox id="zonasDisponibles" value="#{ctrlRegistroZonas.zonaDisponibleSeleccionada}" converter="zonasAfectadasConverter"
                                            valueChangeListener="#{ctrlRegistroZonas.onSelectZonasDisponiblesItem}"

                                            style="width:200px; height: 300px; position: static">
                            <f:ajax event="dblclick"  render="@this zonasAfectadas cancelar" />
                            <f:selectItems value="#{ctrlRegistroZonas.zonas}"
                                           var="zona" itemLabel="#{zona.descripcion}" itemValue="#{zona}" />

                        </h:selectOneListbox>

                    </rich:panel>
                </h:panelGrid>


                <h:panelGrid id="panel"  columns="1"  style="width:200px; height: 400px; position: static; font-size: small" >
                    <rich:panel>
                        <f:facet name="header">
                            <h:outputLabel value="Zonas Afectadas"   style="font-weight: bold; text-align: center ;font-size: medium"  />
                        </f:facet>

                        <h:selectOneListbox id="zonasAfectadas" value="#{ctrlRegistroZonas.zonaAfectadaSeleccionada}" converter="zonasConverter"
                                            valueChangeListener="#{ctrlRegistroZonas.onSelectZonaAfectadaItem}"

                                            style="width:200px; height: 300px; position: static">
                            <f:ajax event="dblclick"  render="@this zonasDisponibles "   />
                            <f:selectItems value="#{ctrlRegistroZonas.zonasAfectadas}"
                                           var="zonaAfectadas" itemLabel="#{zonaAfectadas.descripcion}" itemValue="#{zonaAfectadas}" />

                        </h:selectOneListbox>

                    </rich:panel>
                </h:panelGrid>


                `                        

                <a4j:commandButton id="cancelar" value="Quitar Todas las Zonas Afectadas" 
                                   action="#{ctrlRegistroZonas.actualizarZonasAfectadas}"
                                   disabled="#{ctrlRegistroZonas.controGuardar}" >
                    <f:ajax  event="click"  render="@this zonasAfectadas panel" 

                             />
                </a4j:commandButton>

            </h:panelGrid>

        </h:form>
    </ui:define>
</ui:composition>
