<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  

        <h:form id="formulario">
            
            <h:inputHidden value="#{ctrPersonas.opcionBoton}" id="nombre" />
            <h:inputHidden value="70" id="nombre2" />
            
            <h:inputHidden value="#{ctrPersonas.var1}" id="variable1" />
            <h:inputHidden value="#{ctrPersonas.var2}" id="variable2" />
            
            
            <div id="area" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            <div id="pie" style="min-width: 400px; height: 400px; margin: 0 auto"></div> 
            <div id="prueba" style="min-width: 400px; height: 400px; margin: 0 auto"></div> 

        </h:form>
    </ui:define>
</ui:composition>
