<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    >
    <h:body>
                <script type="text/javascript">            
                    function limitTextArea(element, limit) {
                        var contador = 160 - element.value.length;
                        document.getElementById("caracteres").innerHTML = "Caracteres restantes: 0";
                        if (contador > 0){
                            document.getElementById("caracteres").innerHTML = "Caracteres restantes: " + contador;
                        }                        
                        if (element.value.length > limit) { 
                            element.innerHTML = element.value.substring(0, limit); 
                        } 
                    }; 
                </script>
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRedesSociales">
                                <h:panelGrid columns="1" styleClass="formulario">                                    
                                    <h:commandButton id="eliminar"  value="Descartar"  action="#{ctrRedesSociales.eliminarMails}" 
                                    styleClass="botonDerecho"/><br/>
                                    <a href="#{ctrRedesSociales.urlRedirect}" target="_blank"><span style="font-weight: bold; text-align: center ; font-size:medium">#{ctrRedesSociales.url}</span></a><br/>
                                    <h:outputLabel value="#{ctrRedesSociales.texto}" escape="false"/><br/>
                                    <h:outputLabel value="Respuesta: " styleClass="labelItem"/>
                                    <h:inputTextarea id="mensaje" value="#{ctrRedesSociales.respuestaPre}" styleClass="max" style="width:400px" onkeydown="limitTextArea(this,160);" onkeyup="limitTextArea(this,160);"/>
                                    <label id="caracteres">Caracteres restantes: </label>
                                    <h:outputLabel value="Enviar como mensaje interno" styleClass="labelItem" rendered="#{ctrRedesSociales.isEstado}"/>
                                    <h:selectBooleanCheckbox id="volverLlamar" value="#{ctrRedesSociales.comoInterno}" rendered="#{ctrRedesSociales.isEstado}"/>
                                    <h:outputLabel value="#{ctrRedesSociales.textoError}" styleClass="labelErrorr"/>
                                    
                                    <h:commandButton id="enviar"  value="Responder"  action="#{ctrRedesSociales.responder}" styleClass="botonDerecho"/><br/><br/><br/>
                                    <h:commandButton id="enviarrl"  value="Responder Y Like"  action="#{ctrRedesSociales.responderAndLike}" styleClass="botonDerechoG" rendered="#{ctrRedesSociales.face}"/><br/><br/><br/>
                                    <h:commandButton id="enviarl"  value="Dar Like"  action="#{ctrRedesSociales.darLike}" styleClass="botonDerecho" rendered="#{ctrRedesSociales.face}"/>
                                </h:panelGrid>
                        <br/>
                        
                    </h:form>
    </h:body>
</html>