
<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                >

    <ui:define name="content">  
        <!--<h:outputStylesheet name="resources/css/default.css" />-->
        <h:outputStylesheet name="./../resources/css/default.css" />
        <script>
            function confirmar(formObj) {
                if (!confirm("Usted ya marcó a este número, desea volver a llamar?")) {
                    return false;
                } else {
                    submit();
                    return false;
                }
            }
        </script>

        <h:form  rendered="#{not fn:startsWith(ctrRegistroLlamada.codigoIvr,'77') and ctrRegistroLlamada.codigoIvr!=80 and ctrRegistroLlamada.codigoIvr!=79 and ctrRegistroLlamada.codigoIvr!=78}" >
            <h:outputText id="label" value="#{ctrRegistroLlamada.etiqueta}"   style="font-weight: bold; text-align: center ; font-size: x-large" >
                <!--             <f:event listener="{ctrInterfaces.guardarObservacion(observacion)}"    type="preRenderView"/>      -->
            </h:outputText>
            <br/>  

            <br/>
            <div  style=" width: 150px;
                  position: absolute;
                  right: 80px;
                  top:   80px;
                  bottom: 250px; ">
                <a4j:commandButton   id="procesar" value="Guardar" disabled="#{ctrRegistroLlamada.eventoNoGuardado}"  
                                    action="#{ctrRegistroLlamada.registrarLlamada}"
                                     styleClass="botonDerecho">
                    <f:ajax event="click" render="procesar estados" execute="observacion"/>
                </a4j:commandButton>
            </div>

            <h:panelGrid columns="3">

                <h:panelGrid columns="1" rendered="#{ctrRegistroLlamada.viewControl}" style="width:200px; height: 400px; position: static; font-size: small" >
                    <rich:panel>
                        <f:facet name="header"> 
                            <h:outputLabel value="Tipos de Llamada"   style="font-weight: bold; text-align: center ;font-size: medium"  />
                        </f:facet>

                        <h:selectOneListbox id="tipos" value="#{ctrRegistroLlamada.selectedType}" converter="tiposConverter"
                                            valueChangeListener="#{ctrRegistroLlamada.onSelectTipoLlamadaItem}"
                                            disabled="{ctrServicioElectrico.switchEstados}"
                                            style="width:200px; height: 400px; position: static">
                            <f:ajax event="change"  render="eventos procesar @this estados"  />
                            <f:selectItem itemValue="#{null}" itemLabel="" itemDisabled="true" />
                            <f:selectItems value="#{ctrRegistroLlamada.tipoLlamadas}" 
                                           var="t" itemLabel="#{t.descripcion}" itemValue="#{t}" />

                        </h:selectOneListbox>

                    </rich:panel>
                </h:panelGrid>        


                <h:panelGrid  columns="1" rendered="#{ctrRegistroLlamada.eventos!=null and ctrRegistroLlamada.eventos.size()>0}" style="width:350px; height: 400px; position: static; font-size: small" >
                    <rich:panel>
                        <f:facet name="header"> 
                            <h:outputLabel value="Eventos"  style="font-weight: bold; text-align: center ;font-size: medium"  />
                        </f:facet>
                        <h:selectOneListbox  id="eventos" value="#{ctrRegistroLlamada.selectedEvent}" converter="eventosConverter"
                                             valueChangeListener="#{ctrRegistroLlamada.onSelectEventItem}"

                                             disabled="{ctrServicioElectrico.switchEstados}"
                                             styleClass="content"
                                             style="width:100%; height: 400px; position: static">
                            <f:ajax event="change" render="estados @this tipos procesar" />
                            <f:selectItem itemValue="#{null}" itemLabel="" itemDisabled="true" />
                            <f:selectItems value="#{ctrRegistroLlamada.eventos}" var="c" itemLabel="#{c.descripcion}" itemValue="#{c}" />

                        </h:selectOneListbox>
                    </rich:panel>
                </h:panelGrid>
                <h:panelGrid  columns="1" rendered="#{ctrRegistroLlamada.eventos==null or (ctrRegistroLlamada.eventos!=null and ctrRegistroLlamada.eventos.size()==0)}" style="width:350px; position: static; font-size: small" >
                    <rich:panel style="text-align: center">
                        <h:outputLabel value="No existen datos en el tipo llamada seleccionado"  style="font-weight: bold; text-align: center; font-size: medium"  />
                    </rich:panel>
                </h:panelGrid>
                <h:panelGroup   id="estados" >

                    <h:panelGrid  
                        rendered="#{ctrRegistroLlamada.switchEstados}"
                        style=" width:350px; height: 400px; position: static; font-size: small">
                        <rich:panel style="width:250px">
                            <f:facet name="header"> 
                                <h:outputLabel for="estado" value="Estado Final:"  style="font-weight: bold; font-size: small" />
                            </f:facet> 
                            <h:selectOneRadio id="estado" value="#{ctrRegistroLlamada.stateFlag}" 
                                              valueChangeListener="#{ctrRegistroLlamada.onSelectEstadoLlamadaOption}"                                           
                                              style="font-size: small"  
                                              layout="pageDirection">    
                                <f:selectItem itemLabel="Contacto Efectivo" itemValue="1" /> 
                                <f:selectItem itemLabel="Contacto No efectivo" itemValue="0" />
                                <f:ajax event="click" render="@this procesar eventos estados tipos" 
                                        listener="{ctrServicioElectrico.dynamicRender}" />
                            </h:selectOneRadio>
                            <br/>
                            <!--                           <a4j:commandButton id="cancelar" value="Cancelar" action="{ctrServicioElectrico.onSelectCancelarButton}" >
                                                           <f:ajax  event="click" render="@this eventos estados tipos procesar"/>
                                                       </a4j:commandButton>-->
                        </rich:panel>  

                        <rich:panel style="width:250px">

                            <f:facet name="header">
                                <h:outputLabel value="Observaciones:"  style="font-weight: bold;  font-size: small" /> 
                            </f:facet>

                            <h:inputTextarea id="observacion" value="#{ctrRegistroLlamada.observacion}" 
                                             style=" font-size: small; width:230px; height: 150px ; resize:  none ; "  >
                                <f:validateLength  maximum="500"/>
                                <f:ajax  event="change"  execute="@this" />
                            </h:inputTextarea>
                        </rich:panel>
                    </h:panelGrid>
                </h:panelGroup>
            </h:panelGrid>
        </h:form>

        <h:form id='mailClientMessage' rendered="#{fn:startsWith(ctrRegistroLlamada.codigoIvr,'77')}">
            <h:outputText id="label" value="#{ctrRegistroLlamada.etiqueta}"   style="font-weight: bold; text-align: center ; font-size: x-large" >
                <!--             <f:event listener="{ctrInterfaces.guardarObservacion(observacion)}"    type="preRenderView"/>      -->
            </h:outputText>
            <br/> <br/>
            <h:commandButton id="eliminar"  value="Descartar"  action="#{ctrRegistroLlamada.eliminarMails}" 
                             styleClass="botonDerecho"/><br/>
            <h:outputText  value="Remitente: "   style=" font-size: small; " />
            <h:outputLabel id="remitente"  value="#{ctrRegistroLlamada.remitente}" />       
            <div  style=" width: 150px;
                  position: absolute;
                  right: 80px;
                  top:   80px;
                  bottom: 250px; ">

            </div>
            <br/>
            <h:outputText  value="Asunto: "   style=" font-size: small; " />
            <h:outputLabel id="asunto"   value="#{ctrRegistroLlamada.asunto}"/>                
            <br/> <br/>
            <rich:panel>

                <rich:editor  id="contenido" 
                              value="#{ctrRegistroLlamada.inboxContenido}" readonly="true">
                    <f:facet name="config">
                        toolbar: 'custom',
                        language: 'es',
                        startupFocus: true,
                        toolbar_custom:
                        [   
                        ]
                    </f:facet>
                </rich:editor>
                <ui:repeat  id="recordsRepeat" var="prueba" value="#{ctrRegistroLlamada.listadoAdjuntos}" varStatus="loop" >
                    <h:commandButton value="#{ctrRegistroLlamada.listadoAdjuntos[loop.index]}" action="#{ctrRegistroLlamada.downloadFile(ctrRegistroLlamada.listadoAdjuntos[loop.index])}"/>
                    <br/>
                </ui:repeat>
            </rich:panel>

            <br/>  <br/> 

            <!--              <h:selectBooleanCheckbox value="Reenviar"  id="activarReenvio" >    
                              <a4j:ajax  event="change"  render="@this forward"   listener="{ctrServicioElectrico.onCheckReenvioLlamada}" />
                        disabled="{!ctrServicioElectrico.controlReenvio}"    </h:selectBooleanCheckbox>  -->


            <!--</h:form >-->

            <!--        <h:form id='mailClientEditor'     rendered="{ctrServicioElectrico.controlInterfaz}">-->
            <rich:panel>
                <h:outputText id="copiartxt"  value="Copiar a: &#160;&#160;&#160;" style=" font-size: small;"/>
                <h:inputText id="copy" value="#{ctrRegistroLlamada.copyField}"
                             style=" font-size: small; width:320px; resize:  none " 
                             maxlength="100" styleClass="inputText">
                    <a4j:ajax event="change"/>
                </h:inputText>
                <br/>
                <h:outputText id="reenviartxt"  value="Reenviar a: "  style=" font-size: small;"/>
                <h:inputText id="forward" value="#{ctrRegistroLlamada.forwardField}"
                             style=" font-size: small; width:320px; resize:  none " 
                             maxlength="100" styleClass="inputText">
                    <a4j:ajax event="change"/>
                </h:inputText>
                <br/> <br/>
                <rich:editor id ="editor"  value="#{ctrRegistroLlamada.contenido}"   >
                    <f:facet name="config">
                        toolbar: 'custom',
                        language: 'es',
                        startupFocus: true,
                        toolbar_custom:
                        [   
                        { name: 'basicstyles', items : [ 'Bold','Italic','Strike' ] },
                        { name: 'insert', items : ['Table'] }
                        ]
                    </f:facet>
                </rich:editor>                            
                <h:commandButton id="enviar"  value="Enviar Mensaje"  action="#{ctrRegistroLlamada.enviarMails}" 
                                 styleClass="botonDerecho"/>              
            </rich:panel>
        </h:form >   
        <h:form id='mailClienteee'  rendered="#{fn:startsWith(ctrRegistroLlamada.codigoIvr,'77')}">
            <rich:fileUpload addLabel="Seleccionar archivo" clearAllLabel="Quitar todos" 
                             style="width: 350px; height: 100px; border: 0; text-align: left;"
                             clearLabel="Quitar" deleteLabel="Quitar"
                             doneLabel="Completado" uploadLabel="Adjuntar archivos"
                             fileUploadListener="#{ctrRegistroLlamada.processFileUpload}" id="upload" acceptedTypes=".jpg, .png, .pdf"
                             ontyperejected="alert('Solo formatos .jpg, .png, .pdf son aceptados');" maxFilesQuantity="3">
                <a4j:ajax event="uploadcomplete" execute="@none"/>
            </rich:fileUpload>
        </h:form>

        <h:form id='formRedesSociales' rendered="#{ctrRegistroLlamada.codigoIvr==78 or ctrRegistroLlamada.codigoIvr==79}">
            <h:outputText id="label" value="#{ctrRegistroLlamada.etiqueta}" style="font-weight: bold; text-align: center ; font-size: x-large" />
           <br/>
            <ui:include id="pageLivre" src="frmRedesSociales.xhtml"/> 
        </h:form>

        <h:form id='formChat' rendered="#{ctrRegistroLlamada.codigoIvr==80}">
            <h:outputText id="label" value="#{ctrRegistroLlamada.etiqueta}" style="font-weight: bold; text-align: center ; font-size: x-large" />
           <br/>
            <div class="row">
                <iframe src="#{ctrRegistroLlamada.urlChat}" width="100%" height="500">
                    <p>Your browser does not support iframes.</p>
                </iframe>
            </div>
        </h:form>

    </ui:define>
</ui:composition>