<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form id="formulario">
            <div><b>REPORTES</b></div><br />
            <h:outputLabel id="labelNumero" value="Actualmente se encuentran #{ctrReportesMsn.numeroMensajes} mensajes en cola para ser enviados" styleClass="labelError"/>
            <a4j:commandButton value="Detener Envío" styleClass="cont_next" oncomplete="#{rich:component('confirmPanel')}.show()"/>
            
            <rich:popupPanel id="confirmPanel" autosized="true" style="position:absolute; background-color: #5F9F9F;  width:500px;">
                Desea Detener el envío de mensajes?
                <a4j:commandButton value="Detener" onclick="detenerEnvio();" oncomplete="#{rich:component('confirmPanel')}.hide();" render="labelNumero" />
                <a4j:commandButton value="Cancelar" onclick="#{rich:component('confirmPanel')}.hide(); return false;" />
            </rich:popupPanel>
            
            <a4j:jsFunction name="detenerEnvio" oncomplete="#{ctrReportesMsn.detenerEnvio()}; return true;" render="labelNumero"/>
            
        <script type="text/javascript">
        $(function () {        	
                // Build the chart
                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'grafico'
                    },
                    title: {
                        text: 'Mensajería Automatizada Centro Sur'
                    },
                    tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                            percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Mensajes',
                        data: [                            
                            {
                                name: 'Enviados',
                                y: #{ctrReportesMsn.encoEnvi},
                                sliced: true,
                                selected: true
                            },
                            ['No Enviado',       #{ctrReportesMsn.encoNoEnvi}]
                        ]
                    }]
                });
        });
        </script>
            <h:panelGrid id="panelSeleccion" columns="2" styleClass="formularios">
                <h:outputLabel value="Desde: " styleClass="labelItem"/>
                <rich:calendar id="fDesde" datePattern="dd-MM-yyyy HH:mm" boundaryDatesMode="scroll" value="#{ctrReportesMsn.fechaA}">
                    <a4j:ajax event="change"/>
                </rich:calendar>
                <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                <rich:calendar id="fHasta" datePattern="dd-MM-yyyy HH:mm" boundaryDatesMode="scroll" value="#{ctrReportesMsn.fechaB}">
                    <a4j:ajax event="change"/>
                </rich:calendar>                
                 
                <h:commandButton style="height:40px;" value="Actualizar" action="#{ctrReportesMsn.actualizarReporte()}"/>                
            </h:panelGrid>
            
            <br/><br/>
            <rich:dataTable id="tablaCuotas" value="#{ctrReportesMsn.objReporte}"
                                        var="reporte">
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Mensajes" />
                        </f:facet>
                        <h:outputText value="#{reporte[0]}" />
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Número" />
                        </f:facet>
                        <h:outputText value="#{reporte[1]}" />
                    </rich:column>
                </rich:dataTable>
            <br/>
            <div class="divBotones">
                <h:commandButton style="height:30px; width: 60px;" value="Excel" action="#{ctrReportesMsn.cargarReporte('2')}"/>
                <h:commandButton style="height:30px; width: 60px;" value="PDF" action="#{ctrReportesMsn.cargarReporte('1')}"/>
            </div>
            
                   <div id="grafico" style="min-width: 300px; height: 400px; margin: 0 auto"></div>             
        </h:form>
    </ui:define> 
</ui:composition>