<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" 
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    
    <h:head>
        <title>Reporte de Agenda</title>
    </h:head>
    <h:body>        
        
        
        
        <ui:composition template="/templates/main.xhtml">
            
            
            
            <h:form id="form">
                <rich:messages />
                <rich:dataTable value="#{cc.attrs.controlador[cc.attrs.listaObjetos]}" var="car" id="table" rows="30">

                    <f:facet name="noData">
                        Nothing found
                    </f:facet>

                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Modelito" />
                        </f:facet>
                        <h:outputText value="#{obj[column.key]}" />
                    </rich:column>

                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="Price" />
                        </f:facet>
                        <h:outputText value="#{obj[column.key]}" />
                    </rich:column>

                </rich:dataTable>
            </h:form>
            
            
            
        </ui:composition>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </h:body>
</html>
