<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:rich="http://richfaces.org/rich"
             xmlns:a4j="http://richfaces.org/a4j"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:cj="http://java.sun.com/jsf/composite/components"
             >
    <ui:define name="content">      
        <h:form id="formGeneral">
            <div><b>Bienvenido Agente!</b></div><br />
            <f:event listener="#{parameter.resetParameter()}" type="preRenderView"/>
            </h:form>
    </ui:define>
</ui:composition>
