<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form id="formulario">
            <div><b>REPORTES</b></div><br />
        <script type="text/javascript">
        $(function () {        	
                // Build the chart
                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'grafico',
                        type: 'bar'
                    },
            title: {
                text: 'Estado de Llamadas'
            },
            xAxis: {
                categories: ['LUIS PEREZ', 'PAUL ANDRADE', 'GLADYS LOPEZ', 'MANUEL REYES', 'ROSA CEDILLO']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Porcentaje de estados'
                }
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
                series: [{
                name: 'Activo',
                data: [85, 83, 84, 87, 82]
            }, {
                name: 'Break',
                data: [10, 12, 13, 12, 11]
            }, {
                name: 'Inactivo',
                data: [17, 14, 14, 12, 15]
            }]
                });
        });
        </script>
            <br/>
                   <div id="grafico" style="min-width: 300px; height: 400px; margin: 0 auto"></div>             
        </h:form>
    </ui:define> 
</ui:composition>