<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components"
                xmlns:wicket="http://wicket.apache.org"
                >
    <ui:define name="content">  
 
        
        <h:form id="formulario">

            <div><b>REPORTES</b></div><br />
            <table style="width: 100%;">

                <tr>
                    <td>
                        <br /><br />
                        <div><b>REPORTE SUMARIZADO DE ESTADOS DE AGENTE</b></div><br />
                        <h:form>

                            <h:panelGrid columns="4">
                                <h:outputLabel value="Desde: " styleClass="labelItem"/>
                                <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario3" value="#{ctrReportes.fechaSumDesde}"/>
                                <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                                <rich:calendar datePattern="dd/MM/yyyy HH:mm" boundaryDatesMode="scroll" id="calendario4" value="#{ctrReportes.fechaSumHasta}"/>
                                <h:outputLabel value="Team: " styleClass="labelItem"/>
                                <h:selectOneMenu   value="#{ctrReportes.idTeamSum}" styleClass="selectOne" >
                                    <f:selectItems value="#{ctrReportes.selectItemTeams}" />
                                    <a4j:ajax event="change"/>
                                </h:selectOneMenu>


                            </h:panelGrid>
                            <a4j:commandButton style="height:40px;" value="Actualizar" oncomplete="#{ctrReportes.consultaSumarizado()}" render="reporte3 reporte4" />


                        </h:form>
                        <h:panelGrid id="reporte3">
                            <rich:extendedDataTable value="#{ctrReportes.reporteInformix1}"
                                                    var="reporteS" id="table3" frozenColumns="2" rows="10"
                                                    style="height:300px; width:100% ;overflow-y:auto ; overflow-x:auto"  selectionMode="none">
                                <rich:column width="200px">
                                    <f:facet name="header">
                                        <h:outputText value="Agente" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.usuario}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Fin de Turno" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon1}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Autorización Supervisor" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon2}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Receso Permitido" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon3}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Coffee Break" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon4}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Registro Llamada" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon5}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Consulta Supervisor" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon6}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Ejecución Tarea Relacional" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon7}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Problemas Externos" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon8}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Desconexión Supervisor" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon9}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Voz de ACD" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon10}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Agente Cancelado Llamada" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon11}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Llamada Terminada" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon12}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Dispositivo Funcionamiento" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon13}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Fallo Administración Llamadas" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon14}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Temporizador Trabajo Caducó" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon15}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Dispositivo Fuera de Servicio" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon16}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Inicio de Sesión" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon17}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Llamada no ICD" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon18}" /> 
                                </rich:column><rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="En Activo" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon19}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Llamada Sin Respuesta" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon20}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Fallo de CRS" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon21}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Sin Conexión" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon22}" /> 
                                </rich:column><rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Forzar Desconexión" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon23}" /> 
                                </rich:column>
                                <rich:column>
                                    <f:facet name="header">
                                        <h:outputText value="Forzar Inicio Sesión" />
                                    </f:facet>
                                    <h:outputText value="#{reporteS.razon24}" /> 
                                </rich:column>
                                <f:facet name="footer" >
                                    <rich:dataScroller  for="table3" render=":table"  > 

                                    </rich:dataScroller>
                                </f:facet>
                            </rich:extendedDataTable>
                        </h:panelGrid>
                    </td>
                </tr>
            </table>
        </h:form>
    </ui:define>
</ui:composition>