<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        <title>Mantenimiento de Rol</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroRoles">
                        <div><b>Mantenimiento de Rol</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel value="Nombre" styleClass="labelItem"/>
                                    <h:inputText id="rolNombre" value="#{ctrRoles.selRol.nombreRol}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="rolNombre" />
                                    <h:outputLabel value="Descripción" styleClass="labelItem"/>
                                    <h:inputText id="rolDescripcion" value="#{ctrRoles.selRol.descripcion}" maxlength="100"  styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="rolDescripcion" />
                                    <h:outputLabel value="URL CCX" styleClass="labelItem"/>
                                    <h:inputText id="parUrl" value="#{ctrRoles.selRol.url}" maxlength="50" styleClass="inputText" required="false" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="parUrl" />
                                    <h:outputLabel value="Modulos" styleClass="labelItem"/>
                                    <rich:panel style="width:560px;">
                                        <f:facet name="header">
                                            <h:outputText value="Por favor seleccione los Módulos del Rol"></h:outputText>
                                        </f:facet>
                                        <rich:pickList value="#{ctrRoles.objModulo2}" sourceCaption="Modulos disponibles" targetCaption="Módulos asignados" listWidth="165px" listHeight="100px" orderable="true">
                                            <f:selectItems value="#{ctrRoles.selectItemModulos}"/>
                                        </rich:pickList>
                                    </rich:panel><br />
                                    <h:outputLabel value="Correos" styleClass="labelItem"/>
                                    <rich:panel style="width:560px;">
                                        <f:facet name="header">
                                            <h:outputText value="Por favor seleccione los Correos del Rol"></h:outputText>
                                        </f:facet>
                                        <rich:pickList value="#{ctrRoles.objModulo3}" sourceCaption="Correos disponibles" targetCaption="Correos asignados" listWidth="165px" listHeight="100px" orderable="true">
                                            <f:selectItems value="#{ctrRoles.selectItemCorreos}"/>
                                        </rich:pickList>
                                    </rich:panel>                                    
                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrRoles.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrRoles.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrRoles.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrRoles}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionRoles" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>