<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form id="formulario">
            <div><b>REPORTES DE NÚMEROS NO VÁLIDOS</b></div><br />
            <h:panelGrid id="panelSeleccion" columns="2" styleClass="formularios">
                <h:outputLabel value="Desde: " styleClass="labelItem"/>
                <rich:calendar id="fDesde" datePattern="dd-MM-yyyy HH:mm" boundaryDatesMode="scroll" value="#{ctrReportesNoValidos.fechaA}">
                    <a4j:ajax event="change"/>
                </rich:calendar>
                <h:outputLabel value="Hasta: " styleClass="labelItem"/>
                <rich:calendar id="fHasta" datePattern="dd-MM-yyyy HH:mm" boundaryDatesMode="scroll" value="#{ctrReportesNoValidos.fechaB}">
                    <a4j:ajax event="change"/>
                </rich:calendar>                
                 
                <h:commandButton style="height:40px;" value="Actualizar" action="#{ctrReportesNoValidos.actualizarReporte()}"/>                
            </h:panelGrid>
                                 <rich:extendedDataTable id="tablaCuotas" value="#{ctrReportesNoValidos.objReporte}"
                                                var="objListColumna" rows="20"
                                                style="height:250px; width:650px ; overflow-y:auto ; overflow-x:auto" selectionMode="none"
                                                >
                                <rich:column>  
                                    <f:facet name="header">  
                                        <h:outputText value="FECHA" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[1]}" />  
                                </rich:column>
                                <rich:column>  
                                    <f:facet name="header">  
                                        <h:outputText value="NÚMERO" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[2]}" />  
                                </rich:column>
                                <rich:column width="500px">  
                                    <f:facet name="header">  
                                        <h:outputText value="MENSAJE" />  
                                    </f:facet>  
                                    <h:outputText value="#{objListColumna[3]}" />  
                                </rich:column>  
                                <f:facet name="footer">
                                    <rich:dataScroller page="1" />
                                </f:facet>
                        </rich:extendedDataTable>
            <br/>
            <div class="divBotones">
                <h:commandButton style="height:30px; width: 60px;" value="Excel" action="#{ctrReportesNoValidos.cargarReporte('2')}"/>
                <h:commandButton style="height:30px; width: 60px;" value="PDF" action="#{ctrReportesNoValidos.cargarReporte('1')}"/>                
            </div>
        </h:form>
    </ui:define> 
</ui:composition>