<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:rich="http://richfaces.org/rich"
             xmlns:a4j="http://richfaces.org/a4j"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:cj="http://java.sun.com/jsf/composite/components"
              xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">  
        <h:form  >
            
            <h:outputLabel value="Redes Sociales"  style="font-weight: bold; text-align: center ; font-size: x-large" />
            <br/>  <br/>
            
             <h:form>
                 <div  style="display: inline-block; height: 50px; line-height: 50px;  width: 355px; ">
            <a4j:commandButton id="allow" value="Preparado"  
                               styleClass="botonPreparado"
                                disabled="#{!ctrSocialMiner.controlSkill}" 
                                action="#{ctrSocialMiner.habilitarSkill}" 
                                render="@this status denied tweet poll preparado ">
            </a4j:commandButton>
            
            <a4j:commandButton id="denied" value="No Preparado" 
                               styleClass="botonNopreparado"
                                 disabled="#{ctrSocialMiner.controlSkill}" 
                                action="#{ctrSocialMiner.deshabilitarSkill}" 
                                render="@this status allow tweet preparado poll" />
            </div>
            <div style="display: inline-block; width: 410px ;  height: 50px;   margin-left: 20px ">
                <h:outputLabel  id="preparado" value="#{ctrSocialMiner.estado}"  style="font-weight: bold" />
             </div>
            </h:form>
        </h:form>
         
        
         <br/> <br/>
      

        <h:form  id="status"   >
            <a4j:poll  id="poll"  enabled="#{!ctrSocialMiner.controlSkill}"  
                       interval="180000" render="feed tweet audio"  />             
        </h:form>
        
         <h:form   id="tweet"  >  
                   <h:outputLabel value="Tweet Actual: " style="font-weight: bold" />
                   <h:outputLabel value="#{ctrSocialMiner.tweet}"/>
         </h:form> 
        

        
        <br/>
         <h:form   id="feed"  >     
             <h:outputLabel value="Comentario actual: "  style="font-weight: bold" />
             <h:outputLabel value="#{ctrSocialMiner.feed}"/>
         </h:form> 
        
         <br/> <br/>
        
         <!--rendered="{ctrSocialMiner.controlSonidoFacebook}"--> 
        <h:form   id="audio"    >        
            <p:media  id="facebook" rendered="#{ctrSocialMiner.controlSonidoFacebook}"
                      value="http://172.19.128.181:8080/CentroSurCM/file/facebookr.wav" 
                      width="200" height="20"   player="windows">
                      <f:param name="autoPlay" value="true" />
             </p:media>
            
            <p:media  id="twitter"  rendered="#{ctrSocialMiner.controlSonidoTwitter}"     
                      value="http://172.19.128.181:8080/CentroSurCM/file/twitterr.wav" 
                      width="200" height="20"   player="windows">
                      <f:param name="autoPlay" value="true" />
             </p:media>
         </h:form> 
                       

        
                      
          
    </ui:define>
</ui:composition>
