<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    >
    <h:head>
        <title>Training</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">
            <h:form>
                <h:panelGrid columns="3">
                    <h:outputText value="Name:" />
                    <h:inputText value="#{ctrReporteag.datos}" />
                    <a4j:commandButton value="Say Hello" render="out" execute="@form" />
                </h:panelGrid>
            </h:form>
            <br />
            <a4j:outputPanel id="out">
                <h:outputText value="Hello #{ctrReporteag.datos} !" rendered="#{not empty ctrReporteag.datos}" />
            </a4j:outputPanel>
        </ui:define>
        </ui:composition>
 
        

    </h:body>
    
</html>
