<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    
    <h:head>
        <title>Mantenimiento de Tareas</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroModulos">
                        <div><b>Mantenimiento de Tareas</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">
                                    <h:outputLabel value="Descripcion" styleClass="labelItem"/>
                                    <h:inputText id="modNombre" value="#{ctrTarea.selTarea.descripcion}" maxlength="100" styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>
                                    <rich:message for="modNombre" />
                                </h:panelGrid>
                        
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrTarea.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrTarea.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>
                            <h:commandButton action="#{ctrTarea.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrTarea}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionTarea" />
                       </h:panelGrid>
                    </h:form>
                        
                    <rich:collapsiblePanel header="Comandos" switchType="client" expanded="false" rendered="#{ctrTarea.mostrarComando}">
                        <h:form>
                            <rich:panel id="tablaComandos">
                                <h:panelGrid columns="2">
                                    <a4j:commandLink styleClass="no-decor" render="editGrid" execute="@this"
                                            oncomplete="#{rich:component('editPane')}.show()">
                                            <h:graphicImage value="../imagenes/add.png" alt="add" height="20" width="40" />
                                            <a4j:param value="0" assignTo="#{ctrTarea.idComandoSeleccionado}"/>
                                        </a4j:commandLink>
                                </h:panelGrid>
                                <rich:dataTable id="list" value="#{ctrTarea.listComandos}" var="comando">
                                    <rich:column>
                                        <h:outputLabel value="#{comando.comando}" />
                                    </rich:column>
                                    <rich:column>
                                        <a4j:commandLink styleClass="no-decor" render="editGrid" execute="@this"
                                            oncomplete="#{rich:component('editPane')}.show()">
                                            <h:graphicImage value="../imagenes/edit.png" alt="edit" height="10" width="40" />
                                            <a4j:param value="#{comando.id}" assignTo="#{ctrTarea.idComandoSeleccionado}"/>
                                        </a4j:commandLink>
                                    </rich:column>
                                </rich:dataTable>
                            </rich:panel>
                         </h:form>                        
 
                        <rich:popupPanel id="statPane" autosized="true">
                            <h:graphicImage value="/images/ai.gif" alt="ai" />
                            Please wait...
                        </rich:popupPanel>

                        <rich:popupPanel header="Editar Comandos" id="editPane" domElementAttachment="form" width="400" height="170">
                            <h:form>
                            <h:panelGrid columns="3" id="editGrid">
                                <h:outputText value="Comando" />
                                <h:inputText value="#{ctrTarea.selComando.comando}" required="true" requiredMessage="Comando es requerido" id="comando" />
                                <rich:message for="comando" />
                            </h:panelGrid>
                            <a4j:commandButton value="Guardar" action="#{ctrTarea.guardarComando}" render="tablaComandos" execute="editPane"
                                oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('editPane')}.hide();}" />
                            <a4j:commandButton value="Cancelar" onclick="#{rich:component('editPane')}.hide(); return false;" />
                            </h:form>
                        </rich:popupPanel>
                    </rich:collapsiblePanel>
                    
                    <rich:collapsiblePanel header="Registro de tareas" switchType="client" expanded="false"  rendered="#{ctrTarea.isEditable}">
                    <h:form>
                        <rich:panel id="tablaFechas">
                            <br/><br/>
                            <h:outputText value="Descripcion" />
                            <h:inputText value="#{ctrTarea.descripcionRegistro}" required="true" requiredMessage="Descripcion es requerido" id="descripcionEvento">
                                <a4j:ajax event="change"/>
                            </h:inputText>
                            <rich:message for="descripcionEvento" />
                            <h:outputLabel value="Equipo" styleClass="labelItem"/>
                            <h:selectOneMenu value="#{ctrTarea.idEquipo}" id="modPadre" required="true" requiredMessage="Tarea es requerida" styleClass="selectOne" disabled="#{!ctrTarea.mostrarComando}" >
                                 <f:selectItems value="#{ctrTarea.selectItemEquipo}" />
                                 <a4j:ajax event="change"/>
                            </h:selectOneMenu>
                            <h:inputHidden />

                            <rich:tabPanel switchType="client">
                                <rich:tab header="Fechas Específica">                                    
                                    <h:outputLabel value="Desde: " styleClass="labelItem"/>
                                    <rich:calendar datePattern="dd/MM/yyyy" boundaryDatesMode="scroll" id="calendario" value="#{ctrTarea.fechaSeleccionada}"/>
                                    <br/>
                                    <h:panelGrid columns="4" width="10" >
                                        <h:outputLabel value="Hora: " styleClass="labelItem"/>
                                        <rich:inputNumberSpinner value="#{ctrTarea.horaAgendaFE}" id="horaAgendaFE" maxValue="23"/>
                                        <h:outputLabel value=" : " styleClass="labelItem"/>
                                        <rich:inputNumberSpinner value="#{ctrTarea.minutoAgendaFE}" id="minutoAgendaFE"  maxValue="55" step="5"/>
                                    </h:panelGrid>
                                    
                                    <br/>
                                    <a4j:commandButton value="Guardar" oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('confirmPaneD')}.show(); else #{rich:component('alertaError')}.show()"/>
                                    
                                    <a4j:jsFunction name="agregarD" action="#{ctrTarea.guardarFechaEspecifica()}" render="tablaFechas"/>

                                    <rich:popupPanel id="confirmPaneD" autosized="true">
                                        Esta seguro de que desea guardar el registro?
                                        <a4j:commandButton value="Cancel" onclick="#{rich:component('confirmPaneD')}.hide(); return false;" />
                                        <a4j:commandButton value="Aceptar" onclick="#{rich:component('confirmPaneD')}.hide(); agregarD(); return false;"/>
                                    </rich:popupPanel>
                                    
                                </rich:tab>
                                <rich:tab header="Agenda">
                                    <h:outputLabel value="Hora: " styleClass="labelItem"/>
                                    <rich:inputNumberSpinner value="#{ctrTarea.horaAgenda}" id="horaAgenda" maxValue="23">
                                        <a4j:ajax event="change"/>
                                    </rich:inputNumberSpinner>
                                    <h:outputLabel value=" : " styleClass="labelItem"/>
                                    <rich:inputNumberSpinner value="#{ctrTarea.minutoAgenda}" id="minutoAgenda"  maxValue="55" step="5">
                                        <a4j:ajax event="change"/>
                                    </rich:inputNumberSpinner>                                    
                                    <br/><br/><br/>
                                    <h:outputText value="Día(s)" />
                                    <br/>
                                    <h:selectManyCheckbox id="dias" value="#{ctrTarea.dias}">
                                        <f:selectItem  itemLabel="Lunes" itemValue="2" />
                                        <f:selectItem  itemLabel="Martes" itemValue="3" />
                                        <f:selectItem  itemLabel="Miercoles" itemValue="4" />
                                        <f:selectItem  itemLabel="Jueves" itemValue="5" />
                                        <f:selectItem  itemLabel="Viernes" itemValue="6" />
                                        <f:selectItem  itemLabel="Sábado" itemValue="7" />
                                        <f:selectItem  itemLabel="Domingo" itemValue="1" />
                                        <a4j:ajax event="change"/>
                                    </h:selectManyCheckbox>
                                    
                                    <br/><br/>
                                    <h:outputText value="Mes(es)" />
                                    <br/>
                                    <h:selectManyCheckbox id="meses" value="#{ctrTarea.meses}">
                                        <f:selectItem  itemLabel="Enero" itemValue="0" />
                                        <f:selectItem  itemLabel="Febrero" itemValue="1" />
                                        <f:selectItem  itemLabel="Marzo" itemValue="2" />
                                        <f:selectItem  itemLabel="Abril" itemValue="3" />
                                        <f:selectItem  itemLabel="Mayo" itemValue="4" />
                                        <f:selectItem  itemLabel="Junio" itemValue="5" />
                                        <f:selectItem  itemLabel="Julio" itemValue="6" />
                                        <f:selectItem  itemLabel="Agosto" itemValue="7" />
                                        <f:selectItem  itemLabel="Septiembre" itemValue="8" />
                                        <f:selectItem  itemLabel="Octubre" itemValue="9" />
                                        <f:selectItem  itemLabel="Noviembre" itemValue="10" />
                                        <f:selectItem  itemLabel="Diciembre" itemValue="11" />
                                        <a4j:ajax event="change"/>
                                    </h:selectManyCheckbox>
                                    
                                    <br/>
                                    
                                    <a4j:commandButton value="Guardar" oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('confirmPaneA')}.show(); else #{rich:component('alertaError')}.show()"/>
                                    
                                    <a4j:jsFunction name="agregarA" action="#{ctrTarea.guardarAgenda()}" render="tablaFechas" />

                                    <rich:popupPanel id="confirmPaneA" autosized="true">
                                        Esta seguro de que desea guardar el registro?
                                        <a4j:commandButton value="Cancel" onclick="#{rich:component('confirmPaneA')}.hide(); return false;" />
                                        <a4j:commandButton value="Aceptar" onclick="#{rich:component('confirmPaneA')}.hide(); agregarA(); return false;"/>
                                    </rich:popupPanel>
                                </rich:tab>
                            </rich:tabPanel>
                            <rich:popupPanel id="alertaError" autosized="true">
                                Algún campo no esta llenado o seleccionado!!
                                <a4j:commandButton value="Aceptar" onclick="#{rich:component('alertaError')}.hide(); return false;" />
                            </rich:popupPanel>
                        </rich:panel>
                    </h:form>
                    </rich:collapsiblePanel>                    
            </ui:define>
        </ui:composition>
    </h:body>
</html>