<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    >
    <h:head>
        <title>Lista de Usuarios</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:form>
                    <div><b>TRANSFERIR UNA LLAMADA</b></div><br />
                        <h:panelGrid columns="2" styleClass="formulario">
                             
                            <h:form>
                                
                                <br />
                                  <rich:extendedDataTable value=""
            var="car" id="table" frozenColumns="2"
            style="height:300px; width:100%" selectionMode="single"
            >
            
            <rich:column>
                <f:facet name="header">
                    <h:outputText value="Código" />
                </f:facet>
                <h:outputText value="1" />
            </rich:column>
            <rich:column>
                <f:facet name="header">
                    <h:outputText value="Nombre de Agente" />
                </f:facet>
                <h:outputText value="Agente Juan Perez" />
            </rich:column>
            
           
        </rich:extendedDataTable>
                            </h:form>
                                
                        </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
