<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        <title>Mantenimiento de Teams</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroTeams">
                        <div><b>Mantenimiento de Teams</b></div><br />
                                <h:panelGrid columns="3" styleClass="formulario">

                                    <h:outputLabel value="Nombre" styleClass="labelItem"/>
                                    <h:inputText   id="teamNombre" value="#{ctrTeams.selTeam.nombre}" maxlength="100"  styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="teamNombre" />
                                    
                                    <h:outputLabel value="Descripción" styleClass="labelItem"/>
                                    <h:inputText   id="teamDescripcion" value="#{ctrTeams.selTeam.descripcion}" maxlength="100"  styleClass="inputText" required="true" requiredMessage="Campo obligatorio"/>  
                                    <rich:message for="teamDescripcion" />
                                    
                                    <h:outputLabel value="Supervisor" styleClass="labelItem" />
                                    <h:selectOneMenu value="#{ctrTeams.supSeleccionado}" id="ou" immediate="true" styleClass="selectOne">
                                        <f:selectItems value="#{ctrTeams.selectItemSupervisores}" />
                                    </h:selectOneMenu>
                                    <br />
                                    
                                    <h:outputLabel value="Usuarios" styleClass="labelItem"/>
                                    <rich:panel style="width:560px;">
                                        <f:facet name="header">
                                            <h:outputText value="Por favor seleccione los Usuarios del Team"></h:outputText>
                                        </f:facet>
                                        <rich:pickList value="#{ctrTeams.objUsuario2}" sourceCaption="Usuarios disponibles" targetCaption="Usuarios asignados" listWidth="165px" listHeight="100px" orderable="true">
                                            <f:selectItems value="#{ctrTeams.selectItemUsuarios}"/>
                                        </rich:pickList>
                                    </rich:panel>
                                    <h:inputHidden />
                                    <h:outputLabel value="Campañas" styleClass="labelItem"/>
                                    <rich:panel style="width:560px;">
                                        <f:facet name="header">
                                            <h:outputText value="Por favor seleccione las Campañas del Team"></h:outputText>
                                        </f:facet>
                                        <rich:pickList value="#{ctrTeams.objCola2}" sourceCaption="Campañas disponibles" targetCaption="Campañas asignados" listWidth="165px" listHeight="100px" orderable="true">
                                            <f:selectItems value="#{ctrTeams.selectItemColas}"/>
                                        </rich:pickList>

                                    </rich:panel>
                                    
                                </h:panelGrid>

                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrTeams.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrTeams.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrTeams.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrTeams}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionTeams" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


