<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    >
    <h:head>
        <title>Mantenimiento de Usuarios</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                    <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                    <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                    <h:form id="frmRegistroUsuarios">
                        <div><b>Mantenimiento de Usuarios</b></div><br />
                                <h:panelGrid columns="2" styleClass="formulario">
                                    <h:outputLabel value="Unidad Organizativa" styleClass="labelItem" rendered="#{ctrUsuarios.verNombre}"/>
                                    <h:selectOneMenu value="#{ctrUsuarios.ouSeleccionado}" id="ou" immediate="true" styleClass="selectOne" rendered="#{ctrUsuarios.verNombre}">
                                        <f:selectItems value="#{ctrUsuarios.selectItemOus}" />
                                        <a4j:ajax immediate="true" render="refrescarContenido" />
                                    </h:selectOneMenu>
                                </h:panelGrid>
                                    <h:panelGrid id="refrescarContenido" columns="2">
                                        <h:outputLabel value="Nombre" styleClass="labelItem" />
                                        <h:selectOneMenu  id="usuariosldap2"  styleClass="selectOne" rendered="#{ctrUsuarios.verNombre}" immediate="true" value="#{ctrUsuarios.selUsuario.nick}">
                                            <f:selectItems value="#{ctrUsuarios.selectItemUsuarios}" />
                                            <a4j:ajax immediate="true" render="refrescarContenido" />
                                        </h:selectOneMenu>                            
                                        <h:inputText   id="usNombre" value="#{ctrUsuarios.selUsuario.nombre}" rendered="#{ctrUsuarios.verNombreTxt}" maxlength="100" styleClass="inputText" readonly="true"/>  
                                        
                                        <h:outputLabel value="Usuario" styleClass="labelItem"/>
                                        <h:inputText   id="usUsuario" value="#{ctrUsuarios.selUsuario.nick}" maxlength="100" styleClass="inputText" readonly="true" />  
                                        
                                        <h:outputLabel value="Alias" styleClass="labelItem" rendered="false"/>
                                        <h:inputText   id="usAlieas" value="#{ctrUsuarios.selUsuario.alias}" maxlength="100" styleClass="inputText" rendered="false"/>  
                                        
                                    </h:panelGrid>
                                    
                                   <h:panelGrid columns="2" styleClass="formulario">
                                    <h:outputLabel value="Extensión" styleClass="labelItem"/>
                                    <h:inputText   id="usExtension" value="#{ctrUsuarios.selUsuario.extension}" maxlength="100" styleClass="inputText"/> 
                                    
                                    <h:outputLabel value="Extensión2" styleClass="labelItem" rendered="false"/>
                                    <h:inputText   id="usExtension2" value="#{ctrUsuarios.selUsuario.extension2}" maxlength="100" styleClass="inputText" rendered="false"/> 
                                    
                                    <h:outputLabel value="Roles" styleClass="labelItem"/>
                                    <rich:panel style="width:560px;">
                                        <f:facet name="header">
                                            <h:outputText value="Por favor seleccione los Roles del Usuario"></h:outputText>
                                        </f:facet>
                                        <rich:pickList value="#{ctrUsuarios.objRol2}" sourceCaption="Roles disponibles" targetCaption="Roles asignados" listWidth="165px" listHeight="100px" orderable="true">
                                            <f:selectItems value="#{ctrUsuarios.selectItemRoles}"/>
                                        </rich:pickList>

                                    </rich:panel>
                                    
                                    <h:outputLabel id="txtCampania" value="Campaña Asignada: " styleClass="labelItem"/>
                                    <h:selectOneMenu  id="campaniaLlamada" value="#{ctrUsuarios.idCampania}" styleClass="selectOne">
                                        <f:selectItems value="#{ctrUsuarios.selectItemCampanias}" />
                                        <a4j:ajax event="change"/>
                                    </h:selectOneMenu>
                                    
                                    <h:outputLabel value="Skills" styleClass="labelItem" rendered="false"/>
                                    <rich:panel style="width:560px;" rendered="false">
                                        <f:facet name="header">
                                            <h:outputText value="Por favor seleccione los Skills del Usuario"></h:outputText>
                                        </f:facet>
                                        <rich:pickList value="#{ctrUsuarios.objSkill2}" sourceCaption="Skills disponibles" targetCaption="Skills asignados" listWidth="165px" listHeight="100px" orderable="true">
                                            <f:selectItems value="#{ctrUsuarios.selectItemSkills}"/>
                                        </rich:pickList>

                                    </rich:panel>

                                </h:panelGrid>
                        <br/>
                        <div class="divBotones">  
                            <a4j:commandButton value="#{ctrUsuarios.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                               action="#{ctrUsuarios.confPop()}"
                                               oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                                <a4j:ajax status="guardar" event="begin"/>
                            </a4j:commandButton>  
                            <h:commandButton action="#{ctrUsuarios.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                        </div>
                        <h:panelGrid columns="2">
                            <cj:statusProgress nameProgress="guardar" />
                            <cj:popMsgConfirmation  controlador="#{ctrUsuarios}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionUsuarios" />
                       </h:panelGrid>
                    </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


