<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich" 
    xmlns:a4j="http://richfaces.org/a4j" 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cj="http://java.sun.com/jsf/composite/components"
    xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <title>Mantenimiento de Usuario para Reportes</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/main.xhtml">
            <ui:define name="content">  
                <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
                <h:outputScript name="../resources/js/jQuery.mask.js"></h:outputScript> 
                <h:form id="frmRegistroTeams">
                    <div><b>Mantenimiento de Usuarios</b></div><br />
                    <h:panelGrid columns="2" styleClass="formulario">
                        <h:outputLabel id="txtCentroCosto" value="Centro de Costo " styleClass="labelItem"/>
                        <h:selectOneMenu  id="campaniaCentCos" value="#{ctrUsuarioLlamada.idCentroCosto}" styleClass="selectOne">
                            <f:selectItems value="#{ctrUsuarioLlamada.selectItemCentroCosto}" />
                            <a4j:ajax event="change"/>
                        </h:selectOneMenu>

                        <h:outputLabel id="txtDepartamento" value="Departamento " styleClass="labelItem"/>
                        <h:selectOneMenu  id="campaniaDepartamento" value="#{ctrUsuarioLlamada.idDepartamento}" styleClass="selectOne">
                            <f:selectItems value="#{ctrUsuarioLlamada.selectItemDepartamento}" />
                            <a4j:ajax event="change"/>
                        </h:selectOneMenu>
                    </h:panelGrid>
                    <h:panelGrid columns="3" styleClass="formulario">
                        <h:outputLabel value="Apellidos" styleClass="labelItem"/>
                        <h:inputText   id="parApellido" value="#{ctrUsuarioLlamada.selUsuarioLlamada.apellidos}" maxlength="100"  styleClass="inputText" readonly="#{ctrUsuarioLlamada.atriEditable}" required="true" requiredMessage="Campo obligatorio"/>  
                        <rich:message for="parApellido" />

                        <h:outputLabel value="Nombres" styleClass="labelItem"/>
                        <h:inputText   id="parNombre" value="#{ctrUsuarioLlamada.selUsuarioLlamada.nombres}" maxlength="100"  styleClass="inputText" readonly="#{ctrUsuarioLlamada.atriEditable}" required="true" requiredMessage="Campo obligatorio"/>  
                        <rich:message for="parNombre" />
                        
                        <h:outputLabel value="Correo" styleClass="labelItem"/>
                        <h:inputText   id="parCorreo" value="#{ctrUsuarioLlamada.selUsuarioLlamada.correo}" maxlength="100"  styleClass="inputText" readonly="#{ctrUsuarioLlamada.atriEditable}" required="true" requiredMessage="Campo obligatorio"/>  
                        <rich:message for="parCorreo" />
                        
                        <h:outputLabel value="Correo Jefatura" styleClass="labelItem"/>
                        <h:inputText   id="parCorreoJ" value="#{ctrUsuarioLlamada.selUsuarioLlamada.correoJefatura}" maxlength="100"  styleClass="inputText" readonly="#{ctrUsuarioLlamada.atriEditable}" required="true" requiredMessage="Campo obligatorio"/>  
                        <rich:message for="parCorreoJ" />
                        
                        <h:outputLabel value="Es jefe de departamento?" styleClass="labelItem"/>
                        <h:selectBooleanCheckbox id="esJefe" value="#{ctrUsuarioLlamada.selUsuarioLlamada.esJefeDepartamento}">
<!--                            <a4j:ajax immediate="true" render="diasvencidos" />-->
                        </h:selectBooleanCheckbox>
                    </h:panelGrid>
                    <br/>
                    <div class="divBotones">  
                        <a4j:commandButton value="#{ctrUsuarioLlamada.opcionBoton}" styleClass="separacionDerecha icon-floopy icon-button" 
                                           action="#{ctrUsuarioLlamada.confPop()}"
                                           oncomplete="if (#{not facesContext.validationFailed}) #{rich:component('popConfBtn')}.show()">
                            <a4j:ajax status="guardar" event="begin"/>
                        </a4j:commandButton>  
                        <h:commandButton action="#{ctrUsuarioLlamada.regresar()}" value="Cancelar" styleClass="icon-button icon-delete" immediate="true"/>   
                    </div>
                    <h:panelGrid columns="2">
                        <cj:statusProgress nameProgress="guardar" />
                        <cj:popMsgConfirmation  controlador="#{ctrUsuarioLlamada}" verificarpanelEvento="exitograbar"  paginaObjetivo="/CentroSurCM/faces/pages/frmAdministracionUsuarioLlamada" />
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


