<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/main.xhtml" xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich" 
                xmlns:a4j="http://richfaces.org/a4j" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cj="http://java.sun.com/jsf/composite/components">
    <ui:define name="content">  
        <h:form>
            
            <div><b>VER VISITAS AGENDADAS</b></div><br /> 
            <h:panelGrid columns="2" styleClass="formulario" id="contenido">

                <h:form>
                    <rich:extendedDataTable value="#{ctrAgendamiento.visitasAgendadas}"
                                                var="agendada" id="table" frozenColumns="2"
                                                style="height:300px; width:100%" selectionMode="none"
                                                >
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Fecha agendamiento" />
                            </f:facet>
                             <h:outputText value="#{agendada[1]}" />
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Número de Crédito" />
                            </f:facet>
                            <h:outputText value="#{agendada[2]}" />
                        </rich:column>
                        <rich:column width="200px">
                            <f:facet name="header">
                                <h:outputText value="Fecha de visita" />
                            </f:facet>
                            <rich:calendar datePattern="dd/MM/yyyy" value="#{ctrAgendamiento.fechaVisita}">
                                <a4j:ajax event="change"/>
                            </rich:calendar>
                        </rich:column>                        
                        <rich:column width="200px">
                            <f:facet name="header">
                                <h:outputText value="Observación" />
                            </f:facet>
                            <h:inputTextarea id="observacionVisita" styleClass="inputTextAreas" style="width:180px;" value="#{ctrAgendamiento.observacion}"> 
                                <a4j:ajax event="change"/>
                            </h:inputTextarea>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="Accion" />
                            </f:facet>
                            <a4j:commandButton  rendered="#{agendada[3] eq 'PENDIENTE'}" value="Registrar visita" render="contenido" action="#{ctrAgendamiento.registrarVisita(agendada[0])}" immediate="true">
                                <a4j:param name="data11" value="#{agendada[2]}" assignTo="#{ctrAgendamiento.numCredito}"/>
                            </a4j:commandButton>
                        </rich:column>
                    </rich:extendedDataTable>
                </h:form>

            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>