<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
      >
    
    <h:head>
        <title>Data Table Example</title>
    </h:head>
    <h:body>
        
        <ui:composition template="/templates/main.xhtml">
            
        <ui:define name="content">
        <h:form>
        <h:panelGrid columns="1">
            <rich:dataTable value="#{taskListBean.dataList}" var="dataItem" rows="4" 
                            columnClasses="50,100,100,100"
                            >
               
                
                <f:facet name="header">
                <h:outputText value="Trouble Ticket Systems" />
                </f:facet>
                

                <rich:column>
                <f:facet name="header">Ticket Id</f:facet>
                <h:outputText value="#{dataItem.taskInstanceId}" />
                </rich:column>

                <rich:column>
                <f:facet name="header">Status</f:facet>
                <h:outputText value="#{dataItem.taskNode}" />
                </rich:column>

                <rich:column>
                <f:facet name="header">Actor</f:facet>
                <h:outputText value="#{dataItem.actorId}" />
                </rich:column>

                <rich:column>
                <f:facet name="header">Description</f:facet>
                <h:outputText value="#{dataItem.description}" />
                </rich:column>


                <f:facet name="footer">
                <h:outputText value="This is the footer" />
                </f:facet>

            </rich:dataTable>
                    
        </h:panelGrid>
        </h:form>
        </ui:define>

            
        </ui:composition>
        
    </h:body>
</html>
