    <ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions" >
<!--        <table style=" background-color: #1460AB" width="100%" cellpadding="" cellspacing="0" border="0">
            <tr>
                <td height="80px" style="width: 80px; text-align: center">
                    <img src="/CentroSurCM/faces/imagenes/logo.png" height="80px" />
                </td>
            </tr>
        </table>-->
        <h:form>
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="15%" height="40px" align="center" background="/CentroSurCM/faces/imagenes/fondoVerde.png" class="blanco bordeDerecho">
                        <span class="arial"><a href="/CentroSurCM/faces/pages/frmPrincipal.xhtml" style='text-decoration: underline'>PRINCIPAL</a></span></td>
                    <td background="/CentroSurCM/faces/imagenes/fondoVerde.png" width="87%">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <c:forEach items="#{ctrModulos.listaColumnas}" var="modulos" >
                                    <td align="center" valign="middle" class="bordeDerecho">
                                        <div class="activo" onmouseover="this.className='inactivo'" onmouseout="this.className='activo'" style="width:105px; height:40px;">
                                            <span class="arial" style="position:relative; top:20%; height:80px;">
                                                <h:commandButton style="white-space:normal; background: transparent; color: #FFFF66; border: 0px; width:100px;" value="#{modulos.value}" action="#{ctrModulos.seleccionarModulo(modulos.key)}"> </h:commandButton>
                                            </span>
                                        </div>
                                    </td>
                                </c:forEach>
                            </tr>
                        </table>                       
                    </td>
                    <td background="/CentroSurCM/faces/imagenes/fondoVerde.png">
                        <h:form>
                            <h:commandButton value="Cerrar Sesion" action="#{ctrPersonas.cerrarSesion()}"/>
                        </h:form>
                    </td>
                </tr>
            </table>
        </h:form>
    </ui:composition>