<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <h:inputHidden value="#{ctrInicial.inicializar}"/>
<!--        <script type="text/javascript" src="http://www.google.com/jsapi"></script>-->
        <script type="text/javascript" src="../resources/js/principal.js"></script>
        <script type="text/javascript" src="../resources/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="../resources/js/highcharts.js"></script>
        <script type="text/javascript" src="../resources/js/exporting.js"></script>
        
        <LINK REL="StyleSheet" HREF="../resources/css/template.css" TYPE="text/css" />
        <h:outputStylesheet name="./../resources/Estilos/Toolbar.css" />
    </h:head>
    <h:body>

        <div id="main" style="background-color: #FFFFFF">
            <div id="header">
                <ui:insert name="header">
                    <ui:include src="header.xhtml"/>
                </ui:insert> 
            </div>
            <div id="container">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="vertical-align: top;">
                    <tr>
                        <td id="colmenu" style="width: 15%; vertical-align: top;">
                            <div id="leftmenu">
                                <ui:insert name="menu">
                                    <ui:include src="menu.xhtml"/>
                                </ui:insert> 
                            </div>
                        </td>
                        <td id="colseparador">

                        </td>
                        <td id="colcontent" style="vertical-align: top;">
                            <div id="content">
                                <table cellpadding="5" cellspacing="5" style="width: 100%">
                                    <tr>
                                        <td style="width: 100%">
                                            <ui:insert name="content"></ui:insert> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
<!--            <div id="footer">
                <ui:insert name="footer">
                    <ui:include src="footer.xhtml"/>
                </ui:insert> 
            </div>    -->
        </div>
    </h:body>
</html>
