<ui:composition xmlns="http://www.w3.org/1999/xhtml"  
                xmlns:h="http://java.sun.com/jsf/html"  
                xmlns:rich="http://richfaces.org/rich"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core">   
        <h:panelGrid width="100%" style="font-size: 11px;">
            <rich:panelMenu itemMode="ajax" groupMode="ajax" groupExpandedLeftIcon="triangleUp"
                            groupCollapsedLeftIcon="triangleDown" topGroupExpandedRightIcon="chevronUp"
                            topGroupCollapsedRightIcon="chevronDown" itemLeftIcon="disc"  style="font-size: 11px;">
                <rich:panelMenuGroup label="#{ctrModulos.nombreModuloSel}" expanded="true">
                    <c:forEach items="#{ctrModulos.listaSubModulos}" var="submodulos">
                        <rich:panelMenuItem style="font-size: 11px; font-style: italic;" label="#{submodulos.nombre}" name="Item_#{submodulos.id.idPadre}#{submodulos.id.idHijo}" onclick="document.location.href='#{submodulos.url}'"/>
                    </c:forEach>
                </rich:panelMenuGroup>
            </rich:panelMenu>
        </h:panelGrid>        
</ui:composition>