<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      >

    <cc:interface name="listObject" id="listadoprincipal"
                  displayName="Presenta lista de objetos"
                  shortDescription="Componente para listado">
        <cc:attribute name="controlador" required="true" />
        <cc:attribute name="listaObjetos" default="listaObjetos" required="false" shortDescription="lista de objetos a mostrar" />
        <cc:attribute name="objetoSeleccionar" default="objetoSeleccionar" required="false" />
        <cc:attribute name="selectionListener" default="selectionListener" required="false" />        
        <cc:attribute name="render" default="@none" required="false" />        
        <cc:attribute name="listaColumnas" default="listaColumnas" required="false" shortDescription="lista de las columnas a ingresar por ejemplo  LinkedHashMap.put('nombreClassJava', 'NombreColumna')"/>
        <cc:attribute name="numeroFilas" required="false" default="10" shortDescription="numero de filas a mostrar en la grilla, por default 10"/>  
        <cc:attribute name="numeroPaginas" required="false" default="5" shortDescription="numero de páginas a mostrar en la paginación, por default 5"/> 
        <cc:attribute name="ctrPaginacion" required="false"  shortDescription="controlador para la paginación, por defecto el controlador es el de Session" />
        <cc:attribute name="pagina" required="false" default="numPaginas"  shortDescription="para colocar el numero de pagina actual, por defecto numPaginas" />
        <cc:attribute name="ctrCheck" required="false"  shortDescription="controlador para la accion del check selecconar todos, por defecto el controlador es el de Session" />
        <cc:attribute name="verCheck" required="false" default="true" shortDescription="por defecto false" />
        <cc:attribute name="accionSeleccionarTodos" default="seleccionarTodos" required="false" shortDescription="por defecto chkSeleccion_action" />
        <cc:attribute name="seleccioneTodos" default="seleccionado" required="false" shortDescription="por defecto seleccionado" />
        <cc:attribute name="anchoGrilla" default="width: 90%" required="false" shortDescription="Ancho de la Grilla" />
    </cc:interface>
    <cc:implementation>

        <ui:param name="ctrCheck2" value="#{cc.attrs.ctrCheck==null ? ctrSession : cc.attrs.ctrCheck}" />
        <ui:param name="ctrPaginacion2" value="#{cc.attrs.ctrPaginacion==null ? ctrSession : cc.attrs.ctrPaginacion}" />

        <rich:extendedDataTable  value="#{cc.attrs.controlador[cc.attrs.listaObjetos]}" var="obj"
                         rows="#{cc.attrs.numeroFilas}" 
                         sortPriority="#{objectSortingBean.sortPriorities}" frozenColumns="1"
                         id="table" 
                         onrowclick="fncSeleccionar(this);"  columnClasses="columna1,columna2,columna3, columna4"
                         selectionMode="single"
                         selection="#{ctrPersonas.selection}" style=" position: absolute; width:65%"
                         >
            <a4j:ajax event="selectionchange" execute="@form" listener="#{cc.attrs.controlador[cc.attrs.selectionListener]}" render="#{cc.attrs.render}" />

            <c:forEach items="#{cc.attrs.controlador[cc.attrs.listaColumnas]}" var="column" >
                <rich:column id="#{column.key}"  filterValue="#{cc.attrs.controlador[column.key]}"
                             filterExpression="#{fn:containsIgnoreCase(obj[column.key],cc.attrs.controlador[column.key])}" 
                             sortBy="#{obj[column.key]}" sortOrder="#{objectSortingBean.sortsOrders[column.key]}"  width="220">
                    <f:facet name="header">
                        <a4j:commandLink execute="@this" value="#{column.value}" render="table" 
                            action="#{objectSortingBean.sort}">
                            <f:param name="sortProperty" value="#{column.key}" />
                        </a4j:commandLink>  
                      
                    </f:facet>
                    <h:outputText value="#{obj[column.key]}"/> 
                </rich:column>
            </c:forEach>
            <rich:column id="colCheck2" rendered="#{cc.attrs.verCheck}" style="width: 3px; text-align: center;"  >
                <f:facet name="header">
                    <h:selectBooleanCheckbox id="titCheck2" value="#{ctrCheck2[cc.attrs.seleccioneTodos]}" >
                        <a4j:ajax event="click" immediate="true"  listener="#{cc.attrs.controlador[cc.attrs.accionSeleccionarTodos]}" render=":table" />
                    </h:selectBooleanCheckbox>
                </f:facet>
                <h:selectBooleanCheckbox id="chkhSeleccion2" value="#{obj.seleccionado}"  rendered="#{cc.attrs.verCheck}">
                    <f:ajax event="change" immediate="true" render="chkhSeleccion2"   execute="@this"/>
                </h:selectBooleanCheckbox>
            </rich:column>
            <f:facet name="footer" >
                <rich:dataScroller  for="table" maxPages="#{cc.attrs.numeroPaginas}"   page="#{ctrPaginacion2[cc.attrs.pagina]}"  render=":table"  > 

                </rich:dataScroller>
            </f:facet>
        </rich:extendedDataTable>
        <script type="text/javascript">
            function fncSeleccionar(obj1){
                var tr = jQuery(obj1).parent();
                var children1 = jQuery(tr).children('.active-row');
                for (var i = 0; i != children1.length; i++) {
                    jQuery(children1.get(i)).removeClass('active-row');
                }
                jQuery(obj1).addClass('active-row');
            }
        </script>
    </cc:implementation>

</html>                        


