<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      >
    


    <cc:interface name="listObject" id="listadoprincipal"
                  displayName="Presenta lista de objetos"
                  shortDescription="Componente para listado">
        <cc:attribute name="tabla" required="true" />
    </cc:interface>
    <cc:implementation>
        <rich:extendedDataTable  value="#{ctrFiltros.lstFiltros}" var="obj" 
                         rows="10" 
                         id="tablefilters" rowClasses="even-row, odd-row" styleClass="stable" 
                         onrowclick="fncSeleccionar(this);" 
                         selectionMode="single"
                         >

            <f:facet name="footer" >
                <rich:dataScroller  for="table" maxPages="#{cc.attrs.numeroPaginas}"   page="#{ctrPaginacion2[cc.attrs.pagina]}"  render=":table"  > 

                </rich:dataScroller>
            </f:facet>
        </rich:extendedDataTable>
        <script type="text/javascript">
            function fncSeleccionar(obj1){
                var tr = jQuery(obj1).parent();
                var children1 = jQuery(tr).children('.active-row');
                for (var i = 0; i != children1.length; i++) {
                    jQuery(children1.get(i)).removeClass('active-row');
                }
                jQuery(obj1).addClass('active-row');
            }
        </script>
    </cc:implementation>

</html>                        


