<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich"
      >
    <composite:interface>
        <composite:attribute name="etiqueta" shortDescription="Define el valor de la etiqueta." />
        <composite:attribute name="mensajerequerido" default="este campo" shortDescription="Ejemplo: la edad, el resultado sera completado:Es necesario ingresar la edad.  Mensaje cuando se deja vacio el campo, funciona unicamente cuando tiene el atributo: requerido=true."  />
        <composite:attribute name="maxcaracteres" default="100" shortDescription="Maximo número de caracteres del campo de ingreso de texto." />
        <composite:attribute name="estiloclasstxt" default="txtCampo" shortDescription="Estilo aplicado al campo de texto" />
        <composite:attribute name="ancholabels" default="100px" shortDescription="Configuracion del la columna de la etiqueta." />
        <composite:attribute name="anchoimputs" default="400px" shortDescription="Configuracion del la columna de la campo de ingreso de texto. " />
        <composite:attribute name="anchototal" default="500px" shortDescription="Ancho Total del Panel. " />
        <composite:attribute name="valor" required="true" shortDescription="Value del campo de ingreso de texto." />
        <composite:attribute name="requerido" default="false" shortDescription="Valida que el campo no este en blanco" />
        <composite:attribute name="mostrarHorizontal" default ="false" shortDescription="Muestra el mensaje de error a un lado y no abajo."/>                        
        <composite:attribute name="sololectura" default ="false" shortDescription="Si el campo es solo de lectura."/>                        
        <composite:attribute name="controlador" shortDescription="Controlador del Mantenimiento."/>                        
        <composite:attribute name="funcionOnkeypress" default ="" required="false" shortDescription="Script para el onkeypress."/>                        
        

        <composite:editableValueHolder name="input" />
    </composite:interface>

    <composite:implementation>
        <script type="text/javascript">
            function blockEnter(evt) {
                evt = (evt) ? evt : event;
                var charCode = (evt.charCode) ? evt.charCode :
                    ((evt.which) ? evt.which : evt.keyCode);
                if (charCode == 13) {
                    return false;
                } else {
                    return true;
                }
            }
                        
        </script>

        <h:outputLabel for="input" value="#{cc.attrs.etiqueta} : " />
        <h:panelGrid columns="#{cc.attrs.mostrarHorizontal==true ? 2 : 1}" >
            <h:inputText id="input" 
                         value="#{cc.attrs.valor}" 
                         style="float:left; width: #{cc.attrs.anchoimputs};" 
                         required="#{cc.attrs.requerido}"
                         requiredMessage="Es necesario ingresar #{cc.attrs.mensajerequerido}."
                         styleClass="#{cc.attrs.estiloclasstxt}"
                         maxlength="#{cc.attrs.maxcaracteres}"
                         readonly="#{cc.attrs.sololectura}"
                         onkeydown="return blockEnter(event);"
                         onkeypress="#{cc.attrs.funcionOnkeypress}" 
                         >
                <f:ajax event="change" />
                <rich:validator/>
            </h:inputText>
            <rich:message ajaxRendered="true" for="input" id="msg" styleClass="rf-msg-error"/>
            <!--rich:message ajaxRendered="true" for="input" id="msg"  style="padding-bottom: 5px;padding-top: 0px;height: 0px;font-size: smaller;float:left;font-family:Arial, Verdana, sans-serif;padding-left:0px;font-size: 11px ;width: #{cc.attrs.anchototal}" /-->
        </h:panelGrid>
    </composite:implementation>
</html>
