<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j">
    <composite:interface>

        <composite:attribute name="controlador" required="true" shortDescription="Controlador del Mantenimiento."/>
        <composite:attribute name="leftpop" default="400px" required="false" shortDescription="distancia desde la izquierda" />
        <composite:attribute name="toppop" default="150px" required="false" shortDescription="distancia desde la izquierda" />
        <composite:attribute name="mostrarAuditoriaVal" default="mostrarAuditoriaVal" required="false" shortDescription="Muestra Auditoria" />
        <composite:attribute name="titulopop" default="Título" required="true" shortDescription="distancia desde la izquierda" />
        <composite:attribute name="accionCerrar" default="cerrarAuditoria" required="false" shortDescription="cierra el pop up" />

    </composite:interface>

    <composite:implementation>
        <h:form>
            <rich:popupPanel id="popAuditoria" modal="true" autosized="true"
                             resizeable="false" show="#{cc.attrs.controlador[cc.attrs.mostrarAuditoriaVal]}" >
                <div class="divCabeceraPopup">
                    <h:outputText value="#{cc.attrs.titulopop}"  />
                    <h:commandLink value="x"  
                                   action="#{cc.attrs.controlador[cc.attrs.accionCerrar]}" styleClass="lnkXCerrar" /> 
                </div>                
                <div class="divContenidoPop">
                    <h:panelGroup >                                        
                        <a4j:outputPanel ajaxRendered="true">
                            <h:outputLabel value="#{msgs.creadopor}:" /> 
                            <h:outputLabel value="#{cc.attrs.controlador['creado']}" /><br/>
                            <h:outputLabel value="#{msgs.fechacreacion}:" />
                            <h:outputLabel value="#{cc.attrs.controlador['fechacreacion']}" /><br/>
                            <h:outputLabel value="#{msgs.actualizadopor}:" />
                            <h:outputLabel value="#{cc.attrs.controlador['actualizado']}"/><br/>
                            <h:outputLabel value="#{msgs.fechaactualizacion}:" />
                            <h:outputLabel value="#{cc.attrs.controlador['fechaactualizacion']}"/><br/>
                        </a4j:outputPanel>
                    </h:panelGroup>
                </div>
                <div class="divBotonesPop">                      
                    <h:commandLink styleClass="separacionDerecha lnkButton icon-button icon-delete" value="#{msgs.cerrar}" action="#{cc.attrs.controlador[cc.attrs.accionCerrar]}" />
                </div>
            </rich:popupPanel>             

        </h:form>
    </composite:implementation>
</html>




