<?xml version="1.0" encoding="utf-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets">
    <composite:interface>

        <composite:attribute name="etiqueta" default="Confirmar" shortDescription="Define el valor de la etiqueta de confirmacion." />
        <composite:attribute name="etiquetaCabeceraError" default="Error" shortDescription="Define el valor de la etiqueta de mensaje de error." />
        <composite:attribute name="etiquetaCabeceraDetalle" default="Datos Correctos" shortDescription="Define el valor de la etiqueta de mensaje de datos correctos." />

        <composite:attribute name="mensajeCorrecto" default="mensajeCorrecto" shortDescription="Define el valor de mensaje." />
        <composite:attribute name="mensajeError" default="mensajeError" shortDescription="Define el valor de mensaje." />        
        <composite:attribute name="mensajeConfirmacion" default="mensajeConfirmacion" shortDescription="Define el valor de mensaje en confirmación." />        
        <composite:attribute name="controlador" required="true" shortDescription="Controlador del Mantenimiento."/>

        <composite:attribute name="verificarpanelEvento" default="verificarpanelEvento" required="false" shortDescription="Metodo que verifica la confirmacion."/>
        <composite:attribute name="valorBtnCancelar" default="Cancelar" shortDescription="Define el valor de boton cancelar." />
        <composite:attribute name="valorBtnAceptar" default="Aceptar" shortDescription="Define el valor de boton aceptar." />        
        <composite:attribute name="valorBtnGuardar" default="Guardar" shortDescription="Define el valor de boton guardar." />        

        <composite:attribute name="imagenInformacion" default="../../imagenes/iconInformation.png" shortDescription="Imagen de Mensaje (err,adv)" />   
        <composite:attribute name="imagenError" default="../../imagenes/iconError.png" shortDescription="Imagen de Mensaje (err,adv)" />   
        <composite:attribute name="imagenWarning" default="../../imagenes/iconWarning.png" shortDescription="Imagen de Mensaje (err,adv)" />   

        <composite:attribute name="anchoPopUpConfirmar" default="240" shortDescription="ancho de panel pop up confirmar" />   
        <composite:attribute name="anchoPopUpError" default="200" shortDescription="ancho de panel pop up error" />   
        <composite:attribute name="anchoPopUpDetalle" default="200" shortDescription="ancho de panel pop up detalle" />   

        <composite:attribute name="altoPopUpConfirmar" default="100" shortDescription="alto de panel pop up confirmar" />   
        <composite:attribute name="altoPopUpError" default="100" shortDescription="alto de panel pop up error" />   
        <composite:attribute name="altoPopUpDetalle" default="100" shortDescription="alto de panel pop up detalle" />   
        <composite:attribute name="mostrarDetalle" default="false" shortDescription="alto de panel pop up detalle" />   
        
        <composite:attribute name="paginaRedireccion" shortDescription="pagina a la que redirecciona luego de aceptar la modificacion" />   

    </composite:interface>

    <composite:implementation>              


        <a4j:jsFunction name="jsBtn" oncomplete="if (#{!cc.attrs.controlador[cc.attrs.verificarpanelEvento]}){#{rich:component('popConfToolBtn')}.hide(); #{rich:component('popDetalleToolToolError')}.show(); }else{#{rich:component('popConfToolBtn')}.hide();  #{rich:component('popDetalleTool')}.show(); return false;}"/>                                                

        <!-- Pop up de Confirmación -->            
        <rich:popupPanel id="popConfToolBtn" autosized="true" style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;">
            <div class="divCabeceraPopup">
                <h:outputText value="#{cc.attrs.etiqueta}"  />
            </div>

            <div class="divContenidoPop">
                <h:panelGroup>
                    <h:panelGrid columns="2">                        
                        <h:graphicImage value="#{cc.attrs.imagenWarning}" />  
                        <a4j:outputPanel ajaxRendered="true" >
                            <p class ="textoMensaje">
                                #{cc.attrs.controlador[cc.attrs.mensajeConfirmacion]}
                            </p>
                        </a4j:outputPanel>                    
                    </h:panelGrid>
                </h:panelGroup>
            </div>
            <div class="divBotonesPop">  
                <a4j:commandButton value="#{cc.attrs.valorBtnAceptar}" onclick="jsBtn();" oncomplete="#{rich:component('popConfToolBtn')}.hide();" styleClass="separacionDerecha icon-button icon-check" />
                <a4j:commandButton value="#{cc.attrs.valorBtnCancelar}" onclick="#{rich:component('popConfToolBtn')}.hide(); return false;" styleClass="separacionDerecha icon-button icon-delete"/>                          
            </div>
        </rich:popupPanel>             


        <!-- Pop up Detalle de error -->            
        <rich:popupPanel id="popDetalleToolToolError" autosized="true"  style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;"> 
            <div class="divCabeceraPopup">
                <h:outputText value="#{cc.attrs.etiquetaCabeceraError}"  />
                <a4j:commandButton value="x" 
                                   onclick="#{rich:component('popConfToolBtn')}.hide();  #{rich:component('popDetalleToolToolError')}.hide(); window.location.replace('#{cc.attrs.paginaRedireccion}');return true;" styleClass="btnXCerrar" />                          
            </div>   
            <div class="divContenidoPop">
                <h:panelGrid columns="2">
                    <h:graphicImage value="#{cc.attrs.imagenError}" />
                    <a4j:outputPanel ajaxRendered="true" >
                        <p class ="textoMensaje">
                            #{cc.attrs.controlador[cc.attrs.mensajeError]}
                        </p>
                    </a4j:outputPanel>               
                </h:panelGrid>          


                <a4j:outputPanel ajaxRendered="true" >
                    <rich:dataTable  value="#{cc.attrs.controlador['listaErrores']}" var="objerr" rendered="#{cc.attrs.mostrarDetalle}" >

                        <rich:column >
                            <f:facet name="header">
                                Identificador
                            </f:facet>
                            <h:outputText value="#{objerr.campo1}"/> 
                        </rich:column>

                        <rich:column >
                            <f:facet name="header">
                                Descripcion
                            </f:facet>
                            <h:outputText value="#{objerr.campo2}"/> 
                        </rich:column>

                    </rich:dataTable>
                </a4j:outputPanel>
            </div>     
                        
        </rich:popupPanel>  


        <!-- Pop up Detalle de datos correctos -->
        <rich:popupPanel id="popDetalleTool" autosized="true" style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;"> 
            <div class="divCabeceraPopup">
                <h:outputText value="#{cc.attrs.etiquetaCabeceraDetalle}"  />
                <a4j:commandButton value="x" 
                                   onclick="#{rich:component('popConfToolBtn')}.hide();  #{rich:component('popDetalleTool')}.hide();#{rich:component('popDetalleToolToolError')}.hide(); window.location.replace('#{cc.attrs.paginaRedireccion}'); return true;" styleClass="btnXCerrar" />                                             
            </div> 
            <div class="divContenidoPop">                                                           
                <h:panelGrid columns="2">                        
                    <h:graphicImage value="#{cc.attrs.imagenInformacion}" />  
                    <a4j:outputPanel ajaxRendered="true" >
                        <p class ="textoMensaje" >
                            #{cc.attrs.controlador[cc.attrs.mensajeCorrecto]}
                        </p>
                    </a4j:outputPanel>                   
                </h:panelGrid>
            </div>
        </rich:popupPanel> 



    </composite:implementation>
</html>
