<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j" 
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <composite:interface>

        <composite:attribute name="etiqueta" default="Confirmar" shortDescription="Define el valor de la etiqueta de confirmacion." />
        <composite:attribute name="etiquetaCabeceraError" default="Error" shortDescription="Define el valor de la etiqueta de mensaje de error." />
        <composite:attribute name="etiquetaCabeceraDetalle" default="Datos Correctos" shortDescription="Define el valor de la etiqueta de mensaje de datos correctos." />
        <composite:attribute name="etiquetaCabeceraLstDetalle" default="Listado de Cruces" shortDescription="Listado de errores." />

        <composite:attribute name="mensajeCorrecto" default="mensajeCorrecto" shortDescription="Define el valor de mensaje." />
        <composite:attribute name="mensajeError" default="mensajeError" shortDescription="Define el valor de mensaje." />        
        <composite:attribute name="mensajeConfirmacion" default="mensajeConfirmacion" shortDescription="Define el valor de mensaje en confirmación." />        
        <composite:attribute name="controlador" required="true" shortDescription="Controlador del Mantenimiento."/>

        <composite:attribute name="verificarpanelEvento" default="verificarpanelEvento" required="false" shortDescription="Metodo que verifica la confirmacion."/>
        <composite:attribute name="valorBtnCancelar" default="Cancelar" shortDescription="Define el valor de boton cancelar." />
        <composite:attribute name="valorBtnAceptar" default="Aceptar" shortDescription="Define el valor de boton aceptar." />        
        <composite:attribute name="valorBtnGuardar" default="Guardar" shortDescription="Define el valor de boton guardar." />        

        <composite:attribute name="imagenInformacion" default="../resources/Imagenes/iconInformation.png" shortDescription="Imagen de Mensaje (err,adv)" />   
        <composite:attribute name="imagenError" default="../resources/Imagenes/iconError.png" shortDescription="Imagen de Mensaje (err,adv)" />   
        <composite:attribute name="imagenWarning" default="../resources/Imagenes/iconWarning.png" shortDescription="Imagen de Mensaje (err,adv)" />   

        <composite:attribute name="anchoPopUpConfirmar" default="240" shortDescription="ancho de panel pop up confirmar" />   
        <composite:attribute name="anchoPopUpError" default="200" shortDescription="ancho de panel pop up error" />   
        <composite:attribute name="anchoPopUpDetalle" default="200" shortDescription="ancho de panel pop up detalle" /> 
        <composite:attribute name="anchoPopUpLstDetalle" default="300" shortDescription="ancho de panel pop up lista detalle errores" /> 

        <composite:attribute name="visibleBotonResumen" default="visibleBotonResumen" shortDescription="Variable que verifica si muestra el boton resumen" />         

        <composite:attribute name="altoPopUpConfirmar" default="100" shortDescription="alto de panel pop up confirmar" />   
        <composite:attribute name="altoPopUpError" default="100" shortDescription="alto de panel pop up error" />   
        <composite:attribute name="altoPopUpDetalle" default="100" shortDescription="alto de panel pop up detalle" />   
        <composite:attribute name="altoPopUpLstDetalle" default="500" shortDescription="alto de panel pop up lista detalle errores" /> 

        <composite:attribute name="listaErrores" default="listaErrores" shortDescription="lista de errores" /> 
        <composite:attribute name="campo3" default="Fecha Inicio" shortDescription="lista de errores" /> 
        <composite:attribute name="campo4" default="Fecha Final" shortDescription="lista de errores" /> 

        <composite:attribute name="paginaObjetivo" default="false" shortDescription="Pagina a la que regresa despues del registro correcto" />   


    </composite:interface>

    <composite:implementation>              
        <!--h:form id="form"-->            
        <a4j:jsFunction name="jsBtnDet"  oncomplete="if (#{!cc.attrs.controlador[cc.attrs.verificarpanelEvento]}){#{rich:component('popDetConfBtn')}.hide(); #{rich:component('popDetDetalleError')}.show(); }else{#{rich:component('popDetConfBtn')}.hide();  #{rich:component('popDetDetalle')}.show(); return false;}"/>                                                

        <!-- Pop up de Confirmación -->            
        <rich:popupPanel id="popDetConfBtn" autosized="true" style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;">
            <div class="divCabeceraPopup">
                <h:outputText value=" #{cc.attrs.etiqueta}" styleClass="tituloPopup"/>                         
            </div>

            <div class="divContenidoPop">
                <h:panelGroup>                    
                    <h:panelGrid columns="2">                        
                        <h:graphicImage value="#{cc.attrs.imagenWarning}" />  
                        <a4j:outputPanel ajaxRendered="true" >
                            <p class ="textoMensaje">
                                #{cc.attrs.controlador[cc.attrs.mensajeConfirmacion]}
                            </p>
                        </a4j:outputPanel>                    
                    </h:panelGrid>
                </h:panelGroup>
            </div>

            <div class="divBotonesPop">                    
                <a4j:commandButton value="#{cc.attrs.valorBtnAceptar}" onclick="jsBtnDet();" styleClass="separacionDerecha icon-button icon-check" />
                <a4j:commandButton value="#{cc.attrs.valorBtnCancelar}" 
                                   onclick="#{rich:component('popDetConfBtn')}.hide(); return false;" styleClass="separacionDerecha icon-button icon-delete"/>  
            </div>
        </rich:popupPanel>             

        <!-- Pop up Detalle de datos correctos -->
        <rich:popupPanel id="popDetDetalle" autosized="true" width="#{cc.attrs.anchoPopUpDetalle}" style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;" > 
            <div class="divCabeceraPopup">
                <h:outputText value="#{cc.attrs.etiquetaCabeceraDetalle}"  styleClass="tituloPopup"/> 
                <a4j:commandButton value="x"  
                                   onclick ="#{rich:component('popDetConfBtn')}.hide();  #{rich:component('popDetDetalle')}.hide(); window.location.replace('#{cc.attrs.paginaRedireccion}');return true;" styleClass="btnXCerrar" />                                   
            </div>   
            <div class="divContenidoPop">
                <h:panelGrid columns="2">                        
                    <h:graphicImage value="#{cc.attrs.imagenInformacion}" />  
                    <a4j:outputPanel ajaxRendered="true" >
                        <p class ="textoMensaje">
                            #{cc.attrs.controlador[cc.attrs.mensajeCorrecto]}
                        </p>
                    </a4j:outputPanel>                   
                </h:panelGrid>
            </div>
        </rich:popupPanel> 


        <!-- Pop up Detalle de error -->            
        <rich:popupPanel id="popDetDetalleError" autosized="true"  style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;"> 
            <div class="divCabeceraPopup">
                <h:outputText value="#{cc.attrs.etiquetaCabeceraError}" styleClass="tituloPopup"/>                    

                <a4j:commandButton value="x"  
                                   onclick ="#{rich:component('popDetConfBtn')}.hide();  #{rich:component('popDetDetalleError')}.hide(); window.location.replace('#{cc.attrs.paginaRedireccion}'); return true;" styleClass="btnXCerrar" />                                                                   
            </div> 
            <div class="divContenidoPop">  
                <h:panelGrid columns="2">
                    <h:graphicImage value="#{cc.attrs.imagenError}" />
                    <a4j:outputPanel ajaxRendered="true" >
                        <p class ="textoMensaje">
                            #{cc.attrs.controlador[cc.attrs.mensajeError]}
                        </p>
                    </a4j:outputPanel>                                                     
                </h:panelGrid>   
            </div>
            <div class="divBotonesPop">  
                <a4j:outputPanel ajaxRendered="true" >
                    <a4j:commandButton value="Ver Resumen"  rendered="#{cc.attrs.controlador[cc.attrs.visibleBotonResumen]}"
                                       onclick ="#{rich:component('popDetDetalleError')}.hide();  #{rich:component('popLstDetalleErrores')}.show(); return true;" >                           
                    </a4j:commandButton>
                </a4j:outputPanel>
            </div>
        </rich:popupPanel>  


        <!-- Pop up Detalle lista de errores -->
        <rich:popupPanel id="popLstDetalleErrores" autosized="true" width="#{cc.attrs.anchoPopUpLstDetalle}"  style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;"> 
            <div class="divCabeceraPopup">
                <h:outputText value="#{cc.attrs.etiquetaCabeceraLstDetalle}" styleClass="tituloPopup"/>                                  

                <a4j:commandButton value="x"  
                                   onclick ="#{rich:component('popDetConfBtn')}.hide();  #{rich:component('popLstDetalleErrores')}.hide(); window.location.replace('#{cc.attrs.paginaRedireccion}'); return true;" styleClass="btnXCerrar" />                           
            </div>   
            <div class="divContenidoPop">  
                <h:panelGrid columns="2">                        

                    <a4j:outputPanel ajaxRendered="true" >

                        <h:panelGroup>
                            <rich:dataTable id="tblLista" value="#{cc.attrs.controlador[cc.attrs.listaErrores]}" var="Items" >                                
                                <rich:column>
                                    <f:facet name="header">
                                        #{msgs.mensaje}
                                    </f:facet>
                                    <h:panelGrid columns="1">
                                        <h:outputLabel value="#{Items.campo2}" rendered="true" /> 
                                    </h:panelGrid>
                                </rich:column>                                            
                                <rich:column>
                                    <f:facet name="header">
                                        #{cc.attrs.campo3}                                        
                                    </f:facet>
                                    <h:panelGrid columns="1">
                                        <h:outputLabel value="#{Items.campo3}" rendered="true" /> 
                                    </h:panelGrid>
                                </rich:column>

                                <rich:column>
                                    <f:facet name="header">                                        
                                        #{cc.attrs.campo4}
                                    </f:facet>
                                    <h:panelGrid columns="1">
                                        <h:outputLabel value="#{Items.campo4}" rendered="true" /> 
                                    </h:panelGrid>
                                </rich:column>
                            </rich:dataTable>                                                                            
                        </h:panelGroup>                        
                    </a4j:outputPanel>                   
                </h:panelGrid>
            </div>
        </rich:popupPanel>  
        <!--/h:form-->
    </composite:implementation>
</html>