<?xml version="1.0" encoding="utf-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets">
    <composite:interface>
        <composite:attribute name="titulo" default="Detalles" shortDescription="Define el tiulo del popup." />

        <composite:attribute name="controlador" required="true" shortDescription="Controlador del Mantenimiento."/>

        <composite:attribute name="verificarpanelEvento" default="verificarpanelEvento" required="false" shortDescription="Metodo que verifica la confirmacion."/>
        <composite:attribute name="valorBtnIzquierda" default="Cancelar" shortDescription="Define el valor de boton de la izquierda." />
        <composite:attribute name="valorBtnCentror" default="Aceptar" shortDescription="Define el valor de boton del centro." />        
        <composite:attribute name="valorBtnDerecha" default="Guardar" shortDescription="Define el valor de boton de la derecha." />        

        <composite:attribute name="anchoPopUp" default="240" shortDescription="ancho de panel pop up confirmar" />   
        <composite:attribute name="altoPopUp" default="100" shortDescription="alto de panel pop up confirmar" />   

        <composite:attribute name="mostrarDetalle" default="false" shortDescription="alto de panel pop up detalle" />   

        <composite:attribute name="paginaRedireccion" shortDescription="pagina a la que redirecciona luego de aceptar la modificacion" />   

        <composite:attribute name="objetoVisualizacion" shortDescription="objeto que contiene la informacion a mostrar" />   
        
    </composite:interface>

    <composite:implementation>              
        <a4j:jsFunction name="jsBtn" oncomplete="if (#{!cc.attrs.controlador[cc.attrs.verificarpanelEvento]}){#{rich:component('popDetails')}.hide(); }else{#{rich:component('popDetails')}.hide();  return false;}"/>                                                

        <!-- Pop up de Detalles -->            
        <rich:popupPanel id="popDetails" autosized="true" style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;">
            <div class="divCabeceraPopup">
                <h:outputText value="#{cc.attrs.titulo}" />
            </div>
            <div class="divContenidoPop">
                <h:panelGrid columns="2" style="padding-left: 40px; width: 400px">

                    <h:outputLabel value="#{msgs.institucion}:" />
                  <!--  <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.sraInstituciones.nombre}" class="lblCampoBlack"/>

                    <h:outputLabel value="#{msgs.grupo}:" class="lblNombreCampo"/>
                    <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.sraGrupos.nombre}"  class="lblCampoBlack"/>

                    <h:outputLabel value="#{msgs.subgrupos}:" class="lblNombreCampo"/>
                    <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.sraSubgrupos.nombre}"  class="lblCampoBlack"/>

                    <h:outputLabel value="#{msgs.persona}:" class="lblNombreCampo"/>
                    <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.sraPersonas.personasNaturales.nombres}"  class="lblCampoBlack"/>

                    <h:outputLabel value="#{msgs.cedula}:" class="lblNombreCampo"/>
                    <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.sraPersonas.id}"  class="lblCampoBlack"/>

                    <h:outputLabel value="#{msgs.tipoeventualidad}:" class="lblNombreCampo"/>
                    <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.sraTiposEventualidades.nombre}"  class="lblCampoBlack"/>

                    <h:outputLabel value="#{msgs.ambito}:" class="lblNombreCampo"/>
                    <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.ambito}"  class="lblCampoBlack"/>

                    <h:outputLabel value="#{msgs.motivo}:" class="lblNombreCampo"/>
                    <h:inputTextarea value="#{ctrRegistroAprJust.selJustificacion.motivo}"  class="lblCampoBlack" rows="3" disabled="true"/>

                    <h:outputLabel value="#{msgs.observaciones}:" class="lblNombreCampo"/>
                    <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.observaciones}"  class="lblCampoBlack"/>

                    <h:outputLabel value="#{msgs.fechacreacion}:" class="lblNombreCampo" />
                    <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.fechaCreacion}"  class="lblCampoBlack"/>

                    <h:outputLabel value="#{msgs.fechaactualizacion}:" class="lblNombreCampo"/>
                    <h:outputLabel value="#{ctrRegistroAprJust.selJustificacion.fechaActualizacion}"  class="lblCampoBlack"/> -->


                </h:panelGrid> 
            </div>
            <div class="divBotonesPop">  
                <a4j:commandButton value="#{cc.attrs.valorBtnIzquierda}" onclick="jsBtn();" oncomplete="#{rich:component('popDetails')}.hide();" styleClass="separacionDerecha icon-button icon-check" />
                <a4j:commandButton value="#{cc.attrs.valorBtnCentro}" onclick="jsBtn();" oncomplete="#{rich:component('popDetails')}.hide();" styleClass="separacionDerecha icon-button icon-check" />
                <a4j:commandButton value="#{cc.attrs.valorBtnDerecha}" onclick="#{rich:component('popDetails')}.hide(); return false;" styleClass="separacionDerecha icon-button icon-delete"/>                          

               <!--  <a4j:commandButton  id="btnAutorizar" disabled="#{ctrRegistroAprJust.mostrarOpcionesVerificacion}" action="#{ctrRegistroAprJust.eventoAprobar()}"  oncomplete="#{rich:component('popConfBtn')}.show();"  render="exttablelist" value="#{msgs.aprobar}" immediate="true" />
                <a4j:commandButton  id="btnRechazar" disabled="#{ctrRegistroAprJust.mostrarOpcionesVerificacion}" action="#{ctrRegistroAprJust.eventoRechazar()}"  oncomplete="#{rich:component('popConfBtn')}.show()"  render="exttablelist" value="#{msgs.rechazar}" immediate="true" />
                <a4j:commandButton id="btnCerrarpop" action="#{ctrRegistroAprJust.cerrarDetalle}"  render="@form" value="#{msgs.cancelar}" styleClass="icon-button icon-delete" immediate="true" /> -->
            </div>
        </rich:popupPanel>             
    </composite:implementation>
</html>
