<?xml version="1.0" encoding="utf-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j" 
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <cc:interface>
        <cc:attribute name="controlador" required="false" shortDescription="controlador a usar, por defecto, ctrSession " />
        <cc:attribute name="mostrarPop" required="false" default="showPopM" shortDescription="controlador a usar, por defecto, ctrSession " />
        <cc:attribute name="titulo" required="false" default="tituloPopM" shortDescription="controlador a usar, por defecto, ctrSession " />
        <cc:attribute name="cerrarPop" required="false" default="cerrarPopMensajes" shortDescription="controlador a usar, por defecto, ctrSession " />
        <cc:attribute name="imagen" required="false" default="imagenPopM" shortDescription="controlador a usar, por defecto, ctrSession " />
        <cc:attribute name="mensaje" required="false" default="mensajePopM" shortDescription="controlador a usar, por defecto, ctrSession " />

    </cc:interface>

    <cc:implementation>  
        <ui:param name="ctr" value="#{cc.attrs.controlador==null ? ctrSession : cc.attrs.controlador}" />
        <h:form >
            <rich:popupPanel id="mensajesPop" modal="true" autosized="true" 
                             resizeable="false" show="#{ctr[cc.attrs.mostrarPop]}" style="position:absolute; background-color: #FFFFFF; width:250px;">
                <div class="divCabeceraPopup">
                    <h:outputText value="#{ctr[cc.attrs.titulo]}"  />
                    <h:commandLink value="X" styleClass="btnXCerrar" action="#{ctr[cc.attrs.cerrarPop]}" />
                </div>                
                <div class="divContenidoPop">
                    <h:panelGrid columns="2" cellpadding="2" cellspacing="2">  
                        <h:graphicImage value="#{ctr[cc.attrs.imagen]}" />
                        <p class ="textoMensaje">
                            #{ctr[cc.attrs.mensaje]}
                        </p>
                    </h:panelGrid>
                </div>
                <div class="divBotonesPop">  
                    <h:commandLink styleClass="separacionDerecha lnkButton icon-button icon-delete" value="#{msgs.cerrar}" action="#{ctr[cc.attrs.cerrarPop]}" />
                </div>

            </rich:popupPanel>
        </h:form>
    </cc:implementation>
</html>
