<?xml version="1.0" encoding="utf-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets">
    <composite:interface>

        <composite:attribute name="etiqueta" default="Confirmar" shortDescription="Define el valor de la etiqueta de confirmacion." />
        <composite:attribute name="etiquetaCabeceraError" default="Error" shortDescription="Define el valor de la etiqueta de mensaje de error." />
        <composite:attribute name="etiquetaCabeceraDetalle" default="Datos Correctos" shortDescription="Define el valor de la etiqueta de mensaje de datos correctos." />

        <composite:attribute name="mensajeCorrecto" default="mensajeCorrecto" shortDescription="Define el valor de mensaje." />
        <composite:attribute name="mensajeError" default="mensajeError" shortDescription="Define el valor de mensaje." />        
        <composite:attribute name="mensajeConfirmacion" default="mensajeConfirmacion" shortDescription="Define el valor de mensaje en confirmación." />        
        <composite:attribute name="controlador" required="true" shortDescription="Controlador del Mantenimiento."/>

        <composite:attribute name="verificarpanelEvento" default="verificarpanelEvento" required="false" shortDescription="Metodo que verifica la confirmacion."/>
        <composite:attribute name="valorBtnCancelar" default="Cancelar" shortDescription="Define el valor de boton cancelar." />
        <composite:attribute name="valorBtnAceptar" default="Aceptar" shortDescription="Define el valor de boton aceptar." />        
        <composite:attribute name="valorBtnGuardar" default="Guardar" shortDescription="Define el valor de boton guardar." />        
        <composite:attribute name="valorBtnCerrar" default="Cerrar" shortDescription="Define el valor de boton cerrar." />        

        <composite:attribute name="imagenInformacion" default="../../imagenes/iconInformation.png" shortDescription="Imagen de Mensaje (err,adv)" />   
        <composite:attribute name="imagenError" default="../../imagenes/iconError.png" shortDescription="Imagen de Mensaje (err,adv)" />   
        <composite:attribute name="imagenWarning" default="../../imagenes/iconWarning.png" shortDescription="Imagen de Mensaje (err,adv)" />   

        <composite:attribute name="anchoPopUpConfirmar" default="240" shortDescription="ancho de panel pop up confirmar" />   
        <composite:attribute name="anchoPopUpError" default="200" shortDescription="ancho de panel pop up error" />   
        <composite:attribute name="anchoPopUpDetalle" default="200" shortDescription="ancho de panel pop up detalle" />   

        <composite:attribute name="altoPopUpConfirmar" default="100" shortDescription="alto de panel pop up confirmar" />   
        <composite:attribute name="altoPopUpError" default="100" shortDescription="alto de panel pop up error" />   
        <composite:attribute name="altoPopUpDetalle" default="100" shortDescription="alto de panel pop up detalle" />   

        <composite:attribute name="paginaObjetivo" default="false" shortDescription="Pagina a la que regresa despues del registro correcto" />   

    </composite:interface>

    <composite:implementation>              


        <a4j:jsFunction name="jsBtn" oncomplete="if (#{!cc.attrs.controlador[cc.attrs.verificarpanelEvento]}){#{rich:component('popConfBtn')}.hide(); #{rich:component('popDetalleError')}.show(); }else{#{rich:component('popConfBtn')}.hide();  #{rich:component('popDetalle')}.show(); return false;}"/>                                                

        <!-- Pop up de Confirmación -->            
        <rich:popupPanel id="popConfBtn" autosized="true" style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;">
            <div class="divContenidoPop">
                <h:panelGrid columns="2">                        
                    <h:graphicImage value="#{cc.attrs.imagenWarning}" styleClass="icon-pop"/>  
                    <a4j:outputPanel ajaxRendered="true" >
                        <p class ="textoMensaje">
                            #{cc.attrs.controlador[cc.attrs.mensajeConfirmacion]}
                        </p>
                    </a4j:outputPanel>                    
                </h:panelGrid>
            </div>
            <div class="divBotonesPop">                      
                <a4j:commandButton value="#{cc.attrs.valorBtnAceptar}" onclick="jsBtn(); #{rich:component('popConfBtn')}.hide();" oncomplete="#{rich:component('popConfBtn')}.hide();" styleClass="separacionDerecha icon-button icon-check" />
                <a4j:commandButton value="#{cc.attrs.valorBtnCancelar}" 
                                   onclick="#{rich:component('popConfBtn')}.hide(); return false;" styleClass="separacionDerecha icon-button icon-delete"/>                          
            </div>
        </rich:popupPanel>             


        <!-- Pop up Detalle de error -->            
        <rich:popupPanel id="popDetalleError" autosized="true"  style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;"> 
            <div class="divCabeceraPopup">
                <h:outputText value="#{cc.attrs.etiquetaCabeceraError}"/>
                <a4j:commandButton value="x" 
                                   onclick="#{rich:component('popConfBtn')}.hide();  #{rich:component('popDetalleError')}.hide(); return true;" styleClass="btnXCerrar" />                          
            </div>                
            <div class="divContenidoPop">
                <h:panelGrid columns="2">
                    <h:graphicImage value="#{cc.attrs.imagenError}" styleClass="icon-pop"/>
                    <a4j:outputPanel ajaxRendered="true" >
                        <!-- <h:outputText id="msnerr" value="#{cc.attrs.controlador[cc.attrs.mensajeError]}" style="width:180px " /> -->
                        <p class ="textoMensaje">
                            #{cc.attrs.controlador[cc.attrs.mensajeError]}
                        </p>
                    </a4j:outputPanel>               
                </h:panelGrid>                
            </div>
            <div class="divBotonesPop">                      
                <a4j:commandButton value="#{cc.attrs.valorBtnCerrar}" 
                                   onclick="#{rich:component('popConfBtn')}.hide();  #{rich:component('popDetalleError')}.hide(); return true;" styleClass="separacionDerecha icon-button icon-delete"/>                          
            </div>
        </rich:popupPanel>  


        <!-- Pop up Detalle de datos correctos -->
        <!--<rich:popupPanel id="popDetalle" autosized="true" width="#{cc.attrs.anchoPopUpDetalle}"  > -->
        <rich:popupPanel id="popDetalle" autosized="true" style="position:absolute; background-color: #FFFFFF; width:300px; background: khaki;"> 
            <div class="divCabeceraPopup">
                <h:outputText value="#{cc.attrs.etiquetaCabeceraDetalle}"/>                                 
                <a4j:commandButton value="x" styleClass="btnXCerrar"
                                   onclick ="#{rich:component('popConfBtn')}.hide();  #{rich:component('popDetalle')}.hide();window.location='#{cc.attrs.paginaObjetivo}.xhtml'; return true;" >                           
                </a4j:commandButton>     
            </div>
            <div class="divContenidoPop">
                <h:panelGrid columns="2">                        
                    <h:graphicImage value="#{cc.attrs.imagenInformacion}"  styleClass="icon-pop"/>  
                    <a4j:outputPanel ajaxRendered="true" >
                        <!-- <h:outputText id="msnDetalle"  value="#{cc.attrs.controlador[cc.attrs.mensajeCorrecto]}"  style="width:180px " />  -->
                        <p class ="textoMensaje">
                            #{cc.attrs.controlador[cc.attrs.mensajeCorrecto]}
                        </p>
                    </a4j:outputPanel>                   
                </h:panelGrid>
            </div>
            <div class="divBotonesPop">                      
                <a4j:commandButton value="#{cc.attrs.valorBtnAceptar}" 
                                   styleClass="separacionDerecha icon-button icon-check"
                                   onclick ="#{rich:component('popConfBtn')}.hide();  #{rich:component('popDetalle')}.hide();window.location='#{cc.attrs.paginaObjetivo}.xhtml'; return true;"/>                          
            </div>
        </rich:popupPanel> 
    </composite:implementation>
</html>

