<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:cj="http://java.sun.com/jsf/composite/components" 
      xmlns:a4j="http://richfaces.org/a4j">
    <composite:interface>
        <composite:attribute name="etiqueta" shortDescription="Define el valor de la etiqueta." />
        <composite:attribute name="mensajerequerido" default="este campo" shortDescription="Ejemplo: la edad, el resultado sera completado:Es necesario ingresar la edad.  Mensaje cuando se deja vacio el campo, funciona unicamente cuando tiene el atributo: requerido=true."  />
        <composite:attribute name="maxcaracteres" default="100" shortDescription="Maximo número de caracteres del campo de ingreso de texto." />
        <composite:attribute name="estiloclasstxt" default="txtCampo" shortDescription="Estilo aplicado al campo de texto" />
        <composite:attribute name="ancholabels" default="100px" shortDescription="Configuracion del la columna de la etiqueta." />
        <composite:attribute name="anchoimputs" default="400px" shortDescription="Configuracion del la columna de la campo de ingreso de texto. " />
        <composite:attribute name="anchototal" default="500px" shortDescription="Ancho Total del Panel. " />
        <composite:attribute name="valor" required="true" shortDescription="Value del campo de ingreso de texto." />
        <composite:attribute name="requerido" default="false" shortDescription="Valida que el campo no este en blanco" />
        <composite:attribute name="campoNombre" default="true" shortDescription="Nombre del campo a mostrar" />

        <composite:editableValueHolder name="input,inputBuscar" />

        <composite:attribute name="seleccionado" default="selection" shortDescription="Value del seleccionado de la grilla." />
        <composite:attribute name="listaObjetos" required="true" shortDescription="Listo de Objetos." />
        <composite:attribute name="listaColumnas" required="true" shortDescription="Lista de columnas a visualizar." />
        
        <composite:attribute name="selectionListener" />  

        <composite:attribute name="valorBuscar" default="valorBuscar" shortDescription="Valor del campo buscar." />
        <composite:attribute name="controlador" required="true" shortDescription="Controlador del Mantenimiento."/>
        <composite:attribute name="accionBuscar" required="true" method-signature="void selectionListener()" shortDescription=" buscar entre los items" />

        <composite:attribute name="accionCerrar" default="cerrarpanelEvento"  shortDescription=" Accion de Cerrar Panel" />
        <composite:attribute name="mostrarpanelEvento" default="mostrarpanelEvento" shortDescription="Metodo para Mostrar y ocultar panel" />
        <composite:attribute name="mostrarpanel" default="mostrarpanel" shortDescription="Objeto que muestra el panel" />
        <composite:attribute name="leftpop" default="400" required="false" shortDescription="distancia desde la izquierda" />
        <composite:attribute name="toppop" default="150px" required="false" shortDescription="distancia desde la izquierda" />

        <composite:attribute name="titulopop" default="Título" required="true" shortDescription="distancia desde la izquierda" />

        <composite:attribute name="mostrarHorizontal" default ="false" shortDescription="Muestra el mensaje de error a un lado y no abajo."/>                        
        <composite:attribute name="desabilitar" default ="false" shortDescription="Desabilitar el componente."/>                        
        <composite:attribute name="desabilitartexto" default ="true" shortDescription="Desabilitar el componente."/>                        

        <composite:attribute name="accionNuevaPersona" default="nuevaPersona" required="false"  shortDescription="Acción de creacion de persona."/>
        <composite:attribute name="etiquetaBtnNueva" default="Nueva Persona" required="false"  shortDescription="Acción de creacion de persona."/>
        <composite:attribute name="verNuevaPersona" required="false" default="false"  shortDescription="Mostrar el boton de nueva persona" />

    </composite:interface>

    <composite:implementation>

        <h:outputScript name="../resources/js/jQuery.js"></h:outputScript>
        <rich:panel id="ccpanelListadoPop" >
            <h:outputLabel for="input" value="#{cc.attrs.etiqueta} : " class="lblNombreCampo" />
            <h:panelGrid columns="#{cc.attrs.mostrarHorizontal==true ? 3 : 2}" style="padding: 0px; margin: 0px" >
                <h:inputText   id="inputPopSearch" 
                                value="#{cc.attrs.valor}"   
                                style="float:left; width: #{cc.attrs.anchoimputs}" 
                                styleClass="#{cc.attrs.estiloclasstxt}"
                                maxlength="#{cc.attrs.maxcaracteres}"
                                disabled="#{cc.attrs.desabilitartexto}"
                                onkeydown="return blockEnter(event);"
                                />   

                <a4j:commandButton value=" " styleClass="btnBuscar" action="#{cc.attrs.controlador[cc.attrs.mostrarpanelEvento]}" immediate="true"  render="tablapoplist" disabled="#{cc.attrs.desabilitar}" ></a4j:commandButton> 

                <rich:message for="input" id="msg" />
            </h:panelGrid>

            <a4j:outputPanel id="tablapoplist"   ajaxRendered="true"  >    
                <rich:panel id="regioncuadrobuscar" style="border: 0px;height: 0px;"  rendered="#{cc.attrs.controlador[cc.attrs.mostrarpanel]}"  >
                    <div class="divBackground"></div> 
                    <div class="divBordePopPersona">
                        <div class="divPopupPersona">
                            <a4j:region  >
                                <div class="divCabeceraPopup">
                                    <h:outputText  id ="pnTituloConfir"  value="#{cc.attrs.titulopop}" styleClass="tituloPopup" /> 
                                    <a4j:commandButton  id="btnCerrarConfir" action="#{cc.attrs.controlador[cc.attrs.accionCerrar]}" immediate="true"   render="exttablelist" styleClass="btnXCerrar" value="X" />
                                </div>

                                <div align="center">
                                    <h:panelGrid columns="3"  >
                                        <a4j:region>
                                            <h:outputText value="Buscar:" styleClass="lblNombreCampoListaOpciones"/>
                                            <a4j:outputPanel ajaxRendered="true" >
                                                <h:inputText id="inputBuscar"  value="#{cc.attrs.controlador[cc.attrs.valorBuscar]}"   style="width:180px" styleClass="separacionDerecha" onkeydown="return blockEnter(event);" >
                                                    <a4j:ajax event="change" listener="#{cc.attrs.accionBuscar}" immediate="true" execute="btnBuscarListpop"/>
                                                </h:inputText>
                                            </a4j:outputPanel>
                                            <h:commandButton   id="btnBuscarListpop"  immediate="true"  value="Buscar" styleClass="separacionDerecha icon-button icon-search" >
                                                <a4j:ajax event="focus" listener="#{cc.attrs.accionBuscar}" immediate="true"   render="exttablelist"/>
                                            </h:commandButton>
                                        </a4j:region>
                                    </h:panelGrid>
                                    <cj:dataTable  controlador="#{cc.attrs.controlador}" listaObjetos="#{cc.attrs.listaObjetos}" listaColumnas="#{cc.attrs.listaColumnas}" verCheck="false" selectionListener="#{cc.attrs.selectionListener}" render="inputPopSearch"/>
                                    <a4j:commandButton value="#{cc.attrs.etiquetaBtnNueva}" action="#{cc.attrs.controlador[cc.attrs.accionNuevaPersona]}" rendered="#{cc.attrs.verNuevaPersona}" oncomplete="window.location='/SgeiSiuc/faces/mantenimientos/frmRegistroPersonas.xhtml';" immediate="true" />
                                </div>
                            </a4j:region>
                        </div>
                    </div>
                </rich:panel>
            </a4j:outputPanel>
        </rich:panel> 
    </composite:implementation>
</html>