<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich" 
      >
    <composite:interface>
        <composite:attribute name="etiqueta" shortDescription="Define el valor de la etiqueta." />
        <composite:attribute name="listaItems" shortDescription="Define la lista de items a escoger." />
        <composite:attribute name="mensajerequerido" default="este campo" shortDescription="Ejemplo: la edad, el resultado sera completado:Es necesario ingresar la edad.  Mensaje cuando se deja vacio el campo, funciona unicamente cuando tiene el atributo: requerido=true."  />
        <composite:attribute name="estiloclasstxt" default="txtCampo"  shortDescription="Estilo aplicado al campo de texto" />
        <composite:attribute name="direccion" default="lineDirection" shortDescription="Se puede usar pageDirection para dar efecto vertical.Por defecto es horizontal" />
        <composite:attribute name="ancholabels" default="100px" shortDescription="Configuracion del la columna de la etiqueta." />
        <composite:attribute name="anchoimputs" default="400px" shortDescription="Configuracion del la columna de la campo de ingreso de texto. " />
        <composite:attribute name="anchototal" default="500px" shortDescription="Tamano total del componente. " />
        <composite:attribute name="valor" required="true" shortDescription="Value del campo de ingreso de texto." />
        <composite:attribute name="requerido" default="false" shortDescription="Valida que el campo no este en blanco" />

        <composite:editableValueHolder name="select" />
    </composite:interface>

    <composite:implementation>
        <h:outputLabel for="select" value="#{cc.attrs.etiqueta} : " class="lblNombreCampo"/>
        <h:panelGroup >
            <h:panelGrid columns="2"  >
                <h:selectOneMenu  id="select"    
                                  value="#{cc.attrs.valor}" 
                                  required="#{cc.attrs.requerido}"
                                  requiredMessage="Es necesario seleccionar #{cc.attrs.mensajerequerido}."
                                  styleClass="#{cc.attrs.estiloclasstxt}"
                                  style="width:#{cc.attrs.anchoimputs} "
                                  onkeydown="return blockEnter(event);"
                                  >
                    <f:ajax event="change"  />
                    <f:selectItems value="#{cc.attrs.listaItems}" />
                </h:selectOneMenu>
                <rich:message for="select" id="msg" />
            </h:panelGrid>
        </h:panelGroup>
    </composite:implementation>
</html>
