<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich" 
      xmlns:a4j="http://richfaces.org/a4j"
      >
    <composite:interface>        
        <composite:attribute name="mensajeProgress" default="Espere un momento, por favor." shortDescription="Define el valor de la etiqueta." />
        <composite:attribute name="imagenProgress" default="" shortDescription="Define el valor de la etiqueta." />
        <composite:attribute name="nameProgress" default="nameProgress" shortDescription="Define el nombre del estado del componente procesando." />

    </composite:interface>

    <composite:implementation>

        <a4j:status onstart="#{rich:component('panelProgreso')}.show()"
            onstop="#{rich:component('panelProgreso')}.hide()"                     
                     name="#{cc.attrs.nameProgress}"/>


        <rich:popupPanel id="panelProgreso" autosized="true">
            <div style="text-align: center;">
                <div style="padding-bottom: 10px">
                    <span class="mensajeGris">#{cc.attrs.mensajeProgress}  <br /> Procesando... </span>
                </div>
                <h:graphicImage value="#{cc.attrs.imagenProgress}" alt="" />
            </div>
        </rich:popupPanel>

    </composite:implementation>
</html>