<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Principal - Inicio de Sesión</title>
    </h:head>
    <h:body>
        <ui:composition>
            <div style="width: 100%; height: 100%; background-image: url(/CentroSurCM/faces/imagenes/fondo.png) !important; background-repeat: repeat-x;">
                <center>
                    <div><br />
<!--                        <span style="font-size: 20px; font-family:verdana; color: #525252;"><b>Centro Sur</b></span><br />
                        <span style="font-size: 14px; font-family:verdana; color:#8B8B87;">Iluminando el Futuro</span><br /><br />-->
                        <img src="/CentroSurCM/faces/imagenes/logo.png" style="height:70px;" /><br /><br />
                    </div>
                    <br />
                    <div id="content" style="background-color: #5195FF; width:400px; -moz-border-radius:10px; -webkit-border-radius:10px;">
                        <br /><br />
                        <h:form>
                            <table class="login" style=" font-family: arial; font-size:12px;  margin-left: auto; margin-right: auto; width:250px;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong><label for="email" style="color: #525252">Nombre de Usuario</label></strong><br />
                                <h:inputText   id="username" value="#{ctrInicial.usuarioP}" style="width: 250px;" maxlength="100"/> 
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                <strong><label for="password" style="color: #525252">Contraseña</label></strong><br />
                                                <h:inputSecret   id="password"  value="#{ctrInicial.contraseniaP}" style="width: 250px;"/> 
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px;">
                                    <h:commandButton id="mybutton" value="Iniciar Sesión" action="#{ctrInicial.validar()}"/>
                                        </td>
                                        
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <h:outputText value="#{ctrInicial.mensajerror}" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </h:form>
                        <br /><br />
                    </div>
                </center>
            </div>
        </ui:composition>
    </h:body>
</html>